.email-container {
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 4px;
}
.email-container:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.form-switch .form-check-input {
    width: 2em;
    margin-left: -1.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position 0.15s ease-in-out;
    background-color: orangered;
}
#checkStatus{
    box-shadow: none;
}
input.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}
input#search{
    padding: 4px 15px;
}
input#search:focus{
    border: 1px solid royalblue;
    color: dodgerblue;
}
