:root{
    /* --nav-button-background:linear-gradient(to top, #565656, #646464, #00000087, #495057); */
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --nav-button-color:white;
    --nav-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --row-hover-border:dodgerblue;
    /* button btn-primary */
    --mdb-btn-bg: #3b71ca;
    --mdb-btn-color: #fff;
    --mdb-btn-border-color:#3b71ca;
    --mdb-btn-box-shadow: 0 4px 9px -4px #386bc0;
    --mdb-btn-hover-bg: #386bc0;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #386bc0;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #3566b6;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(56, 107, 192, 0.3), 0 4px 18px 0 rgba(56, 107, 192, 0.2);
}
htm,body{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    padding: 0;
    margin: 0;
}
.loader_chart {
    background-color: orange;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    border-bottom: 6px solid darkgreen;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
    margin-top: -1.5em;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
/* Adjust the width of the autocomplete input search able dropdown */
.ui-menu {
    width: 200px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 2px 0;
    z-index: 1000;
    background-color: white;
}

/* Customize each item in the autocomplete dropdown */
.ui-menu .ui-menu-item {
    padding: 1px 1px;
    cursor: pointer;
}

/* Style for the image inside each item */
.ui-menu .ui-menu-item img.user_img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Style for the hovered item */
.ui-menu .ui-state-hover {
    background-color: #f0f0f0;
    border-left: 4px solid #007bff;
}

/* Make sure the image is properly aligned in autocomplete suggestions */
.ui-menu .ui-menu-item .ui-menu-item-wrapper {
    display: flex;
    align-items: center; /
}

/* Fix the alignment of labels */
.ui-menu-item-wrapper span {
    margin-left: 10px;
}
.form-control-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
    padding: 0.15rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}
.progress {
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 0;
}
.bg-primary {
    --bs-bg-opacity: 1;
    --bs-primary-rgb: 13, 110, 253;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.page-item:first-child .page-link, .page-item:first-child .datatable-pagination a, .datatable-pagination .page-item:first-child a, .datatable-pagination li:first-child .page-link, .datatable-pagination li:first-child a {
    background: linear-gradient(to bottom, silver, transparent, silver, lightgray);
    color: black;
    font-size: 11px;
    font-weight: 700;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-family: sans-serif;
    height: 21px;
    margin-top: -1px;
}
.page-item:last-child .page-link, .page-item:last-child .datatable-pagination a, .datatable-pagination .page-item:last-child a, .datatable-pagination li:last-child .page-link, .datatable-pagination li:last-child a {
    background: linear-gradient(to bottom, silver, transparent, silver, lightgray);
    color: black;
    font-size: 11px;
    font-weight: 700;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-family: sans-serif;
    height: 21px;
    margin-top: -1px;
}
select> option{
    font-weight: 600;
    color: black;
    background: orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    font-size: 12px;
}
.nav {
    --bs-nav-link-padding-x: 0.5rem;
    --bs-nav-link-padding-y: 0.2rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #dee2e6;
    /* --bs-nav-tabs-border-radius: 0.375rem; */
    --bs-nav-tabs-border-radius: 0.1rem;
    --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
    --bs-nav-tabs-link-active-color: #495057;
    --bs-nav-tabs-link-active-bg: #fff;
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
li.nav-item {
    height: 26px;
}
.nav-link.setting.active{
    font-family: var(--nav-font-family);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    background-image: var(--nav-button-background);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    font-size: 13px;
    opacity: 1;
    font-variant: all-petite-caps;
    text-align: center;
    font-weight: 700;
}
.nav-link.setting {
    font-family: var(--nav-font-family);
    display: block;
    color: black;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-size: 13px;
    opacity: 1;
    font-variant: all-petite-caps;
    text-align: center;
    font-weight: 700;
}
.nav-link.setting:hover{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    letter-spacing: 0.3px;
    font-size: 13px;
    opacity: 1;
    font-variant: all-petite-caps;
    text-align: center;
    font-weight: 700;
}
button.refresh-btn{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    font-size: 13px;
    line-height: .2;
    opacity: 1;
    text-align: center;
    font-weight: 700;
    border-color: var(--mdb-btn-border-color);
    outline: none;
}
button.refresh-btn:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 8px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.15), 0 4px 18px 0 rgba(var(--mdb-box-shadow-color-rgb), 0.1);
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    opacity: 1;
    border-color: var(--mdb-btn-border-color);
    outline: none;
}
button.refresh-btn:focus {
    box-shadow: var(--mdb-btn-box-shadow-state);
    background-color: var(--mdb-btn-focus-bg);
    color: var(--mdb-btn-focus-color);
    outline: none;
}
button.btn-refresh {
    --bs-bg-opacity: 1;
    background-color: var(--nav-button-background);
    opacity: var(--bs-bg-opacity);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    height: 1.8em;
    box-shadow: none;
    border: none;
    margin-top: -0.1px;
    line-height: 0.5px;
    font-family: sans-serif;
    font-size: 14px;
}
button.btn-refresh:hover{
    --bs-bg-opacity: 1;
    background-color: var(--nav-button-background);
    opacity: var(--bs-bg-opacity);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
th{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-variant: all-petite-caps;
}
.refrsh-hidden{
    display: none;
}
.loader-position {
    text-align: center;
}
img#loaderShow {
    width: 40px;
    height: 40px;
    margin-top: 100px;
}
.loader-show{
    display: none;
}
.first-card, .second-card, .third-card, .four-card,.log-panel-card {
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    /* background-image: radial-gradient(farthest-corner at 100px 100px, white, white); */
    /* background-image: repeating-linear-gradient(55deg, #e39a3b, transparent 1px); */
    background-color: white;
    opacity: 1;
}
.five-card{
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    background-image: radial-gradient(farthest-corner at 100px 100px, white, white);
    opacity: 1;
}
.first-card:hover, .second-card:hover, .third-card:hover, .four-card:hover, .five-card:hover,.log-panel-card:hover {
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
div.card.order_line_chart {
    transition: 0.5s;
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    background-image: radial-gradient(farthest-corner at 100px 100px, white, white);
    opacity: 1;
}
.bg-success {
    opacity: 1 !important;
    background-color: #198754 !important;
}
.bg-royalblue {
    opacity: 1 !important;
    background-color: #2e42cb !important;
}
.bg-blueviolet {
    opacity: 1 !important;
    background-color: blueviolet !important;
}
.bg-alert {
    opacity: 1 !important;
    background-color: #b98527 !important;
}
.bg-logout {
    opacity: 1;
    background-color: #b98527 !important;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.bg-login{
    opacity: 1 !important;
    background-color: #0d6efd !important;
}
.log-card {
    background: white;
    padding-bottom: 7px;
}
.card-header.staticrept {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: all-petite-caps;
    font-size: 14px;
    background-image: repeating-linear-gradient(55deg, #e39a3b, transparent 1px);
}
/* .mini-card-title{
    background-image: repeating-linear-gradient(55deg, #e39a3b, transparent 1px);
} */
.card-head-title{
    font-family: var(--nav-font-family);
    font-size: 15px;
    font-weight: 800;
    color: black;
    opacity: 1;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-variant: all-petite-caps;
    text-align: center;
    border: none;
}
.login-user-title{
    padding-left: 10px;
    font-family: var(--nav-font-family);
    font-size: 15px;
    font-weight: 800;
    color: black;
    opacity: 1;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-variant: all-petite-caps;
    text-align: center;
}
.user-amount{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: var(--nav-font-family);
    font-size: 11px;
    font-weight: 700;
    color: white;
    opacity: 1;
    font-variant: all-petite-caps;
    text-align: center;
    letter-spacing: 1px; 
}
.ring-div {
    width: 100px;
    height: 70px;
    /* margin-left: 58px; */
}
.activity-loader {
    border-right: 7px solid #6f42c1;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #6f42c1;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes activity_ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd;
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
span.total-number {
    font-size: 18px;
}
.total-user-loader {
    border-right: 7px solid #0A5EDB;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #0A5EDB;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        /* border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd; */
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
.authentic-loader {
    border-right: 7px solid #198754;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #198754;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes authentic_ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd;
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
.inactive-loader {
    border-right: 7px solid #dc3545;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #dc3545;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes inactive_ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd;
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
div.card.order_line_chart:hover{
    transform: none;
}
#pieChartContainer {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.users-activities {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    border-radius: 5px;
}
.users-activities:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px 0px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.sub_total_user{
    text-decoration: underline double;
    font-size: 18px;
    padding-left: 0;
    /* color: royalblue; */
}
label.item_class {
    color: black;
    font-weight: 600;
    font-family: var(--nav-font-family);
    font-size: 13px;
}
select#perItemControl {
    font-size: 12px;
}
tr.table-row {
    background-color: white;
    color: black;
    font-weight: 600;
}
tr.table-row.user-table-row:hover{
    border: 1px solid var(--row-hover-border);
    font-weight: 600;
    background-image: var(--table-row-hover);
    animation-name: fonColor;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes fonColor {
    0%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: darkblue;
    }
}
tr.clicked {
    background-color: rgb(223 255 223);
    opacity: 1;
    animation-name: fonColor;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes fonColor {
    0%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: darkblue;
    }
}
td.user-details-links{
    background-color: white;
    color: blue;
}
td.user-details-links:hover{
    background-color: rgb(223 255 223);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: white;
    opacity: 1;
}
td.background{
    background-color: rgb(223 255 223);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: white;
    opacity: 1; 
}
a.page-link.btn_page {
    height: 20px;
}
.tab-skeletone,.head-skeletone,.percentage-skeletone,.cricale-number-skeleton,.body-skeletone,.result-skeletone,.total-number-skeletone,
.loader_skeleton{
    position: relative;
}
.tab-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 102%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
.head-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 19px;
    border-radius: 5px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.percentage-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.cricale-number-skeleton::before {
    content: "";
    position: absolute;
    left: -12px;
    top: -9px;
    width: 94px;
    border-radius: 50%;
    height: 82px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.body-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.result-skeletone::before{
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 65px;
    height: 20px;
    border-radius: 10px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.total-number-skeletone::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 4px;
    width: 65px;
    height: 26px;
    border-radius: 5px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.loader_skeleton::before{
    content: "";
    position: absolute;
    left: -11px;
    top: -11px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.card-background{
    border-radius: 5px;
}
.table-container-card{
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
}
.table-container-card:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.chart-card{
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
}
.chart-card:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.user-activities--week-chart{
    background:linear-gradient(180deg, rgba(230,230,230,.05) 0%, rgba(0,0,0,.05) 100%);
    background-color:white;
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    animation-name: chartBackground;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-size: 100% 20%; /* Adjusted to fit vertical animation */
    background-position: 0 100%; /* Starting from the bottom */
}
@keyframes chartBackground {
    100%{
        background-position: 0 -100%; /* Moves from bottom to top */
        background-color: transparent;
    }
    50%{
        background-color: white;
    }
}
.mini-bar-header {
    background: white;
}
.user-activities--month-chart{
    background:linear-gradient(250deg,rgba(230,230,230,.05) 0,rgba(0,0,0,.05) 100%);
    background-color:white;
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    animation-name: chartBacground;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-size: 200% 100%;
    background-position: 0 100%;
}
@keyframes chartBacground {
    100%{
        background-position:-100% 0;
        background-color: white;
    }
    50%{
        background-color: transparent;
    }
}
.bar-header {
    background: white;
}
.user-activities--month-bar-chart{
    background:linear-gradient(250deg,rgba(230,230,230,.05) 0,rgba(0,0,0,.05) 100%);
    background-color:white;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    animation-name: barChartBacground;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-size: 200% 100%;
    background-position: 0 100%;
}
@keyframes barChartBacground {
    100%{
        background-position:-100% 0;
        background-color: white;
    }
    50%{
        background-color: transparent;
    }
}
.animated{
    color: blue;
    animation-name: fontRun;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@keyframes fontRun {
    25%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: royalblue;
    }
}
.lightA-focus{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: none;
    outline: none;
    animation: color_cricle_focus 1s linear infinite alternate;
    animation-delay: 1s;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.lightB-focus{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: none;
    outline: none;
    animation: color_cricle_focus 1s linear infinite alternate;
    animation-delay: 1s;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.lightC-focus{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: none;
    outline: none;
    animation: color_cricle_focus 1s linear infinite alternate;
    animation-delay: 1s;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@keyframes color_cricle_focus {
    0% {
        background-color: lightblue;
        transition: all .5s;
        transform: translateY(10px);
    }
    
    50% {
        background-color: blue;
        transform: translateY(0);
        transition: all .6s;
    }
    100% {
        background-color: royalblue;
        transform: translateX(10px);
        transition: all .6s;
    }
}
.label_plate{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
}
.hidden{
    display: none;
}
button#viewBtn{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: white;
    opacity: 1;
}
input#date_start,input#date_end {
    font-family: var(--nav-font-family);
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    background-image: linear-gradient(to bottom, white 0%, white, white 100%);
    border-radius: 5px;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    animation: text_color 3s infinite;
    opacity: 1;
    font-size: 12px;
    width: 100%;
}
input#date_start:focus,input#date_end:focus,#search:focus{
    border: 2px solid #3b71ca;
}
.light2-focus {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: none;
    outline: none;
    animation: color2_focus 1s infinite;
}
@keyframes color2_focus {
    0% {
        background-color: #f1f1f1;
    }
    
    50% {
        background-color: green;
    }
    100% {
        background-color: lightblue;
    }
}
input::placeholder{
    color: rgb(194, 194, 194);
}
select::placeholder{
    color: rgb(194, 194, 194);
    font-weight: 800;
}
th#th_sort {
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-color);
    color: black;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.table-td-align{
    text-align: center;
}
/* ======Reponsive-page======== */
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }    
}
/* @media (min-width: 992px) {
    
} */
/* @media (min-width: 768px) {
    
} */
@media (min-width: 400px) {

}
/* @media (min-width: 576px) {
    
} */
