:root{
    /* --nav-button-background:linear-gradient(to top, #565656, #646464, #00000087, #495057); */
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --nav-button-color:white;
    --nav-font-family: Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --table-row-light-blue-hover:linear-gradient(to bottom, rgba(0, 123, 255, 0.1) 0%, rgba(0, 123, 255, 0.1) 100%);
    --row-hover-border:dodgerblue;
    /* button btn-primary */
    --mdb-btn-bg: #3b71ca;
    --mdb-btn-color: #fff;
    --mdb-btn-border-color:#3b71ca;
    --mdb-btn-box-shadow: 0 4px 9px -4px #386bc0;
    --mdb-btn-hover-bg: #386bc0;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #386bc0;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #3566b6;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(56, 107, 192, 0.3), 0 4px 18px 0 rgba(56, 107, 192, 0.2);
}
htm,body{
    box-sizing: border-box;
    font-family: Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    padding: 0;
    margin: 0;
}
.activity-table-responsive{
    overflow-y: auto !important;
    overflow-x: auto !important;
    max-height: 480px !important;
}
.activity-tab-responsive{
    overflow-y: auto !important;
    overflow-x: auto !important;
    max-height: 600px !important;
}
.chart-scrollbar-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.chart-scrollbar-responsive canvas {
    display: block;
    min-width: 800px; /* or adjust based on your data */
}
.loader_chart {
    background-color: orange;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    border-bottom: 6px solid darkgreen;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
    margin-top: -1.5em;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
/* Adjust the width of the autocomplete input search able dropdown */
.ui-menu {
    width: 200px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 2px 0;
    z-index: 1000;
    background-color: white;
}

/* Customize each item in the autocomplete dropdown */
.ui-menu .ui-menu-item {
    padding: 1px 1px;
    cursor: pointer;
}

/* Style for the image inside each item */
.ui-menu .ui-menu-item img.user_img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Style for the hovered item */
.ui-menu .ui-state-hover {
    background-color: #f0f0f0;
    border-left: 4px solid #007bff;
}

/* Make sure the image is properly aligned in autocomplete suggestions */
.ui-menu .ui-menu-item .ui-menu-item-wrapper {
    display: flex;
    align-items: center; /
}

/* Fix the alignment of labels */
.ui-menu-item-wrapper span {
    margin-left: 10px;
}
.filter-box{
    border-bottom: 1px solid rgba(0, 123, 255, 0.2);
    border-left: 1px solid rgba(0, 123, 255, 0.2);
    border-top: 1px solid rgba(0, 123, 255, 0.2);
    border-right: none;
    height: 25px;
    margin-top: -2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-control-sm {
    /* min-height: calc(1.5em + 0.5rem + 2px); */
    min-height: calc(1.5em + 0.1rem + 1px);
    padding: 0.15rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}
.progress {
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 0;
}
.bg-primary {
    --bs-bg-opacity: 1;
    --bs-primary-rgb: 13, 110, 253;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.page-item:first-child .page-link, .page-item:first-child .datatable-pagination a, .datatable-pagination .page-item:first-child a, .datatable-pagination li:first-child .page-link, .datatable-pagination li:first-child a {
    background: linear-gradient(5deg, #b3b0b0, transparent 3%, lightgray, #c3c1c1c9);
    color: black;
    font-size: 10px;
    font-weight: 800;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    height: 25px;
}
.page-item:last-child .page-link, .page-item:last-child .datatable-pagination a, .datatable-pagination .page-item:last-child a, .datatable-pagination li:last-child .page-link, .datatable-pagination li:last-child a {
    background: linear-gradient(5deg, #b3b0b0, transparent 3%, lightgray, #c3c1c1c9);
    color: black;
    font-size: 10px;
    font-weight: 800;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    height: 25px;
}
select> option{
    font-weight: 600;
    color: black;
    background: orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    font-size: 12px;
}
.nav {
    --bs-nav-link-padding-x: 0.5rem;
    --bs-nav-link-padding-y: 0.2rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #dee2e6;
    /* --bs-nav-tabs-border-radius: 0.375rem; */
    --bs-nav-tabs-border-radius: 0.1rem;
    --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
    --bs-nav-tabs-link-active-color: #495057;
    --bs-nav-tabs-link-active-bg: #fff;
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
li.nav-item {
    height: 26px;
}
.nav-link.setting.active{
    font-family: var(--nav-font-family);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    background-image: var(--nav-button-background);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    font-size: 12px;
    opacity: 1;
    text-align: center;
    font-weight: 600;
}
.nav-link.setting {
    font-family: var(--nav-font-family);
    display: block;
    color: black;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}
.nav-link.setting:hover{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    letter-spacing: 0.3px;
    font-size: 12px;
    opacity: 1;
    text-align: center;
    font-weight: 600;
}
button.refresh-btn{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    font-size: 12px;
    border-radius: 0px;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    border-color: var(--mdb-btn-border-color);
    outline: none;
}
button.refresh-btn:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 8px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.15), 0 4px 18px 0 rgba(var(--mdb-box-shadow-color-rgb), 0.1);
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    opacity: 1;
    border-color: var(--mdb-btn-border-color);
    outline: none;
}
button.refresh-btn:focus {
    box-shadow: var(--mdb-btn-box-shadow-state);
    background-color: var(--mdb-btn-focus-bg);
    color: var(--mdb-btn-focus-color);
    outline: none;
}
button.btn-refresh {
    --bs-bg-opacity: 1;
    background-color: var(--nav-button-background);
    opacity: var(--bs-bg-opacity);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    height: 1.8em;
    box-shadow: none;
    border: none;
    margin-top: -0.1px;
    line-height: 0.5px;
    font-family: var(--nav-font-family);
    font-size: 12px;
}
button.btn-refresh:hover{
    --bs-bg-opacity: 1;
    background-color: var(--nav-button-background);
    opacity: var(--bs-bg-opacity);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.head-init{
    font-family: var(--nav-font-family);
    font-size: 13px;
    font-weight: 800;
    text-transform: capitalize;
    color: #000;
    text-align: center;
    letter-spacing: 0.3px;
    padding-bottom: 6px;
    opacity: 1;
}
ul#roleLabel {
    padding-left: 0.7rem;
}
.data-head{
    margin: 0 21px;
    padding: 1px 0;
    border-bottom: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
}
.font-gray-700{
    font-family: var(--nav-font-family);
    font-size: 13px;
    font-weight: 700;
    color: #000;
}
#branchInfoChart{
    width: 100% !important;
    padding-left: 0.0rem;
}
ul#branchLabel>li, ul#roleLabel>li, ul#brancChart>li, ul#branchChart{
    list-style: none;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 600;
    color: #222;
}
#cardWidth{
    width: 100% !important;
}
th{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.refrsh-hidden{
    display: none;
}
.loader-position {
    text-align: center;
}
img#loaderShow {
    width: 40px;
    height: 40px;
    margin-top: 100px;
}
.loader-show{
    display: none;
}
.first-card, .second-card, .third-card, .four-card,.log-panel-card {
    border: none;
    /* box-shadow: 0px 1px 20px #0001, 0px 2px 6px #0001; */
    box-shadow: 0px 1px 20px #0001, 0px 2px 6px rgba(0, 123, 255, 0.2);
    /* background-image: radial-gradient(farthest-corner at 100px 100px, white, white); */
    /* background-image: repeating-linear-gradient(55deg, #e39a3b, transparent 1px); */
    background-color: white;
    opacity: 1;
}
.five-card{
    border: none;
    /* box-shadow: 0px 1px 20px #0001, 0px 2px 6px #0001; */
    box-shadow: 0px 1px 20px #0001, 0px 2px 6px rgba(0, 123, 255, 0.2);
    background-image: radial-gradient(farthest-corner at 100px 100px, white, white);
    opacity: 1;
}
.branch-info-card{
    border: none;
    /* box-shadow: 0px 1px 20px #0001, 0px 2px 6px #0001; */
    box-shadow: 0px 1px 20px #0001, 0px 2px 6px rgba(0, 123, 255, 0.2);
    background-image: radial-gradient(farthest-corner at 100px 100px, white, white);
    opacity: 1;
}
.first-card:hover, .second-card:hover, .third-card:hover, .four-card:hover, .five-card:hover,.log-panel-card:hover,.user_line_chart:hover,.branch-info-card:hover {
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
    box-shadow: 0px 2px 20px rgba(rgba(0, 123, 255, 0.2), 0.35), 0px 2px 6px #0001;
    opacity: 1;
}
.card.user_line_chart {
    transition: 0.5s;
    border: none;
    box-shadow: 0px 1px 20px #0001, 0px 2px 6px rgba(0, 123, 255, 0.2);
    background-image: radial-gradient(farthest-corner at 100px 100px, white, white);
    opacity: 1;
}
.bg-success {
    opacity: 1 !important;
    background-color: #198754 !important;
}
.bg-royalblue {
    opacity: 1 !important;
    background-color: #2e42cb !important;
}
.bg-blueviolet {
    opacity: 1 !important;
    background-color: blueviolet !important;
}
.bg-light-blueviolet {
    opacity: 1 !important;
    background-image:linear-gradient(0deg, #dbd8d8db, transparent 3%, #d3d3d3c4, white) !important;
}
.bg-light{
    background-color: #e9ecef !important;
}
.bg-alert {
    opacity: 1 !important;
    background-color: #b98527 !important;
}
.bg-light-alert {
    opacity: 1 !important;
    background-color:#ff675a !important;
}
.bg-login{
    opacity: 1 !important;
    background-color: #198754c2 !important;
}
.bg-logout {
    opacity: 1;
    background-color: #b98527 !important;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.bg-activity{
    opacity: 1 !important;
    background-color: #3b71ca !important;
}
img.full-width-img {
    width: 100%;
    height: 100%;
}
/* input range  */
.dual-range-container {
    position: relative;
    width: 100%;
    height: 95px;
    outline: none;
    padding: 0;
    transition: background 450ms ease-in;
    /* border-bottom: 2px solid #878787; */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.dual-range-container label{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.dual-range {
    position: absolute;
    width: 100%;
    height: 95px;
    pointer-events: none; /* Disable default mouse interaction */
    -webkit-appearance: none;
    background: none;
    z-index: 2;
}
  
.dual-range::-webkit-slider-thumb {
    pointer-events: all; /* Reactivate thumb dragging*/
    width: 10px;
    height: 35px;
    background-image: linear-gradient(to right,rgb(23, 91, 238), #fff, rgb(23, 91, 238) 100%);
    border: 1px solid #666;
    border-radius: 5%;
    -webkit-appearance: none;
    cursor: ew-resize;
}

/* Firefox: style the thumb */
.dual-range::-moz-range-thumb {
    pointer-events: all;
    width: 10px;
    height: 35px;
    background-image: linear-gradient(to right,rgb(23, 91, 238), #fff, rgb(23, 91, 238) 100%);
    border-radius: 5%;
    border: 1px solid #666;
    cursor: ew-resize;
}

/* Firefox: remove default styles from track */
.dual-range::-moz-range-track {
    background: none;
    height: 95px;
}
  
.range-track {
    position: absolute;
    top: 50%;
    left: 0;
    height: 94px;
    width: 100%;
    background: transparent;
    transform: translateY(-50%);
    z-index: 1;
}
  
.range-track::before {
    content: '';
    position: absolute;
    height: 100%;
    background: transparent;
    left: 0;
    right: 0;
    z-index: 2;
}
/* Tooltip */
.slider-wrapper-first {
    position: relative;
    width: 100%;
    height: 95px;
}
.slider-wrapper-second {
    position: relative;
    width: 100%;
    height: 95px;
    top: -100%;
}
.range-tooltip {
    position: absolute;
    top: 20px;
    font-size: 11px;
    font-weight: bold;
    background: #000000;
    color: white;
    padding: 2px 6px;
    border-radius: 1px;
    transform: translateY(-100%);
    display: none;
    white-space: nowrap;
    pointer-events: none;
    z-index: 10;
    transition: left 0.1s ease-out;
}
.slider-wrapper-first:hover .range-tooltip,
.slider-wrapper-second:hover .range-tooltip {
    display: block;
}

.log-card {
    background: white;
    padding-bottom: 7px;
}
.card-header.staticrept {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: all-petite-caps;
    font-size: 14px;
    background-image: repeating-linear-gradient(55deg, #e39a3b, transparent 1px);
}
/* .mini-card-title{
    background-image: repeating-linear-gradient(55deg, #e39a3b, transparent 1px);
} */
.card-head-title{
    font-family: var(--nav-font-family);
    font-size: 13px;
    font-weight: 800;
    color: black;
    opacity: 1;
    text-align: center;
    border: none;
    text-transform: capitalize;
    letter-spacing: 0.3px;
}
.date-label{
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 600;
    color: black;
    opacity: 1;
    line-height: 2;
    text-align: center;
    border: none;
}
.input-group{
    position: relative;
    width: 100%;
}
input#chartStartDate, input#chartEndDate{
    cursor: pointer;
}
input.input-date{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(1em + 2px + 0.5rem);
    line-height: 1;
    font-size: 12px;
    box-shadow: none !important;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: var(--nav-font-family);
    opacity: 1;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top: 1px solid rgba(0, 123, 255, 0.2);
    border-bottom: 1px solid rgba(0, 123, 255, 0.2);
    border-left: 1px solid rgba(0, 123, 255, 0.2);
    border-right: 1px solid rgba(0, 123, 255, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input.input-date:focus{
    outline: 2px solid #3b71ca;
}
.login-user-title{
    padding-left: 10px;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 800;
    color: black;
    opacity: 1;
    letter-spacing: 0.3px;
    text-align: center;
}
.user-amount{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: var(--nav-font-family);
    font-size: 11px;
    font-weight: 700;
    color: white;
    opacity: 1;
    text-align: center;
    letter-spacing: 1px; 
}
#userDayLogChart, #userMonthLogChart, #userAllLogChart, #userActivityChart, #userChart, #allUserDateLogChart, #dateRange {
    width: 100% !important;
    /* cursor: move !important; */
}
.ring-div {
    width: 100px;
    height: 70px;
    /* margin-left: 58px; */
}
.activity-loader {
    border-right: 7px solid #6f42c1;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #6f42c1;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes activity_ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd;
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
span.total-number {
    font-size: 18px;
}
.total-user-loader {
    border-right: 7px solid #0A5EDB;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #0A5EDB;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        /* border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd; */
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
.authentic-loader {
    border-right: 7px solid #198754;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #198754;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes authentic_ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd;
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
.inactive-loader {
    border-right: 7px solid #dc3545;
    border-left: 7px solid #ffc107;
    border-radius: 50%;
    margin: 1% 15%;
    border-top: 7px solid #ffc107;
    border-bottom: 7px solid #dc3545;
    width: 73px;
    height: 62px;
    padding: 0.5rem 0.5rem;
    animation: ring_hover;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes inactive_ring_hover {
    50%{
        transform: rotate(0deg);
        transition: 1s;
        background: 300px;
        background-clip: border-box;
        background-color: #fff;
        color: #333;
        border-right: 7px solid #dddddd;
        border-left: 7px solid #dddddd;
        border-top: 7px solid #dddddd;
        border-bottom: 7px solid #dddddd;
        font-size: 10px;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
        background: 400px;
        background-clip: border-box;
        background-color: white;
        color: #161616;
        font-size: 10px;
    }
}
div.card.order_line_chart:hover{
    transform: none;
}
#pieChartContainer {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.users-activities {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    border-radius: 5px;
}
.users-activities:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px 0px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.group_box {
    display: flex !important;
    justify-content: space-between !important;
}
.position {
    text-align: right;
}
.sub_total_user{
    text-decoration: underline double;
    font-size: 18px;
    padding-left: 0;
    /* color: royalblue; */
}
label.item_class {
    color: black;
    font-weight: 600;
    font-family: var(--nav-font-family);
    font-size: 12px;
}
select#perItemControl {
    font-size: 12px;
}
tr.table-row {
    background-image: linear-gradient(90deg, #ffffffff 100%, transparent 100%, #ffffffff 100%);
    color: black;
    font-weight: 600;
}
tr.table-row.user-table-row:hover{
    font-weight: 600;
    background-image: var(--table-row-hover);
    animation-name: fonColor;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes fonColor {
    0%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: darkblue;
    }
}
tr.table-row:hover td#supp_tab3,tr.table-row.user-table-row.td#supp_tab3 {
    position: relative;
}
tr.table-row:hover td#supp_tab3::after,tr.table-row.user-table-row.td#supp_tab3::after {
    content: "➤";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    text-align: center;
    opacity: 5;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    z-index: 3;
}
button#viewBtn{
    background-color: white;
    color: #111;
    opacity: 1;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
tr.table-row:hover button#viewBtn {
    background-image: linear-gradient(to bottom, #585858 0%, #111 100%);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: #fff;
    opacity: 1;
    border: 1px solid #111;
    border-radius: 2px;
    z-index: 3;
}
button.btn-background{
    background-image: linear-gradient(to bottom, #585858 0%, #111 100%);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: #fff !important;
    opacity: 1;
    border: 1px solid #111;
    border-radius: 2px;
    z-index: 3;
}
tr.clicked {
    background-image: var(--table-row-light-blue-hover);
    background-color: transparent;
    opacity: 5;
    transition: border-color 0.3s, background-color 0.3s;
    animation-name: fonColor;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes fonColor {
    0%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: darkblue;
    }
}
tr>td{
    font-size: 12px;
}
label.per_item_class {
    color: black;
    font-weight: 600;
    font-family: var(--nav-font-family);
    font-size: 11px;
    padding-top: 21px;
    margin-top: 10px;
}
.card.log-content-card {
    border: none;
    border-radius: 0px;
}
#logCardHeader {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 11px;
}
.logo_box {
    justify-content: left;
    display: flex;
}
img.company_logo {
    width: 50px;
    height: 50px;
    padding: 5px 5px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(39 126 205) 100%, rgb(0 123 255) 50%, rgb(0, 81, 255) 100%);
    border-radius: 5px;
}
tr.table-log-details-row{
    background-color: transparent;
    font-family: var(--nav-font-family);
    font-size: 13px;
    font-weight: 600;
    transition: border-color 0.3s, background-color 0.3s;
}
.info_part_one{
    border-bottom: 1px solid #dfdfdf;
}
.img_box {
    border-right: 1px solid #dfdfdf;
    padding-left: 16px;
}
#user_id {
    padding-left: 10px;
}
#role_id {
    padding-left: 10px;
    padding-bottom: 5px;
}
label#info_label {
    font-size: 14px;
    font-weight: 700;
}
.user_detls{
    border-right: 1px solid #dfdfdf;
}
.branch_info {
    padding-bottom: 10px;
}
.user_agent_label{
    font-weight: 700;
}
.session_id{
  padding-left: 14px;  
}
p.user_agent {
    padding-left: 14px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.user_location{
    padding-left: 0px;
}
.gps-location{
    padding: 14px 10px;
}
.card_close_btn{
    text-align: center;
    margin-top: 10px;
}
.user_image_log{
    width: 150px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 15px;
}
.view-card-section:hover{
    /* background-image: var(--table-row-hover); */
    box-shadow: 0px 1px 20px #0001, 0px 2px 6px rgba(0, 123, 255, 0.2);
}
td.user-details-links{
    /* background-color: white; */
    color: blue;
}
td.user-details-links:hover{
    /* background-color: rgb(223 255 223); */
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: white;
    opacity: 1;
}
td.background{
    background-image: var(--table-row-hover);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: white;
    opacity: 1; 
}
a.page-link.btn_page {
    height: 25px;
}
.tab-skeletone,.head-skeletone,.percentage-skeletone,.cricale-number-skeleton,.body-skeletone,.result-skeletone,.total-number-skeletone,
.loader_skeleton,.view-card-skeletone,.branch-card-skeletone{
    position: relative;
}
.view-card-skeletone::before{
   content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.tab-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 103%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
.head-skeletone::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 17px;
    border-radius: 5px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.percentage-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.cricale-number-skeleton::before {
    content: "";
    position: absolute;
    left: -12px;
    top: -9px;
    width: 80px;
    border-radius: 50%;
    height: 68px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.chart-body-skeletone::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 9px;
    width: 96%;
    height: 90%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 3px;
}
.body-skeletone::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 9px;
    width: 98%;
    height: 93%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 3px;
}
.branch-card-skeletone::before{
    content: "";
    position: absolute;
    left: 16px;
    top: -1px;
    width: 97%;
    height: 97%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 3px;
}
.result-skeletone::before{
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 65px;
    height: 20px;
    border-radius: 10px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.total-number-skeletone::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 4px;
    width: 65px;
    height: 26px;
    border-radius: 5px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.loader_skeleton::before{
    content: "";
    position: absolute;
    left: -11px;
    top: -11px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.card-background{
    border-radius: 5px;
}
.table-container-card{
    border: none;
    /* box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001; */
    box-shadow: 0px 1px 20px #0001, 0px 2px 6px rgba(0, 123, 255, 0.2);
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
    opacity: 1;
}
.table-container-card:hover{
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
    box-shadow: 0px 2px 20px rgba(rgba(0, 123, 255, 0.2), 0.35), 0px 2px 6px #0001;
    opacity: 1;
    opacity: 1;
}
.chart-card{
    border: none;
    box-shadow: 0px 1px 20px #0001, 0px 2px 6px rgba(0, 123, 255, 0.2);
    /* box-shadow: 0px 1px 20px #0001, 0px 2px 6px #0001; */
    opacity: 1;
}
.chart-card:hover{
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
    box-shadow: 0px 2px 20px rgba(rgba(0, 123, 255, 0.2), 0.35), 0px 2px 6px #0001;
    opacity: 1;
}
.user-activities--week-chart{
    background:linear-gradient(180deg, rgba(230,230,230,.03) 0%, rgba(0,0,0,.03) 100%);
    background-color:white;
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    animation-name: chartBackground;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-size: 100% 20%; /* Adjusted to fit vertical animation */
    background-position: 0 100%; /* Starting from the bottom */
}
@keyframes chartBackground {
    100%{
        background-position: 0 -100%; /* Moves from bottom to top */
        background-color: transparent;
    }
    50%{
        background-color: white;
    }
}
.mini-bar-header {
    background: white;
}
.user-activities--month-chart{
    background:linear-gradient(250deg,rgba(230,230,230,.03) 0,rgba(0,0,0,.03) 100%);
    background-color:white;
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    animation-name: chartBacground;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-size: 200% 100%;
    background-position: 0 100%;
}
@keyframes chartBacground {
    100%{
        background-position:-100% 0;
        background-color: white;
    }
    50%{
        background-color: transparent;
    }
}
.bar-header {
    background: white;
}
.user-activities--month-bar-chart{
    background:linear-gradient(250deg,rgba(230,230,230,.03) 0,rgba(0,0,0,.03) 100%);
    background-color:white;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    animation-name: barChartBacground;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-size: 200% 100%;
    background-position: 0 100%;
}
@keyframes barChartBacground {
    100%{
        background-position:-100% 0;
        background-color: white;
    }
    50%{
        background-color: transparent;
    }
}
.animated{
    color: blue;
    animation-name: fontRun;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@keyframes fontRun {
    25%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: royalblue;
    }
}
.lightA-focus{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: none;
    outline: none;
    animation: color_cricle_focus 1s linear infinite alternate;
    animation-delay: 1s;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.lightB-focus{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: none;
    outline: none;
    animation: color_cricle_focus 1s linear infinite alternate;
    animation-delay: 1s;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.lightC-focus{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: none;
    outline: none;
    animation: color_cricle_focus 1s linear infinite alternate;
    animation-delay: 1s;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@keyframes color_cricle_focus {
    0% {
        background-color: lightblue;
        transition: all .5s;
        transform: translateY(10px);
    }
    
    50% {
        background-color: blue;
        transform: translateY(0);
        transition: all .6s;
    }
    100% {
        background-color: royalblue;
        transform: translateX(10px);
        transition: all .6s;
    }
}
.label_plate{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
}
.hidden{
    display: none;
}
.select2-container--default .select2-selection--single{
    background-color: #fff;
    border-radius: 4px;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    border-top: 1px solid rgba(0, 123, 255, 0.2) !important;
    border-bottom: 1px solid rgba(0, 123, 255, 0.2) !important;
    border-left: none !important;
    border-right: 1px solid rgba(0, 123, 255, 0.2) !important;
    box-shadow: 0px 2px 20px #0001;
    background-image: linear-gradient(to bottom, white 0%, white, white 100%);
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 25px !important;
    user-select: none;
    -webkit-user-select: none;
    font-family: Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-top: -2px;
}
.select2-container--default .select2-selection--single:focus {
    border: 2px solid #3b71ca !important;
}
input#date_start,input#date_end {
    font-family: var(--nav-font-family);
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    background-image: linear-gradient(to bottom, white 0%, white, white 100%);
    border-radius: 3px;
    border-top: 1px solid rgba(0, 123, 255, 0.2);
    border-bottom: 1px solid rgba(0, 123, 255, 0.2);
    border-left: 1px solid rgba(0, 123, 255, 0.2);
    border-right: 1px solid rgba(0, 123, 255, 0.2);
    /* animation: text_color 3s infinite; */
    opacity: 1;
    font-size: 12px;
    width: 100%;
}
input#date_start:focus,input#date_end:focus,#search:focus{
    outline: 2px solid #3b71ca;
}
.light2-focus {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: none;
    outline: none;
    animation: color2_focus 1s infinite;
}
@keyframes color2_focus {
    0% {
        background-color: #f1f1f1;
    }
    
    50% {
        background-color: green;
    }
    100% {
        background-color: lightblue;
    }
}
input#search::placeholder{
    color: rgb(179, 179, 179);
}
input#date_start::placeholder{
    color: rgb(179, 179, 179);
    font-size:11px;
    font-weight:800;
}
input#date_end::placeholder{
    color: rgb(179, 179, 179);
    font-size:11px;
    font-weight:800;
}
select::placeholder{
    color: rgb(179, 179, 179);
    font-weight: 800;
}
th#th_sort {
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-color);
    color: black;
    font-size: 12px;
    font-family: var(--nav-font-family);
    font-variant: none;
    text-transform: capitalize;
}
.table-td-align{
    text-align: center;
}
/* ======Reponsive-page======== */
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }    
}
/* @media (min-width: 992px) {
    
} */
/* @media (min-width: 768px) {
    
} */
@media (min-width: 400px) {

}
/* @media (min-width: 576px) {
    
} */
