:root{
    --input-background:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#3b71ca;
    --nav-font-family:sans-serif;
    --nav-button-color:white;
}
body.doctors-background-color{
    animation: background_focus 6s infinite;
}
/* @keyframes background_focus{
    0%{
        background-color: #f1f1f1;
    }
    100%{
        background-color: #fff;
    }
} */
div.url_link{
    color: darkblue;
    font-weight: 500;
    font-size: 12px;
    font-variant-caps: all-petite-caps;
}
.hero-image {
    margin-top: -42px;
}
.container-background{
    opacity: 1;
}
.skeleton,.menus-skeleton,.mini-skeleton,.email-input-skeleton,.heading-skeleton,.menu-rest-skeleton,.heading-rest-skeleton,
.rest-email-skeleton,.rest-password-skeleton,.rest-confirm-password-skeleton{
    position: relative;
}
.heading-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg,#b3b3b3,#f9f9f9,#b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg,#b3b3b3,#f9f9f9,#b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.menus-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.menu-rest-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.mini-skeleton::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -2px;
    width: 55px;
    height: 20px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg,#b3b3b3,#f9f9f9,#b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.email-input-skeleton::before{
    content: "";
    position: absolute;
    left: -305px;
    top: -8px;
    width: 305px;
    height: 30px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg,#b3b3b3,#f9f9f9,#b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.heading-rest-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg,#b3b3b3,#f9f9f9,#b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.rest-email-skeleton::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 27px;
    width: 305px;
    height: 30px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.rest-password-skeleton::before{
    content: "";
    position: absolute;
    left: -62px;
    top: 28px;
    width: 305px;
    height: 30px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.rest-confirm-password-skeleton::before{
    content: "";
    position: absolute;
    left: -120px;
    top: 28px;
    width: 305px;
    height: 30px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
@keyframes skeleton{
    0%{
        background-position: -100% 0;
    }
    100%{
        background-position: 100% 0;
    }
}
h6.head_auth {
    margin-left: 16px;
}
.card.forget_card {
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: sans-serif;
    color: darkblue;
}
.lb_text {
    font-weight: 500;
    color: darkblue;
}
input.inpt_pass{
    font-size: 14px;
    color: darkblue;
    min-height: calc(.8em + 0.5rem + .8px);
    padding: 0.10rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    opacity: 1;
    width: 100%;
}
input.inpt_pass:focus{
    border: 1px solid rgb(5, 5, 248);
    opacity: 1;
}
input.inpt_pass::placeholder{
    color: gray;
}
button.btn.btn-sm.btn.forget_button {
    width: 100%;
    height: 25px;
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    border-color: var(--mdb-btn-border-color);
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-variant: all-petite-caps;
    font-size: 12px;
    line-height: .2;
    opacity: 1;
    text-align: center;
    font-weight: 700;
    outline: none;
    letter-spacing: 0.5px;
    margin-left: -2px;
    border-radius: 3px;
    transition: .5s ease;
    animation: text_font_color 5s infinite;
}
@keyframes text_font_color{
    0%{
        color: silver;
    }
    100%{
        color: white;
    }
}

a.btn_bg {
    width: 100px;
    height: 25px;
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    border-color: var(--mdb-btn-border-color);
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-variant: all-petite-caps;
    font-size: 12px;
    line-height: .2;
    opacity: 1;
    text-align: center;
    font-weight: 700;
    outline: none;
    letter-spacing: 0.5px;
    margin-left: -2px;
    border-radius: 3px;
    transition: .5s ease;
    animation: text_font_color 5s infinite;
}
a.btn_bg:hover{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    border-color: var(--mdb-btn-border-color);
    transition: .5s ease;
}
@media(min-width:400px) and (max-width:580px){
    .lb_text {
        font-size: 38px;
    }
    button.btn.btn-sm.btn.forget_button{
        font-size: 25px;
    }
    span.reset_text{
        font-size: 29px;
    }
    span.forget_text{
        font-size: 40px;
    }
    #email{
        font-size: 30px;
    }
    a.btn_bg{
        font-size: 30px;
        margin-left: 126px;
    }
}
@media(min-width:600px) and (max-width:776px){
    .lb_text {
        font-size: 38px;
    }
    button.btn.btn-sm.btn.forget_button{
        font-size: 25px;
    }
    span.reset_text{
        font-size: 29px;
    }
    span.forget_text{
        font-size: 40px;
    }
    #email{
        font-size: 30px;
    }
    a.btn_bg{
        font-size: 30px;
        margin-left: 126px;
    }
}
