@import "auth-main.css";
.is-invalid {
    border: 1px solid #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    box-sizing: border-box;
}
/* Style the file input */
#imgInput {
    border: 1px solid #007bff;
    background-color: #0056b3;
    color: white !important;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 115%;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}
  
/* Change border and background color on hover */
#imgInput:hover {
    border-color: #0056b3;
    background-color: #e9ecef;
    color: #0056b3 !important;
}
  
/* Change border color on focus */
#imgInput:focus {
    border-color: #0056b3;
    background-color: #e9ecef;
    outline: none;
}
.label_register{
    color: darkblue;
}
.label_contract{
    color: darkblue; 
}
.label_email{
    color: darkblue; 
}
.lable_password{
    color: darkblue; 
}
.lable_confirm-password{
    color: darkblue; 
}
.label_image{
    color: darkblue; 
}
.block-hidden{
    display: none;
}
div#admin_modal_box {
    margin-top: 52px;
}
.auth-skeleton,.logo-skeleton{
    position: relative;
}
.auth-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.logo-skeleton::before{
    content: "";
    position: absolute;
    left: -6px;
    top: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
  }
@keyframes skeleton {
    0% {
      background-position: -100% 0;
    }
  
    100% {
      background-position: 100% 0;
    }
}
.side_canvas_animation {
    text-align: center;
}
.side_canvas_close{
    animation: faidout 3s;
    animation-fill-mode: forwards;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}
@keyframes faidout{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
div#loaderRegisterModal_body {
    height: 475px;
    width: 100%;
    background-image: linear-gradient(90deg,transparent, #939393, transparent 80%, #838383);
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}
.loader-register{
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}
.loader-register>img{
    width: 90px;
}
.log_close{
    animation: faidout 3s;
    animation-fill-mode: forwards;
}
@keyframes faidout{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.search-hidden{
    display: none;
}
.contract-hidden{
    display: none;
}
.email-hidden{
    display: none;
}
.password-hidden{
    display: none;
}
.confrim-password-hidden{
    display: none;
}
.register-hidden{
    display: none;
}
.image_size {
    /* margin-left: 100px; */
    color: gray;
    font-weight: 600;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
a.menu_btn {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
h4.heading_register {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    word-spacing: 1px;
    margin-top: -1px;
    letter-spacing: 1px;
    animation: fontColor 8s infinite;
}
@keyframes fontColor {
    0%{
        color: black;
    }
    100%{
        color: black;
    }
}
.font_size{
    font-size: 20px;
}
input.register{
    /* background-image: var(--bs-email-background-color); */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: none;
    animation: inputColor 2s infinite;
    margin-left: 0;
    min-height: calc(.8em + 0.5rem + .8px);
    padding: 0.10rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    opacity: 1;
    height: 26px;
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
}
.show-current-border{
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.show-error-border{
    border-left: 1px solid #f19a7a;
    border-bottom: 1px solid #f19a7a;
    border-top: 1px solid #f19a7a;
    border-right: 1px solid #f19a7a;
}
.show-success-border{
    border-left: 1px solid #00c300db;
    border-bottom: 1px solid #00c300db;
    border-top: 1px solid #00c300db;
    border-right: 1px solid #00c300db;
}
.image-current-border{
    border: 1px solid silver;
}
.image-error-border{
    border: 1px solid #f19a7a;
}
.image-success-border{
    border: 1px solid #00c300db;
}
.check-hidden,.fillup-hidden{
    display: none;
}
.upload-group {
    padding-top: 100px;
}
.progress{
    position: relative;
    width: 100%;
    border-radius: 5px;
}
.bar{
    background-color: #c6ebbf;
    width: 0%;
    height: 20px;
}
.percent{
    position: absolute;
    display: inline-block;
    left: 50%;
    color: darkgreen;
    font-weight: 800;
    line-height: 1.5;
}
.upload_btn {
    border: 1px solid #007bff;
    background-color: #0056b3;
    color: white !important;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
}
.upload_btn:hover {
    background-image:  linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    border: 1px solid #3b71ca;
    color: white !important;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}
.fillup-block{
    display: block;
}
input.register:focus,input.contract:focus,input.reg_email:focus,input.password:focus,input.confrim-password:focus,input.user_password:focus,.register_img:focus{
    border-color:#2f89fc;
    opacity: 1;
    color: #2f89fc;
}
input.contract{
    /* background-image: var(--bs-email-background-color); */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: none;
    outline: none;
    animation: inputColor 2s infinite;
    margin-left: 0;
    min-height: calc(.8em + 0.5rem + .8px);
    padding: 0.10rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    opacity: 1;
    height: 26px;
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
}
input.reg_email{
    /* background-image: var(--bs-email-background-color); */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: none;
    outline: none;
    animation: inputColor 2s infinite;
    margin-left: 0;
    min-height: calc(.8em + 0.5rem + .8px);
    padding: 0.10rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    opacity: 1;
    height: 26px;
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
}
input.user_password{
    /* background-image: var(--bs-email-background-color); */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: none;
    outline: none;
    animation: inputColor 2s infinite;
    margin-left: 0;
    min-height: calc(.8em + 0.5rem + .8px);
    padding: 0.10rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    opacity: 1;
    height: 26px;
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
}
input.confrim-password{
    /* background-image: var(--bs-email-background-color); */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: none;
    outline: none;
    animation: inputColor 2s infinite;
    margin-left: 0;
    min-height: calc(.8em + 0.5rem + .8px);
    padding: 0.10rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    opacity: 1;
    height: 26px;
    /* --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35); */
}
input.image{
    /* background-image: var(--bs-email-background-color); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: none;
    outline: none;
    animation: inputColor 2s infinite;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 2px;
    /* margin-left: 72px; */
    font-size: 10px;
    width: 161px;
    opacity: 1;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.input-skeleton,.input-email-skeleton,.cap-skeleton,.file-skeleton,.menu-skeleton,.input-two-skeleton,.input-three-skeleton,
.mini-capsule-skeleton,.form-head-skeleton,.nav-head-skeleton,.button-skeleton,.input-four-skeleton,.input-error-skeleton,
.file-error-skeleton,.sub-title-skeleton,.upload-button-skeleton{
    position: relative;
}
.sub-title-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 100%;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.input-skeleton::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 3px;
    width: 258px;
    height: 19px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
}
.input-two-skeleton::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 3px;
    width: 258px;
    height: 19px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
}
.input-three-skeleton::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 3px;
    width: 258px;
    height: 19px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
}
.input-four-skeleton::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 3px;
    width: 258px;
    height: 19px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
}
.input-email-skeleton::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 3px;
    width: 258px;
    height: 19px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
}
.cap-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 103px;
    height: 20px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
}
.mini-capsule-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 29px;
    height: 17px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 10px;
}
.file-skeleton::before{
    content: "";
    position: absolute;
    left: 0px;
    top: -7px;
    width: 162px;
    height: 32px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.nav-head-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.form-head-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.button-skeleton::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -25px;
    width: 100%;
    height: 26px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.upload-button-skeleton::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 103%;
    height: 26px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.input-error-skeleton::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -2px;
    width: 100%;
    height: 12px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.file-error-skeleton::before{
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 100%;
    height: 12px;
    border-radius: 3px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
.menu-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
.background_success{
    background-color: #f2f6f9 !important;
    animation: text 3s 1;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    --mdb-box-shadow-color-rgb: 0, 0, 0 !important;
    box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.35) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
@keyframes text{
    0%{
        color: darkcyan;
    }
    30%{
        letter-spacing: 15px;
    }
    85%{
        letter-spacing: 10px;
    }
}
span.text-danger.contact_message {
    margin-left: 0;
    font-size: 9px;
    letter-spacing: 0.3px;
}
span.text-danger.input_message {
    margin-left: 0;
    font-size: 9px;
    letter-spacing: 0.3px;
}
span.text-danger.name_message {
    margin-left: 0;
    font-size: 9px;
    letter-spacing: 0.3px;
}
span.text-danger.photo_message {
    margin-left: 0;
    font-size: 9px;
    letter-spacing: 0.3px;
}
span.text-danger.email_message {
    margin-left: 0;
    font-size: 9px;
    letter-spacing: 0.3px;
}
button.btn.btn-sm.btn-primary.button_margin{
    margin-left: -10px;
}
#success_message{
    animation: message 5s ease-in-out;
}
@keyframes message{
    100%{
        letter-spacing: 5px;
    }
}
.img-hidden{
    display: none;
}
.register_img {
    width: 160px;
    height: 160px;
    transition: transform .2s; 
    font-size: 16px;
    text-align: center;
    color: #89868687;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.register_img:hover{
    transform: scale(0.8);
}
.img-area {
    width: 160px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-color: inherit;
    border-image: initial;
    border-radius: 2px;
    /* margin-left: 72px; */
    transform: scale(1);
    transition: 0.5s;
    border-radius: 3px;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
body.register_background-color{
    background-image: url("/image/login-background/user-login-background.jpg");
    /* background-color: #cccccc; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
    background-color: #fff;
    opacity: 1;
    animation: bg_color 2s infinite;
}
@keyframes bg_color{
    0%{
      background-color: honeydew;
    }
    50%{
      background-color: whitesmoke;
    }
    100%{
      background-color: white;
    }
}
.input_hidden{
    display: none;
}
.hero-text {
    text-align: center;
    left: 15%;
}
h1.company {
    font-family: 'Monoton';
    font-size: 2vw;
    color: black;
    text-align: justify;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.company-name-classic {
    position: fixed;
    z-index: 99;
    top: 50.7%;
    border-radius: 5px;
    transform: translateY(-50%);
    display: flex;
    color: gray;
    font-size: 18px;
}
.company-name-classic::before {
    --animation-transform-1245:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
   --animation-transform-1246:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
   --animation-transform-1256:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
   --animation-transform-1257:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    content: "";
    position: absolute;
    background: whitesmoke;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: com_animation 1500ms ease-out infinite;
    z-index: -1;
    display: block;
    left: 90px;
    width: 200px;
    height: 200px;
}
@keyframes com_animation {
    0% {
        -webkit-transform: var(--animation-transform-1245);
        transform: var(--animation-transform-1256);
        opacity: 1;
    }
    100% {
        -webkit-transform: var(--animation-transform-1246);
        transform: var(--animation-transform-1257);
        opacity: 0;
    }
}
.company-name-classic::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    transform: translate(-50%, -50%);
    transition: all 200ms;
}
.head-animaion{
    --card-name-100-transform:translateX(10px);
    --card-name-0-transition: all 0.5s;
    --card-name-50-letter-spacing: 0.5px;
    --card-name-common-transition: all 0.6s;
    --card-name-50-transform: translateY(0px);
    --card-name-100-letter-spacing: 1px;

    animation: textDesign 2s linear infinite alternate;
    display: block;
    /* font-size: 14px;
    margin-left: 21px;
    margin-top: -8px; */
    transform: translateY(100px);
}
@keyframes textDesign {
    0% {
        color: #add8e6;
        transition: all .5s;
        transition: var(--card-name-0-transition);
    }
    
    50% {
        letter-spacing: .5px;
        letter-spacing: var(--card-name-50-letter-spacing);
        transform: translateY(0);
        transform: var(--card-name-50-transform);
        transition: all .6s;
        transition: var(--card-name-common-transition);
    }
    100% {
        letter-spacing: 1px;
        letter-spacing: var(--card-name-100-letter-spacing);
        transform: translateX(10px);
        transform: var(--card-name-100-transform);
        transition: all .6s;
        transition: var(--card-name-common-transition);
    }
}
@media (min-width:300px) and (max-width:400px){
    .company-name-classic{
        display: none;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 13px;
        padding-left: 13px;
    }
    .nav-head-skeleton,.logo-skeleton,.input-skeleton,.input-two-skeleton,.input-three-skeleton,.input-four-skeleton
    ,.input-five-skeleton,.input-six-skeleton,.input-email-skeleton,.button-skeleton,.mini-capsule-skeleton{
        position: relative;
    }
    .input-skeleton::before,.input-two-skeleton::before,.input-three-skeleton::before,.input-four-skeleton::before
    ,.input-five-skeleton::before,.input-six-skeleton::before,.input-email-skeleton::before,.file-skeleton{
        content: '';
        position: absolute;
        width: 230px;
    }
    .mini-capsule-skeleton::before{
        content: '';
        position: absolute;
        top: 3px;
    }
    .nav-head-skeleton::before{
        position: absolute;
        top: -7px;
    }
    .logo-skeleton::before{
        position: absolute;
        left: -13px;
        top: -7px;
    }
    .button-skeleton::before{
        position: absolute;
        top: -26px;
    }
    .file-skeleton::before{
        position: absolute;
        left: 26px;
        top: 5px;
    }
    .container.bg{
        width: 100%;
        padding-bottom: 500px;
    }
    .loader-register{
        left: -45px;
    }
    header.sticky-top {
        position: sticky;
        width: 100%;
        display: list-item;
    }
    p.navbar-brand.admin_panel.text-shadow {
        font-size: 12px;
        margin-top: -12px;
    }
    p.address {
        font-size: 8px;
        color: floralwhite;
        font-variant: none;
        font-weight: 100;
        margin-top: 0px;
    }
    img.company_logo{
        height: 40px;
    }
    .image_size{
        margin-left: 54px;
    }
    .img-area{
        margin-left: 27px;
    }
    input.image{
        margin-left: 26px;
    }
    span.text-danger.photo_message {
        margin-left: 33px;
    }
}
@media (min-width:400px) and (max-width:580px){
    .company-name-classic{
        display: none;
    }
    .loader-register {
        left: 0px;
    }
    .nav-head-skeleton,.logo-skeleton,.input-skeleton,.input-two-skeleton,.input-three-skeleton,.input-four-skeleton
    ,.input-five-skeleton,.input-six-skeleton,.input-email-skeleton,.button-skeleton{
        position: relative;
    }
    .nav-head-skeleton::before{
        position: absolute;
        top: -7px;
    }
    .logo-skeleton::before{
        position: absolute;
        left: -13px;
        top: -7px;
    }
    .input-skeleton::before,.input-two-skeleton::before,.input-three-skeleton::before,.input-four-skeleton::before
    ,.input-five-skeleton::before,.input-six-skeleton::before,.input-email-skeleton::before{
        position: absolute;
        width: 330px;
    }
    .button-skeleton::before{
        position: absolute;
        top: -25px;
    }
    .container.bg{
        width: 100%;
        padding-bottom: 500px;
    }
    header.sticky-top {
        position: sticky;
        width: 100%;
        display: list-item;
    }
    p.navbar-brand.admin_panel.text-shadow {
        font-size: 20px;
        margin-top: -4px;
    }
    p.address {
        font-size: 8px;
        color: floralwhite;
        font-variant: none;
        font-weight: 100;
        margin-top: -20px;
    }
    img.company_logo{
        height: 40px;
    }
    .reg_hidden{
        display: none;
    }
    input.register {
        margin-left: 0;
        width: 100%;
    }
    input.contract {
        margin-left: 0;
        width: 100%;
    }
    input.email{
        margin-left: 0;
        width: 100%;
    }
    input.reg_email{
        margin-left: 0;
        width: 100%;
    }
    input.password{
        margin-left: 0;
        width: 100%;
    }
    input.confirm{
        margin-left: 0;
        width: 100%;
    }
    .img-area{
        margin-top: 5px;
    }
    input.image {
        margin-left: 71px;
    }
    button.btn.btn-sm.btn-primary.button_margin{
        margin-left: 118px;
    }
    button.btn.btn-sm.btn.forget_button {
        font-size: 19px;
    }
    a.btn.btn-sm.btn.forget_button {
        font-size: 19px;
        line-height: .8;
    }
    span.text-danger.photo_message {
        margin-left: 0;
    }
}
@media (min-width:600px) and (max-width:780px){
    .input-skeleton,.input-two-skeleton,.input-three-skeleton,.input-four-skeleton
    ,.input-five-skeleton,.input-six-skeleton,.input-email-skeleton,.button-skeleton,.file-skeleton{
        position: relative;
    }
    .input-skeleton::before,.input-two-skeleton::before,.input-three-skeleton::before,.input-four-skeleton::before
    ,.input-five-skeleton::before,.input-six-skeleton::before,.input-email-skeleton::before{
        width: 452px;
    }
    .file-skeleton::before{
        position: absolute;
        width: 191px;
    }
    .button-skeleton::before{
        position: absolute;
        top: -25px;
    }
    p.address {
        font-size: 8px;
        color: floralwhite;
        font-variant: none;
        font-weight: 100;
        margin-top: -35px;
    }
    .container.bg{
        width: 100%;
        padding-bottom: 500px;
    }
    h4.heading_admin_login{
        color: white;
    }
    .reg_hidden{
        display: none;
    }
    header.sticky-top {
        position: sticky;
        width: 100%;
        display: list-item;
    }
    input.register {
        margin-left: 0;
        width: 100%;
    }
    input.contract {
        margin-left: 0;
        width: 100%;
    }
    input.email{
        margin-left: 95px;
    }
    input.reg_email{
        /* width:82%; */
        width: 100%;
        margin-left: 0;
    }
    input.password{
        margin-left: 0;
        width: 109%;
    }
    input.confirm{
        margin-left: 0;
        width: 100%;
    }
    .img-area{
        margin-top: 5px;
    }
    input.image {
        margin-left: 71px;
    }
    button.btn.btn-sm.btn-primary.button_margin{
        margin-left: 118px;
    }

}
@media (min-width:780px) and (max-width:1192px){
    .input-skeleton,.input-two-skeleton,.input-three-skeleton,.input-four-skeleton
    ,.input-five-skeleton,.input-six-skeleton,.input-email-skeleton,.button-skeleton,.file-skeleton{
        position: relative;
    }
    .input-skeleton::before,.input-two-skeleton::before,.input-three-skeleton::before,.input-four-skeleton::before
    ,.input-five-skeleton::before,.input-six-skeleton::before,.input-email-skeleton::before{
        width: 400px;
    }
    .file-skeleton::before{
        position: absolute;
        width: 191px;
    }
    .button-skeleton::before{
        position: absolute;
        top: -25px;
    }
    p.address {
        font-size: 8px;
        color: floralwhite;
        font-variant: none;
        font-weight: 100;
        margin-top: -35px;
    }
    .container.bg{
        width: 100%;
        padding-bottom: 500px;
    }
    header.sticky-top {
        position: sticky;
        width: 1192px;
    }
    .reg_hidden{
        display: none;
    }
    .hero-text{
        display: none;
    }
    input.register {
        margin-left: 0;
        width: 100%;
    }
    input.contract {
        margin-left:0;
        width: 100%;
    }
    input.email{
        margin-left: 95px;
    }
    input.reg_email{
        width: 100%;
        margin-left: 0;
    }
    input.password{
        margin-left: 0;
        width: 100%;
    }
    input.confirm{
        margin-left: 0;
        width: 100%;
    }
    .img-area{
        margin-top: 50px;
    }
    input.image {
        margin-left: 101px;
    }
    button.btn.btn-sm.btn-primary.button_margin{
        margin-left: 118px;
    }

}