:root{
    --dashboard-part-background-image:radial-gradient(farthest-corner at 100px 100px, darkorange, lightyellow);
    --dashboard-part-hover-background-image:radial-gradient(farthest-corner at 100px 100px, darkorange, lightyellow);
    --dashboard-part-transition:0.5s;
    --dashboard-part-transform:scale(0.9);
    --dashboard-part-animation-border-top-color-0:darkorange;
    --dashboard-part-animation-border-color-50:rgb(255, 185, 56);
    --dashboard-part-animation-border-bottom-color-100:rgb(181, 181, 181);
    /* =============== Loader-part ====================== */


}