:root{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    --text-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#3b71ca;
}
select> option {
    font-weight: 600;
    color: white;
    background: darkblue;
    padding: 10px;
    border: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    font-size: 12px;
}
tr#user_set {
    font-weight: 600;
}
#form_card {
    background-color: white;
    border: none;
    box-shadow: 0px 1px 10px #0001, 0px 0px 2px #0001;
    background-image: radial-gradient(farthest-corner at 100px 100px, white, white);
    opacity: 1;
    border-radius: 5px;
}
#form_card:hover{
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.auth-page-table-card{
    background-color: white;
    box-shadow: 0px 1px 10px #0001, 0px 0px 2px #0001;
    background-image: radial-gradient(farthest-corner at 100px 100px, white, white);
    opacity: 1;
    border-radius: 5px;
}
.auth-page-table-card:hover{
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.form-switch .form-check-input:checked{
    background-color: green;
    border-color: green;
}
#permissionCheck{
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
label.form-label{
    font-family: var(--text-font-family);
    color: black;
    opacity: 1;
    font-size: 14px;
    font-weight: 600;
}
select.form-select.form-select-sm.select-dropdown{
    box-shadow: none;
    font-family: var(--text-font-family);
    color: black;
    opacity: 1;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
::placeholder{
    color: lightgray;
    font-weight: 600;
}
input#input-field-one{
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--text-font-family);
    color: black;
    opacity: 1;
}
input#input-field-two{
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--text-font-family);
    color: black;
    opacity: 1;
}
.text-gray{
    color: gray;
}
.show-current-border{
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.show-error-border{
    border-left: 1px solid #f19a7a;
    border-bottom: 1px solid #f19a7a;
    border-top: 1px solid #f19a7a;
    border-right: 1px solid #f19a7a;
}
.show-success-border{
    border-left: 1px solid #00c300db;
    border-bottom: 1px solid #00c300db;
    border-top: 1px solid #00c300db;
    border-right: 1px solid #00c300db;
}
.button-box {
    text-align: right;
}
button.btn.btn-sm.submt_button {
    height: 25px;
    width: 100%;
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--text-font-family);
    border-color: var(--mdb-btn-border-color);
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-size: 12px;
    line-height: .2;
    opacity: 1;
    text-align: center;
    font-weight: 700;
    outline: none;
    letter-spacing: 1px;
    margin-left: -2px;
    border-radius: 3px;
    transition: .5s ease;
    animation: text_font_color 5s infinite;
}
@keyframes text_font_color {
    0%{
      color: whitesmoke;
    }
    100%{
      color: white;
    }
}
.hidden{
    display: none;
}
.background_error{
    background-color: rgb(4, 168, 4);
    color: white;
    font-size: 14px;
    animation: text 3s 1;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    --mdb-box-shadow-color-rgb: 0, 0, 0 !important;
    box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.35) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
@keyframes text{
    0%{
      color: white;
    }
    30%{
      letter-spacing: 15px;
    }
    85%{
      letter-spacing: 10px;
    }
}
tr.clicked {
    background-color: rgb(210, 255, 210);
    opacity: 1;
}
.button-skeleton,.check-skeleton{
    position: relative;
}
.check-skeleton::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 107%;
    border-radius: 10px;
    height: 123%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.button-skeleton::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 102%;
    border-radius: 3px;
    height: 26px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}