:root{
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#007bff;
    --nav-font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --nav-button-color:white;
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --row-hover-border:dodgerblue;
    --dot-skeletone-bg:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    --animation: css-skeleton-loading;
    --animation-duration:1.4s;
    --animation-background-size:400% 100%;
    --animation-background-position-0:100% 50%;
    --animation-background-position-100:0 50%;
}
.note-editor {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.note-editable {
font-family: Arial, sans-serif;
font-size: 14px;
padding: 10px;
color: #333;
}
#inputTo, #inputCC, #inputBCC, #inputSubject {
    box-shadow: none;
    font-weight: 600;
}
#inputTo:focus, #inputCC:focus, #inputBCC:focus, #inputSubject:focus{
    border-color: dodgerblue;
}
button.send_button{
    background-color: #0056b3;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    height: 2.1em;
    font-size: 12px;
    line-height: 1.3;
    font-variant: all-petite-caps;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: -0.3em;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-color: #007bff;
}
button.send_button:hover{
    background-image: linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);color: lightblue; 
    transition: border-color 0.3s ease, background-color 0.3s ease;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.bootstrap-tagsinput {
    width: 100% !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) !important;
    display: inline-block !important;
    padding: 2px 2px !important;
    color: #555 !important;
    vertical-align: middle !important;
    border-radius: 4px !important;
    max-width: 100% !important;
    line-height: 20px !important;
    cursor: text !important;
}
.bootstrap-tagsinput:focus{
    border:1px solid #007bff !important;
}
.bootstrap-tagsinput:active{
    border:1px solid #007bff !important;
}
.bootstrap-tagsinput .tag {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    margin-right: 2px !important;
    color: white !important;
    background-color: #bd8205 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 4px !important;
    padding-bottom: 2px !important;
}
.background_success{
    background-color: rgb(4, 168, 4);
    color: white;
    font-size: 12px;
    animation: text 3s 1;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    --mdb-box-shadow-color-rgb: 0, 0, 0 !important;
    box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.35) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
@keyframes text {
    0% {
        color: darkcyan;
    }
    30% {
        letter-spacing: 8px;
    }
    85% {
        letter-spacing: 5px;
    }
}
.email_list {
    color: darkgray;
    font-weight: 800;
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
    animation: fon_color 3s infinite;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 15px;
}
@keyframes fon_color {
    50% {
        color: cornflowerblue;
    }
    
    100% {
        color: cornflowerblue;
    }
}
.label-attach{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    font-weight: 700;
}
#email_attachment{
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    font-weight: 700;
    border: none;
}
.upload-box {
    margin-top: 10px;
}
.progress {
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 0;
}
.upload_btn {
    width: 100%;
}
.register-hidden{
    display: none;
}
td.file-column {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
th.file-head {
    text-align: center;
    font-size: 15px;
    box-shadow: none;
}
button#moreBtn,button#decrementBtn {
    padding: 3px 5px;
    box-shadow: none;
    border: none;
    height: 35px;
}
select#selectAttachFile{
    cursor: pointer;
    box-shadow: none;
    margin-left: 5px;
    color: black;
    font-size: 12px;
    font-weight: 800;
}
.hidden{
    display: none;
}
.user_eml{
    font-family: var(--nav-font-family);
}
.email-send-box-list {
    padding: 5px 60px;
}
a#email_search_page,a#email_send_page,a#file_directory_page,a#email_inbox_page,a#email_draft_page,a#email_setting {
    outline: none;
    box-shadow: none;
    font-family: var(--nav-font-family);
    font-weight: 700;
    color: gray;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
    padding: 1px 5px;
}
a#email_search_page:hover,a#email_send_page:hover,a#file_directory_page:hover,a#email_inbox_page:hover,a#email_draft_page:hover,
a#email_setting:hover{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    border-color: var(--mdb-btn-border-color);
    font-variant: all-petite-caps;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
    font-weight: 600;
    border-radius: 3px;
    transition: .5s ease;
    opacity: 1;
}
.new_box {
    padding: 6px;
}
.new_email_bage {
    background-color: #007400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    padding: 1px 3px;
    border-radius: 15px;
    padding-bottom: 2px;
}
#staticBackdropLabelHeader {
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: black;
    margin-top: -0.3em;
    animation: 2s infinite;
}
.email_modal_header,.email_modal_footer {
    background: transparent;
    background-image: repeating-linear-gradient(55deg, #bf7a1f, transparent 1px);
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    height: 2.2em;
    /* border-bottom: double silver; */
}
.send_email_modal_footer{
    background: transparent;
    background-image: repeating-linear-gradient(55deg, #cfb189, transparent 1px);
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    height: 2.2em;
}
.body_area{
    background: transparent;
    background-image: repeating-linear-gradient(55deg, #bf7a1f, transparent 1px);
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}
.email-box-header{
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}
.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
input#allSelectBtn{
    box-shadow: none;
    cursor: pointer;
    margin-top: 1px;
}
input#selectBtn{
    box-shadow: none;
    cursor: pointer;
}
button.modal_button {
    background-color: #0056b3;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    height: 2.1em;
    font-size: 12px;
    line-height: 1.3;
    font-variant: all-petite-caps;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: -6px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-color: #007bff;
}
button.modal_button:hover{
    background-image: linear-gradient(to top, orangered, orangered, orangered);
    color: white; 
    transition: border-color 0.3s ease, background-color 0.3s ease;--mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    border-color: orangered;
    opacity: 1;
}
button.search_btn {
    background-color: #0056b3;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    height: 2.1em;
    font-size: 12px;
    line-height: 1.3;
    font-variant: all-petite-caps;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: 0px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-color: #007bff;
}
button.search_btn:hover{
    background-image: linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    color: white; 
    transition: border-color 0.3s ease, background-color 0.3s ease;--mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    border-color: #007bff;
    opacity: 1;
}
#start_date,#send_start_date{
    font-family: var(--nav-font-family);
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
}
#end_date,#send_end_date{
    font-family: var(--nav-font-family);
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
}
#email_search,#send_email_search{
    font-family: var(--nav-font-family);
    box-shadow: none;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
}
select#select_attachment,select#select_status,select#select_attachment_email,select#select_status_email{
    font-family: var(--nav-font-family);
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700; 
}
input#start_date:focus,input#end_date:focus,input#email_search:focus,input#send_email_search:focus,select#select_attachment:focus,select#select_status:focus
,select#select_attachment_email:focus,select#select_status_email:focus,input#send_start_date:focus
,input#send_end_date:focus{
    /* border-color: dodgerblue; */
    border: 2px solid dodgerblue;
}
::placeholder{
    color: lightgray;
    font-weight: 700;
}
select#select_read_email,select#select_send_read_email {
    font-family: var(--nav-font-family);
    box-shadow: none;
    cursor: pointer;
    border: 1px solid lightgray;
    height: 2em;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 1px;
    border-radius: 3px;
}
select#select_read_email:hover,select#select_send_read_email:hover{
    background-color: lightgrey;
}
select#select_read_email:focus,select#select_send_read_email:focus{
    border: 2px solid dodgerblue;
}
.custom-select {
    position: relative;
}
.send_data_item {
    position: relative;
}
select#perItemControl,select#perItemSendEmail {
    outline: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    background: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    /* background: linear-gradient(5deg, gray, transparent 3%, lightgray, silver); */
    /* border: 1px solid #b7c9e5; */
    border-radius: 5px;
    width: 50px;
    height: 22px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid lightcyan;
}
.email-progress-bar-skeleton{
    position: relative;
}
.email-progress-bar-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.margin_search{
    margin-left: 22px;
}
.group_btn,.send_group_btn {
    margin-top: -3px;
}
label.tot-search {
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: var(--nav-font-family);
    margin-top: 5px;
    margin-bottom: 5px;
}
table, th, td {
    border-bottom: 1px solid #ebe9e9;
    border-top: 0.5px solid #ebe9e9;
    border-collapse: collapse;
    font-size: 12px;
    color: #000000;
}
td#treeRow{
    border-left: 1px solid #ebe9e9;
}
td#lastTd{
    border-right: 1px solid #ebe9e9;
}
button#checkBtn {
    border: none;
    background-color: white;
    line-height: 1.2;
}
button#viewBtn {
    border: none;
    background-color: #fff;
}
button#forwardBtn{
    border: none;
    background-color: #fff;
}
button#checkBtn:hover,button#viewBtn:hover,button#deleteBtn:hover,button#forwardBtn:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    border-radius: 50%;
    background: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: black;
}
tr.user-table-row{
    background-color: white;
    opacity: 1;
}
tr.user-table-row:hover{
    border: 1px solid var(--row-hover-border);
    font-weight: 500;
    background-image: var(--table-row-hover);
    animation-name: fonColor;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes fonColor {
    0%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: darkblue;
    }
}
#user_email_get_data_table_paginate,#send_email_data_table_paginate {
    float: right;
}
.dropdown-item {
    --bs-dropdown-link-color: #212529;
    font-family: var(--nav-font-family);
    display: block;
    width: 100%;
    padding: 0.0rem 1rem;
    clear: both;
    font-weight: 500;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}
button#dropdownButton {
    font-family: var(--nav-font-family);
    font-weight: 600;
    font-size: 13px;
}
.month_box {
    text-align: right;
}
span#email_month,span#send_email_month {
    font-family: var(--nav-font-family);
    font-size: 13px;
    font-weight: 600;
}
.progress {
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 0;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #0d6efd;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width 0.6s ease;
}
.bg-email {
    opacity: 1 !important;
    background-color: #0056b3 !important;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.bg-status{
    background-color: #007bff;
}
.row-hidden{
    display: none;
}
.loader-show,.hidden{
    display: none;
}
.table-responsive{
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 400px;

}
.card.detail-content {
    padding: 5px 13px;
    margin: 5px 5px;
    border: 1px solid #dfdfdf;
}
div#emailHeader {
    border-bottom: 1px solid lightgray;
}
.card_row_first_part{
    font-family: var(--nav-font-family);
    font-weight: 600;
    font-size: 13px;
}
.subject{
    background-color: #efebeb;
    border-left: 3px solid cadetblue;
    width: 100%;
}
p.company_name_area {
    font-family: var(--nav-font-family);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}
label#companyAddress {
    font-size: 13px;
}
label#logo_area {
    margin-top: 2px;
}
img.company_logo {
    width: 50px;
    height: 50px;
    background-color: darkblue;
    border-radius: 10%;
}
.attachment_file {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    border: 2px solid rgb(252, 252, 252);
    padding: 5px 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    cursor: pointer;
}
.attachment_file:hover{
    background-image: var(--table-row-hover);
    background: transparent;
    border: 2px dotted lightgray;
    box-shadow: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    opacity: 1;
}
.attachment_file_link_btn{
    margin: 0px 5px;
    border: 2px solid rgb(252, 252, 252);
    padding: 5px 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    cursor: pointer;
    text-decoration: none;
}
.attachment_file_link_btn:hover{
    background-image: var(--table-row-hover);
    background: transparent;
    border: 2px dotted lightgray;
    box-shadow: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    opacity: 1;
}
.attach_header{
    font-family: var(--nav-font-family);
}
.logo_attachment_file {
    margin-left: 10px;
    background-color: white;
}
span.attachment_files {
    background: aliceblue;
    font-weight: 600;
    margin-bottom: 10px;
}
.email_footer{
    font-family: var(--nav-font-family);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
}
.modal-content.image_preview {
    border: none;
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    opacity: 1;
}
img#logoFile {
    width: 70px;
}
.div_close_btn {
    padding: 20px 10px;
}
.modal_text{
    font-family: var(--nav-font-family);
    font-size: 13px;
    font-weight: 600;
    color: black;
}
a.downloadBtn {
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: none;
    color: #606060;
    height: 2.1em;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: transparent;
    background: linear-gradient(5deg, #cdcdcd61, transparent 3%, #e1e1e1, #e3e3e399);
    border: 2px solid #dfdfdf;
    border-radius: 15px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    text-decoration: none;
}
a.downloadBtn:hover{
    background-image: var(--table-row-hover);
    color: blue;
    background: transparent;
    border: 2px dotted lightgray;
    box-shadow: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    opacity: 1;
}
.delete-btn-display{
    display: none;
}
.table-row-select-bg{
    background: linear-gradient(5deg, #cdcdcd61, transparent 3%, #e1e1e1, #e3e3e399);
}
img#tableLoaderShow {
    width: 40px;
}
.loader__box {
    text-align: center;
}
.text-skeletone,.tabskeletone,.skeletone,.email-skeletone,.btn-skeletone,.svg_skeletone,.link-btn-skeletone,.logo-skeletone,
.min-dropdown-skeletone{
    position: relative;
    background-color: rgb(0, 0, 0, 0.06);
}
.text-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 5px;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
.min-dropdown-skeletone::before{
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    width: 101%;
    height: 120%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 3px;
    margin-top: -1px;
    margin-left: -2px;
}
.tabskeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100.4%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 3px;
    margin-top: -1px;
    margin-left: -2px;
}
.skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 2px;
}
.email-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 0px;
}
.btn-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 105%;
    height: 115%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 5px;
    margin-top: -2px;
    margin-left: -2px;
}
.link-btn-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 105%;
    height: 115%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 15px;
    margin-top: -2px;
    margin-left: -2px;
}
.logo-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
    border-radius: 5px;
    margin-top: -2px;
    margin-left: 0px;
}
.svg_skeletone::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    justify-content: space-between;
    left: 1;
    z-index: 2;
    min-height: 100%;
    width: 100%;
    border-radius: 4px;
    background: var(--dot-skeletone-bg);
    background-size: var(--animation-background-size);
    animation-name: var(--animation);
    animation-duration: var(--animation-duration);
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes css-skeleton-loading {
    0% {
        background-position: var(--animation-background-position-0);
    }

    100% {
        background-position: var(--animation-background-position-100);
    }
}
img#modalImage {
    width: 100%;
    height: 100%;
}
button#deleteBtn {
    background-color: white;
    border: none;
}
.timezone,.send_timezone {
    font-size: 12px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(to bottom, silver, transparent, silver, lightgray);
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}
button#clearBtn{
    border: none;
    background-color: white;
}
button#rowDeleteBtn{
    border: none;
    background-color: white;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.attach_group {
    border: 2px dotted burlywood;
}
.file_name {
    margin-left: 5px;
    background-color: #bd8205;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
}
.file_logo{
    width: 50px;
    height: 25px;
}