:root{
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#007bff;
    --nav-font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --nav-button-color:white;
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --row-hover-border:dodgerblue;
}
.note-editor {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.note-editable {
font-family: Arial, sans-serif;
font-size: 14px;
padding: 10px;
color: #333;
}
#inputTo, #inputCC, #inputBCC, #inputSubject {
    box-shadow: none;
}
#inputTo:focus, #inputCC:focus, #inputBCC:focus, #inputSubject:focus{
    border-color: dodgerblue;
}
button.send_button{
    background-color: #0056b3;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    height: 2.1em;
    font-size: 12px;
    line-height: 1.3;
    font-variant: all-petite-caps;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: -0.3em;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-color: #007bff;
}
button.send_button:hover{
    background-image: linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);color: lightblue; 
    transition: border-color 0.3s ease, background-color 0.3s ease;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    opacity: 1;
}
.bootstrap-tagsinput {
    width: 100% !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) !important;
    display: inline-block !important;
    padding: 2px 2px !important;
    color: #555 !important;
    vertical-align: middle !important;
    border-radius: 4px !important;
    max-width: 100% !important;
    line-height: 20px !important;
    cursor: text !important;
}
.bootstrap-tagsinput:focus{
    border:1px solid #007bff !important;
}
.bootstrap-tagsinput:active{
    border:1px solid #007bff !important;
}
.bootstrap-tagsinput .tag {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    margin-right: 2px !important;
    color: white !important;
    background-color: #bd8205 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 4px !important;
    padding-bottom: 2px !important;
}
.background_success{
    background-color: rgb(4, 168, 4);
    color: white;
    font-size: 12px;
    animation: text 3s 1;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    --mdb-box-shadow-color-rgb: 0, 0, 0 !important;
    box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.35) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
@keyframes text {
    0% {
        color: darkcyan;
    }
    30% {
        letter-spacing: 8px;
    }
    85% {
        letter-spacing: 5px;
    }
}
.email_list {
    color: darkgray;
    font-weight: 800;
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
    animation: fon_color 3s infinite;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 15px;
}
@keyframes fon_color {
    50% {
        color: cornflowerblue;
    }
    
    100% {
        color: cornflowerblue;
    }
}
.label-attach{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    font-weight: 700;
}
#email_attachment{
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    font-weight: 700;
    border: none;
}
.upload-box {
    margin-top: 10px;
}
.progress {
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 0;
}
.upload_btn {
    width: 100%;
}
.register-hidden{
    display: none;
}
td.file-column {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
th.file-head {
    text-align: center;
    font-size: 15px;
    box-shadow: none;
}
button#moreBtn,button#decrementBtn {
    padding: 3px 5px;
    box-shadow: none;
    border: none;
    height: 35px;
}
select#selectAttachFile{
    cursor: pointer;
    box-shadow: none;
    margin-left: 5px;
    color: black;
    font-size: 12px;
    font-weight: 800;
}
.hidden{
    display: none;
}
.user_eml{
    font-family: var(--nav-font-family);
}
.email-send-box-list {
    padding: 5px 60px;
}
a#email_search_page,a#email_send_page,a#file_directory_page {
    outline: none;
    box-shadow: none;
    font-family: var(--nav-font-family);
    font-weight: 700;
    color: gray;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
    padding: 1px 5px;
}
a#email_search_page:hover,a#email_send_page:hover,a#file_directory_page:hover{
    background-image: var(--nav-button-background);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font-family: var(--nav-font-family);
    border-color: var(--mdb-btn-border-color);
    font-variant: all-petite-caps;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
    font-weight: 600;
    border-radius: 3px;
    transition: .5s ease;
    opacity: 1;
}
.email_modal_header,.email_modal_footer {
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    height: 2.2em;
    /* border-bottom: double silver; */
}
.email-box-header{
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}
.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
input#allSelectBtn,input#selectBtn{
    box-shadow: none;
    cursor: pointer;
}
button.modal_button {
    background-color: #0056b3;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    height: 2.1em;
    font-size: 12px;
    line-height: 1.3;
    font-variant: all-petite-caps;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: -6px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-color: #007bff;
}
button.modal_button:hover{
    background-image: linear-gradient(to top, orangered, orangered, orangered);
    color: white; 
    transition: border-color 0.3s ease, background-color 0.3s ease;--mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    border-color: orangered;
    opacity: 1;
}
button.search_btn {
    background-color: #0056b3;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    height: 2.1em;
    font-size: 12px;
    line-height: 1.3;
    font-variant: all-petite-caps;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: 0px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-color: #007bff;
}
button.search_btn:hover{
    background-image: linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    color: white; 
    transition: border-color 0.3s ease, background-color 0.3s ease;--mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    border-color: #007bff;
    opacity: 1;
}
#start_date{
    font-family: var(--nav-font-family);
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
}
#end_date{
    font-family: var(--nav-font-family);
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
}
#email_search{
    font-family: var(--nav-font-family);
    box-shadow: none;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
}
select#select_attachment{
    font-family: var(--nav-font-family);
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ebebeb;
    height: 1.3em;
    color: #606060;
    font-size: 12px;
    font-weight: 700; 
}
input#start_date:focus,input#end_date:focus,input#email_search:focus,select#select_attachment:focus{
    /* border-color: dodgerblue; */
    border: 2px solid dodgerblue;
}
::placeholder{
    color: lightgray;
    font-weight: 700;
}
select#perItemControl {
    outline: none;
    color: #606060;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    background: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    border: 1px solid #b7c9e5;
    border-radius: 3px;
    width: 50px;
    height: 22px;
    font-size: 14px;
}
label.tot-search {
    color: #606060;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: var(--nav-font-family);
    margin-top: 12px;
}
table, th, td {
    border-bottom: 1px solid #ebe9e9;
    border-top: 0.5px solid #ebe9e9;
    border-collapse: collapse;
    font-size: 12px;
    color: #000000;
}
td#treeRow{
    border-left: 1px solid #ebe9e9;
}
td#lastTd{
    border-right: 1px solid #ebe9e9;
}
button#checkBtn {
    border: none;
    background-color: white;
    line-height: 1.2;
}
button#viewBtn {
    border: none;
    background-color: #fff;
}
button#checkBtn:hover,button#viewBtn:hover,button#deleteBtn:hover{
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    border-radius: 50%;
    background: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: black;
}
tr.user-table-row{
    background-color: white;
    opacity: 1;
}
tr.user-table-row:hover{
    border: 1px solid var(--row-hover-border);
    font-weight: 500;
    background-image: var(--table-row-hover);
    animation-name: fonColor;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes fonColor {
    0%{
        color: #0d6efd;
    }
    50%{
        color: blue;
    }
    100%{
        color: darkblue;
    }
}
#user_email_get_data_table_paginate {
    float: right;
}
.dropdown-item {
    --bs-dropdown-link-color: #212529;
    font-family: var(--nav-font-family);
    display: block;
    width: 100%;
    padding: 0.0rem 1rem;
    clear: both;
    font-weight: 500;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}
button#dropdownButton {
    line-height: 1px;
}