:root{
    --search-background:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, #e1e1e1, rgba(0, 0, 0, 0.05) 100%);
    --table-head-background:linear-gradient(1deg, #dbd8d8db, transparent 3%, #d3d3d3c4, #d7d7d7db);
    --unit-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
label.item_class {
    color: black;
    font-weight: 600;
    font-family: var(--unit-font-family);
    margin-top: 2px;
}
span#updateForm_errorList{
    text-align: right;
}
label.tot-search {
    color: black;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-family: var(--unit-font-family);
}
.skeleton-card-head-capsule-two,.skeleton-card-head-labl-two,.skeleton-card-head-two{
    position: relative;
}
.skeleton-card-head-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-labl-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-capsule-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
@keyframes focus_skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
label.tot-search {
    color: black;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-family: var(--unit-font-family);
}
tbody#units_data_table {
    color: black;
    font-weight: 500;
}
span#search_off {
    font-size: 11px;
    font-weight: 600;
}
.units-hidden{
    display: none;
}
tr>th.tableHead {
    font-weight: 800;
}
a.page-link.btn_page {
    height: 25px;
}
tr.table-row.user-table-row:hover{
    background-image: var(--table-row-hover);
    color: var(--color);
    font-weight: var(--font-weight);
}
tr.table-row:hover td#unit_tab3,tr.table-row.user-table-row.td#unit_tab3 {
    position: relative;
}
tr.table-row:hover td#unit_tab3::after,tr.table-row.user-table-row.td#unit_tab3::after {
    content: "\f304";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    text-align: center;
    opacity: 5;
}
input#units_name {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(1em + 2px + 0.5rem);
    line-height: 1;
    font-size: 13px;
    box-shadow: none;
    font-weight: 700;
    color: #333;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    font-family: var(--unit-font-family);
}
input#units_name:focus{
    border-color: #0056b3;
    outline: 1px solid #0056b3;
    color: #0056b3;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}
.is-valid{
    border-color: #198754;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border: 1px solid rgb(25, 135, 84) !important;
    transition: border 0.3s ease-in-out !important;
}
.is-invalid{
    border-color: rgb(220, 53, 69) !important;
    border: 1px solid rgb(220, 53, 69) !important;
    transition: border 0.3s ease-in-out !important;
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
div#units_data_table_paginate {
    float: right;
}
span#total_units_records{
    font-weight: 700;
    color: black;
    font-size: 12px;
}
span#iteam_label5{
    font-size: 12px;
}
input#delete_unit_id {
    outline: none;
    border: none;
    font-weight: 600;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showCategory{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}