:root{
    /* ========= darkorange color bg focus in pivot table ================== */
    --theme-dashboard-sales-page-background-image:radial-gradient(farthest-corner at 100px 100px, darkorange orange);
    --theme-dashboard-sales-page-background-image2:radial-gradient(farthest-corner at 100px 100px, orange,darkorange);
    --theme-dashboard-sales-page-background-image3:radial-gradient(farthest-corner at 100px 100px, #f0f0f0,darkorange);
    --theme-dashboard-sales-page-font-color:#fff;
    --theme-dashboard-sales-page-background-color:darkorange;
}