:root{
    --dashbord-nav-bar-background-image:none;
    --dashbord-nav-bar-shadow:none;
    --dashbord-nav-bar-height:1.9;
    --dashbord-nav-bar-opacity:1;
    --dashbord-nav-bar-icon-color:white;
    --dashbord-nav-bar-icon-display:none;

}