:root{
    --input-background-color:linear-gradient(to bottom, lightgray, transparent,lightgray);
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%,transparent 80%, rgba(0, 0, 0, 0.05) 100%);
    --bg-color:darkgoldenrod;
    --color:purple;
    --size:1px;
    --font-weight:500;
    --apperence-app-setting-bg:linear-gradient(to bottom, #08a05c,#08a05c);
    --drop-border-bg-color:white;
    --inventory-navbar-btn-background-image-hover:linear-gradient(5deg, silver, transparent,silver,lightgray);
    --btn-btn-sm-font-family:normal 600 12px / 20px "Poppins", Helvetica, Arial, Verdana, sans-serif;
    --category-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /* #e1e1e1 */
}
.toggle-icon {
    font-size: 12px;
}
.table-responsive {
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;
}
span.permission-plate {
    --bs-badge-padding-x: 0.50em;
    --bs-badge-padding-y: 0.25em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 800;
    --bs-badge-color: black;
    --bs-badge-border-radius: 0.375rem;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
    background-color: white;
    opacity: 1;
}
tbody#category_data_table {
    color: black;
}
table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 1;
    font-family: sans-serif;
    font-weight: 600;
}
tr.table-row.user-table-row{
    color: black;
}
tr.table-row.user-table-row:hover{
    background-image: var(--table-row-hover);
    color: var(--color);
    font-weight: var(--font-weight);
    animation:fnt_color 2s linear infinite;
}
@keyframes fnt_color{
    0%{
        color: lightgray;
    }
    10%{
        color: black;
    }

    50%{
        color: royalblue;
    }
    100%{
        color: purple;
    }
}
tr.table-row:hover td#cat_td3,tr.table-row.user-table-row.td#cat_td3 {
    position: relative;
}
tr.table-row:hover td#cat_td3::after,tr.table-row.user-table-row.td#cat_td3::after {
    content: "\f304";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    text-align: center;
    opacity: 5;
}
tr.clicked{
    background-color: rgb(210, 255, 210);
    opacity: 1;
}
td {
    position: relative;
}
li.upd.cgy {
    transform: translateY(0%) !important;
    text-align: center;
    padding: 0px 0px;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    border: none;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: orangered;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
input.form-switch.form-check-input {
    margin-top: 1px;
    outline: none;
    box-shadow: none;
    background-color: orangered;
    
}
input.form-switch.form-check-input:checked{
    background-color: #08a05c;
    border: none;
}
.catg{
    color: black;
    font-size: 11px;
    margin-top: -10px;
    animation: fon_color 3s infinite;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: var(--category-font-family);
}
@keyframes fon_color{
    50%{
        color: black;
    }
    100%{
        color: black;
    }
}
span#total_category_records {
    color: darkcyan;
    font-weight: 600;
    font-size: 11px;
}
#category_page{
    border: none;
    background-color: white;
    border-radius: 5px;
    opacity: 1;
}
.category-form {
    align-items: center;
    text-align: center;
}
input.form-control.form-control-sm.catg_name {
    box-shadow: none;
}
label.catg_name_label {
    font-size: 13px;
    font-weight: 700;
    color: black;
    font-family: var(--category-font-family);
    
}
label.tot-search {
    color: black;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-family: var(--category-font-family);
}
tbody#group_data_table {
    color: black;
    font-weight: 500;
}
.button_width{
    width: 100%;
}
button.btn.btn-sm.cgt_btn {
    height: 25px;
    background-color: #0056b3;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    color: var(--nav-button-color);
    font: var(--btn-btn-sm-font-family);
    border-color: var(--mdb-btn-border-color);
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    font-variant: all-petite-caps;
    font-size: 13px;
    line-height: .2;
    opacity: 1;
    text-align: center;
    font-weight: 700;
    outline: none;
    letter-spacing: 1px;
    margin-left: -4px;
    border-radius: 3px;
    border: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    animation: text_font_color 5s infinite;
}
button.btn.btn-sm.cgt_btn:hover{
    background-color: #1985f9e0;
    border: none;
    color: white;
    opacity: 1;
    transition: 1ms;
}
button.btn.btn-sm.cgt_cancel_btn{
    background-color: orangered;
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    color: white;
    line-height: 5px;
    font: var(--btn-btn-sm-font-family);
    font-weight: 600;
    border-radius: 3px;
    height: 2.1em;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    border: none;
}
button.btn.btn-sm.cgt_cancel_btn:hover{
    background-color: #ff4500a8;
    color: white;
    transition: 1ms;
}
.category-hidden{
    display: none;
}
.catg_search-hidden{
    display: none;
}
div#category_data_table_paginate {
    float: right;
}
label.item_class {
    color: black;
    font-weight: 600;
    font-family: var(--category-font-family);
    margin-top: 2px;
}
select#perItemControl {
    outline: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    border-radius: 3px;
    width: 50px;
    font-family: var(--category-font-family);
    border: 1px solid lightgray;
}
span.search_off {
    font-size: 11px;
    color: orangered;
    animation: colr 6s infinite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 700;
}
span.search_on {
    font-size: 11px;
    color: orangered;
    animation: colr 6s infinite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 700;
}
.custom-select{
    position: relative;
}
.custom-list-item-arrow{
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    width: 1rem;
    height: 100%;
    background-image: var(--apperence-app-setting-bg);
    pointer-events: none;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}
.custom-list-item-arrow::before,.custom-list-item-arrow::after{
    --size:0.5em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
.custom-list-item-arrow::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--drop-border-bg-color);
    top: 36%;
}
.custom-list-item-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid var(--drop-border-bg-color);
    top: 70%;
}
.card-body.cat_form {
    box-shadow: 0px 2px 20px #0001;
    padding-bottom: 20px;
}
.display_hidden{
    display: none;
}
.skeleton-card-head,.skeleton-card-head-label,.skeleton-card-head-capsule,.skeleton-table,.peritem-label-skeleton,
.peritem-skeleton,.pagination-skeleton,.skeleton-input-label,.skeleton-button,.skeleton-input,.skeleton-card-head-labl{
    position: relative;
}
.skeleton-card-head::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-label::before{
    content: "";
    position: absolute;
    left: 12px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-labl::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-capsule::before{
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-table::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
}
.peritem-label-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.peritem-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.pagination-skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-input-label::before{
    content: "";
    position: absolute;
    left: 12px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 2px;
}
.skeleton-input::before{
    content: "";
    position: absolute;
    left: -12px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
@keyframes focus_skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
.card.form-control.cat_form {
    /* box-shadow: 0px 2px 20px #0001; */
    border: none;
}
form.mini-form {
    box-shadow: 0px 2px 20px #0001;
    padding: 10px 10px;
    margin: 8px 5px;
    border-radius: 5px;
}
input#category_name {
    width: 100%;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    /* animation: supfncolor 6s infinite; */
    min-height: calc(1.0em + 0.5rem + 2px);
    padding: 0.20rem 0.5rem;
    line-height: 1;
    border-radius: 5px;
    font-size: 13px;
    box-shadow: none;
    font-weight: 600;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    color: black;
    font-family: var(--category-font-family);
}
@keyframes supfncolor{
    0%{
        color: lightgray;
    }
    50%{
        color: black;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
.is-valid{
    border-color: rgb(25, 135, 84) !important;
}
.btn_box {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
.pill-rounded {
    border-radius: 50rem;
    background-image: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    border: 1px solid lightgray;
}
.display-none{
    display: none;
}
.min-skeleton{
    position: relative;
}
.min-skeleton::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 105%;
    height: 108%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
button#cate_delete5 {
    background: orangered;
    color: white;
    border-radius: 5px;
}
button#cate_delete5:hover {
    background-color: #ff4500a8;
    color: white;
    transition: 1ms;
}
button#update_btn_confirm {
    color: white;
    border-radius: 5px;
}
button#update_btn_confirm:hover {
    background-color: #1985f9e0;
    border: none;
    color: white;
    opacity: 1;
    transition: 1ms;
}
span.error_val {
    font-size: 12px;
    color: #333;
    text-align: left;
    font-weight: 600;
    font-family: var(--category-font-family);
}
span#savForm_error {
    text-align: right;
}
.add-hidden{
    display: none;
}
.update-hidden{
    display: none;
}
.delete-hidden{
    display: none;
}
button#deleteBtn {
    outline: none;
    border: none;
    background-color: white;
}
button.btn.btn-sm.btn_focus {
    animation: btnFocus 1s infinite;
}
@keyframes btnFocus{
    0%{
      /* color: darkcyan;   */
    }
    100%{
        background-image: linear-gradient(to bottom, rgb(14 14 14 / 5%) 0%, rgb(171 165 165 / 5%) 100%);
    }
}
.td-capsule-skeleton{background:linear-gradient(90deg,#f3f3f3,rgba(250, 250, 250, 0.05) 100%);
    background-size:200% 100%;
    background-position:100% 0;
    animation:2s infinite load
}
@keyframes load{
    100%{
        background-position:-100% 0
    }
}

.delete_content {
    animation: fncolor 6s infinite;
}
@keyframes fncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        color: black;
    }
}
.loader_chart {
    background-color: orange;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    border-bottom: 6px solid darkgreen;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
    margin-top: -1.5em;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
input#delete_category_id {
    outline: none;
    border: none;
    font-weight: 600;
    font-family: var(--category-font-family);
    color: black;
}
button#deleteLoader {
    background: #dd3c00db;
    font-family: var(--category-font-family);
    opacity: 5;
}
button#deleteLoader:hover {
    background: #e9e9e9;
    color: #dd3c00db;
    font-family: var(--category-font-family);
}
button#cate_delete3 {
    background: #dd3c00db;
    font-family: var(--category-font-family);
}
button#cate_delete3:hover {
    background: #e9e9e9;
    color: #dd3c00db;
    font-family: var(--category-font-family);
}
tr>th.tableHead {
    font-weight: 800;
}
.bg-silver {
    --bs-warning-rgb: 255, 193, 7;
    --bs-bg-opacity: 1;
    background-image: var(--inventory-navbar-btn-background-image-hover) !important;
    color: black !important;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showCategory{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
    .skeleton-card-head-labl,.skeleton-card-head-capsule,.peritem-label-skeleton{
        position: relative;
    }
    .skeleton-card-head-labl::before{
        top: -2px;
    }
    .skeleton-card-head-capsule::before{
        left: -1px;
        width: 101%;
    }
    .peritem-label-skeleton::before{
        width: 107%;
    }
}