:root{
    --search-background:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --table-head-background:linear-gradient(to bottom, silver, transparent,silver,lightgray);
}
.medicinedogs-hidden{
    display: none;
}
.medicineid-hidden{
    display: none;
}
button#deleteLoader {
    line-height: .9;
}
button#dosage4 {
    line-height: .9;
}
input#search_area_ {
    outline: none;
    box-shadow: none;
    background-color: #08a05c;
    border: none;
}
span#search_off_ {
    color: darkcyan;
    font-size: 11px;
    font-weight: 600;
}
span#search_on_ {
    color: darkcyan;
    font-size: 11px;
    font-weight: 600;
}
.prd-search-hidden{
    display: none;
}
span.total_result {
    font-weight: 600;
    color: darkcyan;
    font-size: 11px;
}
label.catg_ser_label {
    color: darkcyan;
    font-weight: 600;
    font-size: 13px;
}
select#perItemControl2 {
    outline: none;
    box-shadow: none;
    border: 1px solid #08a05c;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: #08a05c;
    border-radius: 3px;
    width: 50px;
}
.pagination, .datatable-pagination ul {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 0.5rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: lightseagreen;
    --bs-pagination-active-border-color: lightseagreen;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
    font-weight: 600;
}
label.medic{
    font-weight: 600;
    font-size: 11px;
}
span#total_medicinedogs_records {
    font-size: 12px;
}
input#name_search {
    background-image: var(--search-background);
    border: 1px solid #f1eeee;
    color: darkcyan;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 20px #0001;
    animation: text_color 3s infinite;
}
input#medicine_dogs {
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#medicine_id {
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input#medicine_id {
    outline: none;
    box-shadow: none;
}
span.total_result{
    font-weight: 600;
    color: darkcyan;
}
.dogs{
    float: left;
}
th.back_color{
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-background);
    border: 1px solid silver;
}
a#showMedicine {
    color: darkcyan;
    font-weight: 600;
    font-size: 11px;
    margin-top: 6px;
}
div#tb_subcatg {
    border: none;
    box-shadow: 0px 2px 20px #0001;
}
th.align {
    text-align: center;
    border: 1px solid silver;
    font-size: 12px;
    letter-spacing: 0.5px;
}
td.align {
    text-align: center;
    border: 1px solid silver;
    font-size: 12px;
    letter-spacing: 0.5px;
}
div#medicine_dogs_data_table_paginate {
    float: right;
}
input#delete_medicine_dogs_id {
    outline: none;
    border: none;
    font-weight: 600;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showMedicine{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}