@import "components/comment-box.css";
@import "components/input.css";
.light2-focus {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
    animation: color2_focus 1s infinite;
}
@keyframes color2_focus{
    0%{
        background-color: #f1f1f1;
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
    50%{
        background-color: lightgray;
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
    100%{
        background-color: lightgray;
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input#update_purchases_moduel_group {
    background-color: #f1f1f1;
}
input#sidebar_mode {
    cursor: pointer;
}
input#profile_mode {
    cursor: pointer;
}
input[type=checkbox].form-switch.form-check-input{
    background-color: orangered;

}
input[type=checkbox].form-switch.form-check-input:checked {
    background-color: rgb(5, 5, 248);
    color: white;
}
.indicate_light {
    text-align: center;
}

input#update_company_name {
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    /* animation: textColor 1s infinite; */
    color: black;
}
input#update_company_name:hover{
    background-color: #f1f1f1;
}
input#update_company_address {
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
}
input#update_company_title,#update_purchases_moduel,input#update_register_title,input#update_register_form_label_one,
input#update_forgot_title,input#update_forgot_form_label_one,input#update_reset_title,input#update_reset_form_label_one {
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    /* animation: textColor 1s infinite; */
    color: black;
}
input#update_company_title:hover,#update_purchases_moduel:hover,input#update_register_title:hover,input#update_register_form_label_one:hover,
input#update_forgot_title:hover,input#update_forgot_form_label_one:hover,input#update_reset_title:hover,input#update_reset_form_label_one:hover{
    background-color: #f1f1f1;
}
input#update_purchases_moduel:hover{
    background-color: #f1f1f1;
}
select#update_purchases_moduel,
#update_purchases_moduel5,#update_purchases_moduel6,#update_purchases_moduel7,#update_purchases_moduel8,#update_purchases_moduel10,
#update_purchases_moduel11,#update_purchases_moduel12,#update_purchases_moduel_subcatg2,#update_purchases_moduel_subcatg4,#update_purchases_moduel_subcatg5,
select#update_purchases_group_moduel2,#update_purchases_group_moduel3,#update_purchases_moduel10,select#update_purchases_moduel15,select#update_purchases_moduel17,
select#update_purchases_moduel18,select#update_purchases_moduel20,select#update_purchases_moduel23,select#update_purchases_moduel21,select#update_purchases_moduel24,
select#update_purchases_moduel26,select#update_purchases_moduel28,select#update_purchases_moduel29 ,select#update_purchases_moduel31,select#update_purchases_moduel33,
select#update_purchases_moduel34,select#update_purchases_moduel36,select#update_purchases_moduel38,select#update_purchases_moduel39,select#update_purchases_moduel41,
select#update_purchases_moduel43,select#update_purchases_moduel44,select#update_purchases_moduel9,select#update_purchases_moduel46,select#update_purchases_moduel48,
select#update_purchases_modue50,select#update_purchases_moduel51,select#update_purchases_moduel53,select#update_purchases_moduel54,select#update_purchases_moduel56,
select#update_purchases_moduel57,select#update_purchases_moduel59,select#update_purchases_moduel60,select#update_purchases_moduel62,select#update_purchases_moduel63,
select#update_purchases_moduel65,select#update_purchases_moduel67,select#update_purchases_moduel68,select#update_purchases_moduel70,select#update_purchases_moduel71,
select#update_purchases_moduel73,select#update_purchases_moduel75,select#update_purchases_moduel76,select#update_purchases_moduel78,select#update_purchases_moduel79,
select#update_purchases_moduel81,select#update_purchases_moduel82,select#update_purchases_moduel_Acc2,select#update_purchases_moduel_Acc4,select#update_purchases_moduel_Acc6,
select#update_purchases_moduel_Acc8,select#update_purchases_moduel_Acc9,select#update_purchases_moduel_Acc11,select#update_purchases_moduel_Acc12,select#update_purchases_moduel_Acc14,
select#update_purchases_moduel_Acc15,select#update_purchases_moduel_Acc17,select#update_purchases_moduel_Acc19,select#update_purchases_moduel_Acc20,select#update_purchases_moduel_Acc22,
select#update_purchases_moduel_Acc23,select#update_purchases_moduel_Acc25,select#update_purchases_moduel_Acc26,select#update_purchases_moduel_Acc28,select#update_purchases_moduel_Acc29,
select#update_purchases_moduel_Acc31,select#update_purchases_moduel_Acc33,select#update_purchases_moduel_Acc34,select#update_purchases_moduel_Acc36,select#update_purchases_moduel_Acc37,
select#update_purchases_moduel_Acc39,select#update_purchases_moduel_Acc40,select#update_purchases_moduel_Acc42,select#update_purchases_moduel_Acc43,select#update_purchases_moduel_Acc44,
select#update_purchases_moduel_Acc45,select#update_purchases_moduel_Acc47,select#update_purchases_moduel_Acc48,select#update_purchases_moduel_Acc50,select#update_purchases_moduel_Acc51,
select#update_purchases_moduel_Acc53,select#update_purchases_moduel_Acc54,select#update_purchases_moduel_Acc56,select#update_purchases_moduel_Acc57,select#update_purchases_moduel_Acc59
,select#update_purchases_moduel_Acc61,select#update_purchases_moduel_Acc62,select#update_purchases_moduel_Acc64,select#update_purchases_moduel_Acc65,select#update_purchases_moduel_Acc67,
select#update_purchases_moduel_Acc68,select#update_purchases_moduel_Acc70,select#update_purchases_moduel_Acc71,input#update_purchases_moduel_Acc72,select#update_purchases_moduel_Acc73,
select#update_purchases_moduel_Acc75,select#update_purchases_moduel_Acc76,select#update_purchases_moduel_Acc78,select#update_purchases_moduel_Acc79,select#update_purchases_moduel_Acc81,
select#update_purchases_moduel_Acc82,select#update_purchases_moduel_Acc84,select#update_purchases_moduel_Acc85,select#update_purchases_moduel_Acc87,select#update_purchases_moduel_Acc89,
select#update_purchases_moduel_Acc91,select#update_purchases_moduel_Acc92,select#update_purchases_moduel_Acc94,select#update_purchases_moduel_Acc95,select#update_purchases_moduel_Acc97,
select#update_purchases_moduel_Acc98,select#update_purchases_moduel_Acc100,select#update_purchases_moduel_Acc102,select#update_purchases_moduel_Acc103,select#update_purchases_moduel_Acc105,
select#update_purchases_moduel_Acc106,select#update_purchases_moduel_Acc108,select#update_purchases_moduel_Acc110,select#update_purchases_moduel_Acc111,select#update_purchases_moduel_Acc113,
select#update_purchases_moduel_Acc114,select#update_purchases_moduel_Acc116,select#update_purchases_moduel_Acc117,select#update_purchases_moduel_Acc119,select#update_purchases_moduel_Acc121,
select#update_purchases_moduel_Acc123,select#update_purchases_moduel_Acc124,select#update_purchases_moduel_Acc126,select#update_purchases_moduel_Acc127,select#update_purchases_moduel_Acc129,
select#update_purchases_moduel_Acc131,select#update_purchases_moduel_Acc132,select#update_purchases_moduel_Acc134,select#update_purchases_moduel_Acc135,select#update_purchases_moduel_Acc137,
select#update_purchases_moduel_Acc138,select#update_purchases_moduel_Acc140,select#update_purchases_moduel_Acc142,select#update_purchases_moduel_Acc144,select#update_purchases_moduel_Acc145,
select#update_purchases_moduel_Acc147,select#update_purchases_moduel_Acc148,select#update_purchases_moduel_Acc150,select#update_purchases_moduel_Acc152,select#update_purchases_moduel_Acc153,
select#update_purchases_moduel_Acc155,select#update_purchases_moduel_Acc156,select#update_purchases_moduel_Acc158,select#update_purchases_moduel_Acc159,select#update_purchases_moduel_Acc161,
select#update_purchases_moduel_Acc162,select#update_purchases_moduel_Acc164,select#update_purchases_moduel_Acc166,select#update_purchases_moduel_Acc168,select#update_purchases_moduel_Acc169,
select#update_purchases_moduel_Acc171,select#update_purchases_moduel_Acc172,select#update_purchases_moduel_Acc174,select#update_purchases_moduel_Acc175,select#update_purchases_moduel_Acc177,
select#update_purchases_moduel_Acc178,select#update_purchases_moduel_Acc180,select#update_purchases_moduel_Acc181,select#update_purchases_moduel_Acc183,select#update_purchases_moduel_Acc184,
select#update_purchases_moduel_Acc186,select#update_purchases_moduel_Acc187,select#update_purchases_moduel_Acc189,select#update_purchases_moduel_Acc190,select#update_purchases_moduel_Acc192,
select#update_purchases_moduel_Acc193,select#update_purchases_moduel_Acc195,select#update_purchases_moduel_Acc196,select#update_purchases_moduel_Acc198,select#update_purchases_moduel_Acc200,
select#update_purchases_moduel_Acc201,select#update_purchases_moduel_Acc203,select#update_purchases_moduel_Acc204,select#update_purchases_moduel_Acc206,select#update_purchases_moduel_Acc208,
select#update_purchases_moduel_Acc209,select#update_purchases_moduel_Acc211,select#update_purchases_moduel_Acc212,.parent_hrmModuel,select#update_hrm_moduel2,.hrmChild,.parent_authModuel,
select#update_auth_moduel2,select#update_auth_moduel4,select#update_layouts_moduel2,select#update_components_moduel2,.parent_componentsModuel,.parent_layoutsModuel,select#update_footer_moduel2,
.parent_footerModuel,#footer_mode,select#update_topbar_moduel2,select#update_topbar_moduel3,#topbar_mode,.parent_topbarModuel,select#update_navbar_moduel2,
select#update_navbar_moduel3,select#update_navbar_moduel4,select#update_navbar_moduel5,#navbar_mode,.parent_navbarModuel,select#update_navbar_moduel6,select#update_navbar_moduel7,select#update_hrm_moduel4  {
    cursor: pointer;
}
input#update_purchases_moduel,#update_purchases_moduel2,#update_purchases_moduel3,#update_purchases_moduel4,#update_purchases_moduel5,
#update_purchases_moduel6,#update_purchases_moduel7,#update_purchases_moduel8,#update_purchases_moduel9,#update_purchases_moduel10,#update_purchases_moduel11,
#update_purchases_moduel12,input#update_purchases_moduel_subcatg,#update_purchases_moduel_subcatg2,input#update_purchases_moduel_subcatg3,#update_purchases_moduel_subcatg4,
#update_purchases_moduel_subcatg5,input#update_purchases_group_moduel,select#update_purchases_group_moduel2,#update_purchases_group_moduel3,input#update_purchases_moduel_group,
#update_purchases_moduel14,#update_purchases_moduel15,#update_purchases_moduel16,select#update_purchases_moduel17,select#update_purchases_moduel18,input#update_purchases_moduel22,
select#update_purchases_moduel23,select#update_purchases_moduel24,input#update_purchases_moduel19,select#update_purchases_moduel20,select#update_purchases_moduel21,
input#update_purchases_moduel25,input#update_purchases_moduel27,select#update_purchases_moduel26,select#update_purchases_moduel28,
select#update_purchases_moduel29,input#update_purchases_moduel30,select#update_purchases_moduel31,input#update_purchases_moduel32,
select#update_purchases_moduel33,select#update_purchases_moduel34,input#update_purchases_moduel35,select#update_purchases_moduel36,
input#update_purchases_moduel37,select#update_purchases_moduel38,select#update_purchases_moduel39,input#update_purchases_moduel40,
select#update_purchases_moduel41,input#update_purchases_moduel42,select#update_purchases_moduel43,select#update_purchases_moduel44,
input#update_purchases_moduel45,select#update_purchases_moduel46,input#update_purchases_moduel47,select#update_purchases_moduel48,
input#update_purchases_moduel49,select#update_purchases_modue50,select#update_purchases_moduel51,input#update_purchases_moduel52,
select#update_purchases_moduel53,select#update_purchases_moduel54,input#update_purchases_moduel55,select#update_purchases_moduel56,
select#update_purchases_moduel57,input#update_purchases_moduel58,select#update_purchases_moduel59,select#update_purchases_moduel60,
input#update_purchases_moduel61,select#update_purchases_moduel62,select#update_purchases_moduel63,input#update_purchases_moduel64,
select#update_purchases_moduel65,input#update_purchases_moduel66,select#update_purchases_moduel67,select#update_purchases_moduel68,
input#update_purchases_moduel69,select#update_purchases_moduel70,select#update_purchases_moduel71,input#update_purchases_moduel72,
select#update_purchases_moduel73,input#update_purchases_moduel74,select#update_purchases_moduel75,select#update_purchases_moduel76,
input#update_purchases_moduel77,select#update_purchases_moduel78,select#update_purchases_moduel79,input#update_purchases_moduel80,
select#update_purchases_moduel81,select#update_purchases_moduel82,input#update_purchases_moduel_Acc,select#update_purchases_moduel_Acc2,
input#update_purchases_moduel_Acc3,select#update_purchases_moduel_Acc4,input#update_purchases_moduel_Acc5,select#update_purchases_moduel_Acc6,
input#update_purchases_moduel_Acc7,select#update_purchases_moduel_Acc8,select#update_purchases_moduel_Acc9,input#update_purchases_moduel_Acc10,
select#update_purchases_moduel_Acc11,select#update_purchases_moduel_Acc12,input#update_purchases_moduel_Acc13,select#update_purchases_moduel_Acc14,
select#update_purchases_moduel_Acc15,input#update_purchases_moduel_Acc16,select#update_purchases_moduel_Acc17,input#update_purchases_moduel_Acc18,
select#update_purchases_moduel_Acc19,select#update_purchases_moduel_Acc20,input#update_purchases_moduel_Acc21,select#update_purchases_moduel_Acc22,
select#update_purchases_moduel_Acc23,input#update_purchases_moduel_Acc24,select#update_purchases_moduel_Acc25,select#update_purchases_moduel_Acc26,
input#update_purchases_moduel_Acc27,select#update_purchases_moduel_Acc28,select#update_purchases_moduel_Acc29,input#update_purchases_moduel_Acc30,
select#update_purchases_moduel_Acc31,input#update_purchases_moduel_Acc32,select#update_purchases_moduel_Acc33,select#update_purchases_moduel_Acc34,
input#update_purchases_moduel_Acc35,select#update_purchases_moduel_Acc36,select#update_purchases_moduel_Acc37,input#update_purchases_moduel_Acc38,
select#update_purchases_moduel_Acc39,select#update_purchases_moduel_Acc40,input#update_purchases_moduel_Acc41,select#update_purchases_moduel_Acc42,
select#update_purchases_moduel_Acc43,select#update_purchases_moduel_Acc44,input#update_purchases_moduel_Acc44,select#update_purchases_moduel_Acc45,
input#update_purchases_moduel_Acc46,select#update_purchases_moduel_Acc47,select#update_purchases_moduel_Acc48,input#update_purchases_moduel_Acc49,
select#update_purchases_moduel_Acc50,select#update_purchases_moduel_Acc51,input#update_purchases_moduel_Acc52,select#update_purchases_moduel_Acc53,
select#update_purchases_moduel_Acc54,input#update_purchases_moduel_Acc55,select#update_purchases_moduel_Acc56,select#update_purchases_moduel_Acc57,
input#update_purchases_moduel_Acc58,select#update_purchases_moduel_Acc59,input#update_purchases_moduel_Acc60,select#update_purchases_moduel_Acc61,
select#update_purchases_moduel_Acc62,input#update_purchases_moduel_Acc63,select#update_purchases_moduel_Acc64,select#update_purchases_moduel_Acc65,
input#update_purchases_moduel_Acc66,select#update_purchases_moduel_Acc67,select#update_purchases_moduel_Acc68,input#update_purchases_moduel_Acc69,
select#update_purchases_moduel_Acc70,select#update_purchases_moduel_Acc71,input#update_purchases_moduel_Acc72,select#update_purchases_moduel_Acc73,
input#update_purchases_moduel_Acc74,select#update_purchases_moduel_Acc75,select#update_purchases_moduel_Acc76,input#update_purchases_moduel_Acc77,
select#update_purchases_moduel_Acc78,select#update_purchases_moduel_Acc79,input#update_purchases_moduel_Acc80,select#update_purchases_moduel_Acc81,
select#update_purchases_moduel_Acc82,input#update_purchases_moduel_Acc83,select#update_purchases_moduel_Acc84,select#update_purchases_moduel_Acc85,
input#update_purchases_moduel_Acc86,select#update_purchases_moduel_Acc87,input#update_purchases_moduel_Acc88,select#update_purchases_moduel_Acc89,
input#update_purchases_moduel_Acc90,select#update_purchases_moduel_Acc91,select#update_purchases_moduel_Acc92,input#update_purchases_moduel_Acc93,
select#update_purchases_moduel_Acc94,select#update_purchases_moduel_Acc95,input#update_purchases_moduel_Acc96,select#update_purchases_moduel_Acc97,
select#update_purchases_moduel_Acc98,input#update_purchases_moduel_Acc99,select#update_purchases_moduel_Acc100,input#update_purchases_moduel_Acc101,
select#update_purchases_moduel_Acc102,select#update_purchases_moduel_Acc103,input#update_purchases_moduel_Acc104,select#update_purchases_moduel_Acc105,
select#update_purchases_moduel_Acc106,input#update_purchases_moduel_Acc107,select#update_purchases_moduel_Acc108,input#update_purchases_moduel_Acc109,
select#update_purchases_moduel_Acc110,select#update_purchases_moduel_Acc111,input#update_purchases_moduel_Acc112,select#update_purchases_moduel_Acc113,
select#update_purchases_moduel_Acc114,input#update_purchases_moduel_Acc115,select#update_purchases_moduel_Acc116,select#update_purchases_moduel_Acc117,
input#update_purchases_moduel_Acc118,select#update_purchases_moduel_Acc119,input#update_purchases_moduel_Acc120,select#update_purchases_moduel_Acc121,
input#update_purchases_moduel_Acc122,select#update_purchases_moduel_Acc123,select#update_purchases_moduel_Acc124,input#update_purchases_moduel_Acc125,
select#update_purchases_moduel_Acc126,select#update_purchases_moduel_Acc127,input#update_purchases_moduel_Acc128,select#update_purchases_moduel_Acc129,
input#update_purchases_moduel_Acc130,select#update_purchases_moduel_Acc131,select#update_purchases_moduel_Acc132,input#update_purchases_moduel_Acc133,
select#update_purchases_moduel_Acc134,select#update_purchases_moduel_Acc135,input#update_purchases_moduel_Acc136,select#update_purchases_moduel_Acc137,
select#update_purchases_moduel_Acc138,input#update_purchases_moduel_Acc139,select#update_purchases_moduel_Acc140,input#update_purchases_moduel_Acc141,
select#update_purchases_moduel_Acc142,input#update_purchases_moduel_Acc143,select#update_purchases_moduel_Acc144,select#update_purchases_moduel_Acc145,
input#update_purchases_moduel_Acc146,select#update_purchases_moduel_Acc147,select#update_purchases_moduel_Acc148,input#update_purchases_moduel_Acc149,
select#update_purchases_moduel_Acc150,input#update_purchases_moduel_Acc151,select#update_purchases_moduel_Acc152,select#update_purchases_moduel_Acc153,
input#update_purchases_moduel_Acc154,select#update_purchases_moduel_Acc155,select#update_purchases_moduel_Acc156,input#update_purchases_moduel_Acc157,
select#update_purchases_moduel_Acc158,select#update_purchases_moduel_Acc159,input#update_purchases_moduel_Acc160,select#update_purchases_moduel_Acc161,
select#update_purchases_moduel_Acc162,input#update_purchases_moduel_Acc163,select#update_purchases_moduel_Acc164,input#update_purchases_moduel_Acc165,
select#update_purchases_moduel_Acc166,input#update_purchases_moduel_Acc167,select#update_purchases_moduel_Acc168,select#update_purchases_moduel_Acc169,
input#update_purchases_moduel_Acc170,select#update_purchases_moduel_Acc171,select#update_purchases_moduel_Acc172,input#update_purchases_moduel_Acc173,
select#update_purchases_moduel_Acc174,select#update_purchases_moduel_Acc175,input#update_purchases_moduel_Acc176,select#update_purchases_moduel_Acc177,
select#update_purchases_moduel_Acc178,input#update_purchases_moduel_Acc179,select#update_purchases_moduel_Acc180,select#update_purchases_moduel_Acc181,
input#update_purchases_moduel_Acc182,select#update_purchases_moduel_Acc183,select#update_purchases_moduel_Acc184,input#update_purchases_moduel_Acc185,
select#update_purchases_moduel_Acc186,select#update_purchases_moduel_Acc187,input#update_purchases_moduel_Acc188,select#update_purchases_moduel_Acc189,
select#update_purchases_moduel_Acc190,input#update_purchases_moduel_Acc191,select#update_purchases_moduel_Acc192,select#update_purchases_moduel_Acc193,
input#update_purchases_moduel_Acc194,select#update_purchases_moduel_Acc195,select#update_purchases_moduel_Acc196,input#update_purchases_moduel_Acc197,
select#update_purchases_moduel_Acc198,input#update_purchases_moduel_Acc199,select#update_purchases_moduel_Acc200,select#update_purchases_moduel_Acc201,
input#update_purchases_moduel_Acc202,select#update_purchases_moduel_Acc203,select#update_purchases_moduel_Acc204,input#update_purchases_moduel_Acc205,
select#update_purchases_moduel_Acc206,input#update_purchases_moduel_Acc207,select#update_purchases_moduel_Acc208,select#update_purchases_moduel_Acc209,
input#update_purchases_moduel_Acc210,select#update_purchases_moduel_Acc211,select#update_purchases_moduel_Acc212,input#update_hrm_moduel,
select#update_hrm_moduel2,input#update_hrm_moduel3,select#update_hrm_moduel4,input#update_auth_moduel,select#update_auth_moduel2,input#update_auth_moduel3,
select#update_auth_moduel4,input#update_layouts_moduel,select#update_layouts_moduel2,input#update_components_moduel,select#update_components_moduel2,
input#update_footer_moduel,select#update_footer_moduel2,select#update_topbar_moduel2,select#update_topbar_moduel3,select#update_navbar_moduel2,
select#update_navbar_moduel3,select#update_navbar_moduel4,select#update_navbar_moduel5,select#update_navbar_moduel6,select#update_navbar_moduel7 {
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    /* animation: textColor 5s infinite; */
    color: black;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 22px;
    border: none;
    
}
input#update_purchases_moduel,#update_purchases_moduel2,#update_purchases_moduel3,
#update_purchases_moduel4,#update_purchases_moduel5,#update_purchases_moduel6,#update_purchases_moduel7,
#update_purchases_moduel8,#update_purchases_moduel9,#update_purchases_moduel10,#update_purchases_moduel11,
#update_purchases_moduel12,input#update_purchases_moduel_subcatg,#update_purchases_moduel_subcatg2,
input#update_purchases_moduel_subcatg3,#update_purchases_moduel_subcatg4,#update_purchases_moduel_subcatg5,
input#update_purchases_group_moduel,select#update_purchases_group_moduel2,#update_purchases_group_moduel3,
input#update_purchases_moduel_group,#update_purchases_moduel14,#update_purchases_moduel15,
#update_purchases_moduel16,select#update_purchases_moduel17,select#update_purchases_moduel18,input#update_purchases_moduel22,
select#update_purchases_moduel23,select#update_purchases_moduel24,input#update_purchases_moduel19,select#update_purchases_moduel20,
select#update_purchases_moduel21,input#update_purchases_moduel25,input#update_purchases_moduel27,select#update_purchases_moduel26,
select#update_purchases_moduel28,select#update_purchases_moduel29,input#update_purchases_moduel30,select#update_purchases_moduel31,
input#update_purchases_moduel32,select#update_purchases_moduel33,select#update_purchases_moduel34,input#update_purchases_moduel35,
select#update_purchases_moduel36,input#update_purchases_moduel37,select#update_purchases_moduel38,select#update_purchases_moduel39,
input#update_purchases_moduel40,select#update_purchases_moduel41,input#update_purchases_moduel42,select#update_purchases_moduel43,
select#update_purchases_moduel44,input#update_purchases_moduel45,select#update_purchases_moduel46,input#update_purchases_moduel47,
select#update_purchases_moduel48,input#update_purchases_moduel49,select#update_purchases_modue50,select#update_purchases_moduel51,
input#update_purchases_moduel52,select#update_purchases_moduel53,select#update_purchases_moduel54,input#update_purchases_moduel55,
select#update_purchases_moduel56,select#update_purchases_moduel57,input#update_purchases_moduel58,select#update_purchases_moduel59,
select#update_purchases_moduel60,input#update_purchases_moduel61,select#update_purchases_moduel62,select#update_purchases_moduel63,
input#update_purchases_moduel64,select#update_purchases_moduel65,input#update_purchases_moduel66,select#update_purchases_moduel67,
select#update_purchases_moduel68,input#update_purchases_moduel69,select#update_purchases_moduel70,select#update_purchases_moduel71,
input#update_purchases_moduel72,select#update_purchases_moduel73,input#update_purchases_moduel74,select#update_purchases_moduel75,
select#update_purchases_moduel76,input#update_purchases_moduel77,select#update_purchases_moduel78,select#update_purchases_moduel79,
input#update_purchases_moduel80,select#update_purchases_moduel81,select#update_purchases_moduel82,input#update_purchases_moduel_Acc,select#update_purchases_moduel_Acc2,
input#update_purchases_moduel_Acc3,select#update_purchases_moduel_Acc4,input#update_purchases_moduel_Acc5,select#update_purchases_moduel_Acc6,
input#update_purchases_moduel_Acc7,select#update_purchases_moduel_Acc8,select#update_purchases_moduel_Acc9,input#update_purchases_moduel_Acc10,
select#update_purchases_moduel_Acc11,select#update_purchases_moduel_Acc12,input#update_purchases_moduel_Acc13,select#update_purchases_moduel_Acc14,
select#update_purchases_moduel_Acc15,input#update_purchases_moduel_Acc16,select#update_purchases_moduel_Acc17,input#update_purchases_moduel_Acc18,
select#update_purchases_moduel_Acc19,select#update_purchases_moduel_Acc20,input#update_purchases_moduel_Acc21,select#update_purchases_moduel_Acc22,
select#update_purchases_moduel_Acc23,input#update_purchases_moduel_Acc24,select#update_purchases_moduel_Acc25,select#update_purchases_moduel_Acc26,
input#update_purchases_moduel_Acc27,select#update_purchases_moduel_Acc28,select#update_purchases_moduel_Acc29,input#update_purchases_moduel_Acc30,
select#update_purchases_moduel_Acc31,input#update_purchases_moduel_Acc32,select#update_purchases_moduel_Acc33,select#update_purchases_moduel_Acc34,
input#update_purchases_moduel_Acc35,select#update_purchases_moduel_Acc36,select#update_purchases_moduel_Acc37,input#update_purchases_moduel_Acc38,
select#update_purchases_moduel_Acc39,select#update_purchases_moduel_Acc40,input#update_purchases_moduel_Acc41,select#update_purchases_moduel_Acc42,
select#update_purchases_moduel_Acc43,select#update_purchases_moduel_Acc44,input#update_purchases_moduel_Acc44,select#update_purchases_moduel_Acc45,
input#update_purchases_moduel_Acc46,select#update_purchases_moduel_Acc47,select#update_purchases_moduel_Acc48,input#update_purchases_moduel_Acc49,
select#update_purchases_moduel_Acc50,select#update_purchases_moduel_Acc51,input#update_purchases_moduel_Acc52,select#update_purchases_moduel_Acc53,
select#update_purchases_moduel_Acc54,input#update_purchases_moduel_Acc55,select#update_purchases_moduel_Acc56,select#update_purchases_moduel_Acc57,
input#update_purchases_moduel_Acc58,select#update_purchases_moduel_Acc59,input#update_purchases_moduel_Acc60,select#update_purchases_moduel_Acc61,
select#update_purchases_moduel_Acc62,input#update_purchases_moduel_Acc63,select#update_purchases_moduel_Acc64,select#update_purchases_moduel_Acc65,
input#update_purchases_moduel_Acc66,select#update_purchases_moduel_Acc67,select#update_purchases_moduel_Acc68,input#update_purchases_moduel_Acc69,
select#update_purchases_moduel_Acc70,select#update_purchases_moduel_Acc71,input#update_purchases_moduel_Acc72,select#update_purchases_moduel_Acc73,
input#update_purchases_moduel_Acc74,select#update_purchases_moduel_Acc75,select#update_purchases_moduel_Acc76,input#update_purchases_moduel_Acc77,
select#update_purchases_moduel_Acc78,select#update_purchases_moduel_Acc79,input#update_purchases_moduel_Acc80,select#update_purchases_moduel_Acc81,
select#update_purchases_moduel_Acc82,input#update_purchases_moduel_Acc83,select#update_purchases_moduel_Acc84,select#update_purchases_moduel_Acc85,
input#update_purchases_moduel_Acc86,select#update_purchases_moduel_Acc87,input#update_purchases_moduel_Acc88,select#update_purchases_moduel_Acc89,
input#update_purchases_moduel_Acc90,select#update_purchases_moduel_Acc91,select#update_purchases_moduel_Acc92,input#update_purchases_moduel_Acc93,
select#update_purchases_moduel_Acc94,select#update_purchases_moduel_Acc95,input#update_purchases_moduel_Acc96,select#update_purchases_moduel_Acc97,
select#update_purchases_moduel_Acc98,input#update_purchases_moduel_Acc99,select#update_purchases_moduel_Acc100,input#update_purchases_moduel_Acc101,
select#update_purchases_moduel_Acc102,select#update_purchases_moduel_Acc103,input#update_purchases_moduel_Acc104,select#update_purchases_moduel_Acc105,
select#update_purchases_moduel_Acc106,input#update_purchases_moduel_Acc107,select#update_purchases_moduel_Acc108,input#update_purchases_moduel_Acc109,
select#update_purchases_moduel_Acc110,select#update_purchases_moduel_Acc111,input#update_purchases_moduel_Acc112,select#update_purchases_moduel_Acc113,
select#update_purchases_moduel_Acc114,input#update_purchases_moduel_Acc115,select#update_purchases_moduel_Acc116,select#update_purchases_moduel_Acc117,
input#update_purchases_moduel_Acc118,select#update_purchases_moduel_Acc119,input#update_purchases_moduel_Acc120,select#update_purchases_moduel_Acc121,
input#update_purchases_moduel_Acc122,select#update_purchases_moduel_Acc123,select#update_purchases_moduel_Acc124,input#update_purchases_moduel_Acc125,
select#update_purchases_moduel_Acc126,select#update_purchases_moduel_Acc127,input#update_purchases_moduel_Acc128,select#update_purchases_moduel_Acc129,
input#update_purchases_moduel_Acc130,select#update_purchases_moduel_Acc131,select#update_purchases_moduel_Acc132,input#update_purchases_moduel_Acc133,
select#update_purchases_moduel_Acc134,select#update_purchases_moduel_Acc135,input#update_purchases_moduel_Acc136,select#update_purchases_moduel_Acc137,
select#update_purchases_moduel_Acc138,input#update_purchases_moduel_Acc139,select#update_purchases_moduel_Acc140,input#update_purchases_moduel_Acc141,
select#update_purchases_moduel_Acc142,input#update_purchases_moduel_Acc143,select#update_purchases_moduel_Acc144,select#update_purchases_moduel_Acc145,
input#update_purchases_moduel_Acc146,select#update_purchases_moduel_Acc147,select#update_purchases_moduel_Acc148,input#update_purchases_moduel_Acc149,
select#update_purchases_moduel_Acc150,input#update_purchases_moduel_Acc151,select#update_purchases_moduel_Acc152,select#update_purchases_moduel_Acc153,
input#update_purchases_moduel_Acc154,select#update_purchases_moduel_Acc155,select#update_purchases_moduel_Acc156,input#update_purchases_moduel_Acc157,
select#update_purchases_moduel_Acc158,select#update_purchases_moduel_Acc159,input#update_purchases_moduel_Acc160,select#update_purchases_moduel_Acc161,
select#update_purchases_moduel_Acc162,input#update_purchases_moduel_Acc163,select#update_purchases_moduel_Acc164,input#update_purchases_moduel_Acc165,
select#update_purchases_moduel_Acc166,input#update_purchases_moduel_Acc167,select#update_purchases_moduel_Acc168,select#update_purchases_moduel_Acc169,
input#update_purchases_moduel_Acc170,select#update_purchases_moduel_Acc171,select#update_purchases_moduel_Acc172,input#update_purchases_moduel_Acc173,
select#update_purchases_moduel_Acc174,select#update_purchases_moduel_Acc175,input#update_purchases_moduel_Acc176,select#update_purchases_moduel_Acc177,
select#update_purchases_moduel_Acc178,input#update_purchases_moduel_Acc179,select#update_purchases_moduel_Acc180,select#update_purchases_moduel_Acc181,
input#update_purchases_moduel_Acc182,select#update_purchases_moduel_Acc183,select#update_purchases_moduel_Acc184,input#update_purchases_moduel_Acc185,
select#update_purchases_moduel_Acc186,select#update_purchases_moduel_Acc187,input#update_purchases_moduel_Acc188,select#update_purchases_moduel_Acc189,
select#update_purchases_moduel_Acc190,input#update_purchases_moduel_Acc191,select#update_purchases_moduel_Acc192,select#update_purchases_moduel_Acc193,
input#update_purchases_moduel_Acc194,select#update_purchases_moduel_Acc195,select#update_purchases_moduel_Acc196,input#update_purchases_moduel_Acc197,
select#update_purchases_moduel_Acc198,input#update_purchases_moduel_Acc199,select#update_purchases_moduel_Acc200,select#update_purchases_moduel_Acc201,
input#update_purchases_moduel_Acc202,select#update_purchases_moduel_Acc203,select#update_purchases_moduel_Acc204,input#update_purchases_moduel_Acc205,
select#update_purchases_moduel_Acc206,input#update_purchases_moduel_Acc207,select#update_purchases_moduel_Acc208,select#update_purchases_moduel_Acc209,
input#update_purchases_moduel_Acc210,select#update_purchases_moduel_Acc211,select#update_purchases_moduel_Acc212  {
    background-color: #fff;
}
select#update_purchases_moduel5,#update_purchases_moduel_subcatg4,select#update_purchases_group_moduel2,
select#update_purchases_moduel17,select#update_purchases_moduel20,select#update_purchases_moduel23,select#update_purchases_moduel28,
select#update_purchases_moduel33,select#update_purchases_moduel38,select#update_purchases_moduel43,select#update_purchases_modue50,
select#update_purchases_moduel53,select#update_purchases_moduel56,select#update_purchases_moduel59,select#update_purchases_moduel62,
select#update_purchases_moduel67,select#update_purchases_moduel70,select#update_purchases_moduel75,select#update_purchases_moduel78,
select#update_purchases_moduel81,select#update_purchases_moduel_Acc8,select#update_purchases_moduel_Acc11,
select#update_purchases_moduel_Acc14,select#update_purchases_moduel_Acc19,select#update_purchases_moduel_Acc22,select#update_purchases_moduel_Acc25,
select#update_purchases_moduel_Acc28,select#update_purchases_moduel_Acc33,select#update_purchases_moduel_Acc36,select#update_purchases_moduel_Acc39,
select#update_purchases_moduel_Acc42,select#update_purchases_moduel_Acc47,select#update_purchases_moduel_Acc50,select#update_purchases_moduel_Acc53,
select#update_purchases_moduel_Acc56,select#update_purchases_moduel_Acc61,select#update_purchases_moduel_Acc64,select#update_purchases_moduel_Acc67,
select#update_purchases_moduel_Acc70,select#update_purchases_moduel_Acc75,select#update_purchases_moduel_Acc78,select#update_purchases_moduel_Acc81,
select#update_purchases_moduel_Acc84,select#update_purchases_moduel_Acc91,select#update_purchases_moduel_Acc94,select#update_purchases_moduel_Acc97,
select#update_purchases_moduel_Acc102,select#update_purchases_moduel_Acc105,select#update_purchases_moduel_Acc123,select#update_purchases_moduel_Acc126,
select#update_purchases_moduel_Acc131,select#update_purchases_moduel_Acc134,select#update_purchases_moduel_Acc137,select#update_purchases_moduel_Acc144,
select#update_purchases_moduel_Acc147,select#update_purchases_moduel_Acc152,select#update_purchases_moduel_Acc155,select#update_purchases_moduel_Acc158,
select#update_purchases_moduel_Acc161,select#update_purchases_moduel_Acc168,select#update_purchases_moduel_Acc171,select#update_purchases_moduel_Acc174,
select#update_purchases_moduel_Acc177,select#update_purchases_moduel_Acc180,select#update_purchases_moduel_Acc183,select#update_purchases_moduel_Acc186,
select#update_purchases_moduel_Acc189,select#update_purchases_moduel_Acc192,select#update_purchases_moduel_Acc195,select#update_purchases_moduel_Acc200,
select#update_purchases_moduel_Acc203,select#update_purchases_moduel_Acc208,select#update_purchases_moduel_Acc211,select#update_purchases_moduel_Acc110,
select#update_purchases_moduel_Acc113,select#update_purchases_moduel_Acc116  {
    text-decoration: underline;
    color: royalblue;
}
select#update_purchases_moduel21{
    background-color: #fff;
}
td.drop {
    line-height: 1.4;
}

input#update_login_form_label_one {
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    /* animation: textColor 1s infinite; */
    color: black;
}
input#update_login_form_label_one:hover{
    background-color: #f1f1f1;
}
a.categ_title_block{
    display: none;
}
label#login_enable,#login_enable3,#login_enable4,#login_enable3a,#login_enable_social,#login_enable4f,#login_enable4t,#login_enable4n {
    background-image: var(--comment-box-background);
    border-radius: 50px;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    background-color: #f1f1f1;
    color: rgb(5, 5, 248);
}
label#login_disable,#login_disable3,#login_disable4,#login_disable3a,#login_disable_social,#login_disable4f,#login_disable4t,#login_disable4n {
    background-image: var(--comment-box-background);
    border-radius: 50px;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    background-color: #f1f1f1;
    color: orangered;
}

button.app_btn_pill{
    border-radius: 50px;
}
img#image_view {
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
    height: 20px;
    width: 20px;
    transition: 1s;
    border-radius: 41px;
}
input#imgInput {
    /* width: 150px; */
    width: 100%;
    color: black;
    font-size: 10px;
    background-image: var(--component-input-background);
    cursor: pointer;
    background-color: #f1f1f1;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    
}
img#image_view:hover{
    transform: scale(5);
}
button#company_btn {
    background-color: rgb(5, 5, 248);
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    font-weight: 600;
    color: white;
    font-size: 0.9vw;
    line-height: .1;
    font-family: math;
    text-transform: capitalize;
    border: none;
}
button#company_btn:hover{
    background-color: #ddd;
    color: rgb(5, 5, 248);
}
textarea#update_company_address {
    box-shadow: none;
    border-color: #f1eeee;
    font-size: 12px;
    font-weight: 500;
    color: black;
    /* animation: textColor 1s infinite; */
    text-shadow: 2px 2px 4px rgb(0 0 0 / 18%);
}
@keyframes textColor{
    0%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
textarea#update_company_address:hover{
    background-color: #f1f1f1;
}
.Profile_success_message{
    color: cornflowerblue;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    animation: text 3s 1;
}
@keyframes text{
    0%{
        color: cornflowerblue;
    }
    30%{
        letter-spacing: 15px;
    }
    85%{
        letter-spacing: 10px;
    }
}
.update-hidden{
    display: none;
}
img.register_img {
    width: 50px;
    height: 50px;
}
select#update_social_media1,select#update_social_media2,select#update_social_media3,select#update_social_media4,#update_social_media5,#update_social_media6,
#update_social_media7,#update_social_media8,#update_comp_logo,#update_silder1,#update_silder2,#update_silder3{
    cursor: pointer;
    box-shadow: none;
}

input#update_company_name, input#update_contract_number_one,input#update_contract_number_two , input#update_whatapp_number_one,
input#update_whatapp_number_two, input#update_hot_number, input#update_email, input#update_facebook_address, input#update_linkedin,
input#update_youtube{
    box-shadow: none;
    font-weight: 600;
    color: black;
}
input#update_company_name:hover , input#update_contract_number_one:hover,input#update_contract_number_two:hover , input#update_whatapp_number_one:hover,
input#update_whatapp_number_two:hover, input#update_hot_number:hover, input#update_email:hover, input#update_facebook_address:hover, input#update_linkedin:hover,
input#update_youtube:hover{
    background-color: #f1f1f1;
}
