:root{
    --background-color:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --table-head-color:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --table-row-hover:linear-gradient(to bottom, lightblue, transparent,lightblue,lightblue);
    --row-hover-border:1px solid purple;
}