:root{
    /* ========= gold color bg focus in pivot table ================== */
    --theme-dashboard-expenses-page-background-image:radial-gradient(farthest-corner at 100px 100px, rgb(255, 189, 67), rgb(255, 195, 82));
    --theme-dashboard-expenses-page-background-image2:radial-gradient(farthest-corner at 100px 100px, orange,rgb(255, 195, 82));
    --theme-dashboard-expenses-page-background-image3:radial-gradient(farthest-corner at 100px 100px, rgb(255, 189, 67),rgb(255, 195, 82));
    --theme-dashboard-expenses-page-font-color:#fff;
    --theme-dashboard-expenses-page-background-color:rgb(255, 195, 82);
}