:root{
    /* ========= lightblue color bg focus in pivot table ================== */
    --theme-dashboard-expenses-page-background-image:radial-gradient(farthest-corner at 100px 100px, lightblue, rgb(207, 243, 255));
    --theme-dashboard-expenses-page-background-image2:radial-gradient(farthest-corner at 100px 100px, lightblue, rgb(207, 243, 255));
    --theme-dashboard-expenses-page-background-image3:radial-gradient(farthest-corner at 100px 100px, lightblue, rgb(207, 243, 255));
    --theme-dashboard-expenses-page-font-color:#fff;
    --theme-dashboard-expenses-page-background-color:lightblue;
}