:root{
    /* ========= silver color bg focus in pivot table ================== */
    --theme-dashboard-expenses-page-navbar-bacground-image:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --theme-dashboard-expenses-page-background-image:radial-gradient(farthest-corner at 100px 100px, #fff, #fff);
    --theme-dashboard-expenses-page-background-image2:radial-gradient(farthest-corner at 100px 100px, #fff,#fff);
    --theme-dashboard-expenses-page-background-image3:radial-gradient(farthest-corner at 100px 100px, #fff,#fff);
    --theme-dashboard-expenses-page-font-color:#fff;
    --theme-dashboard-expenses-page-background-color:#fff;
}