@import "_mobile-responsive.css";

.account-setting-body{
    background-color: honeydew;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 75%;
    font-family: 'Times New Roman', Times, serif;
}
th.setting_sn {
    text-align: center;
}
.user_img.rounded-circle{
    width: 15px;
    height: 15px;
    transition: transform .2s; /* Animation */
}
.user_img.rounded-circle:hover {
    transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.order_details{
    background-color: white;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}

tr.account-setting-table_row{
    background-color: white;
}
th.table_th_color{
    color: darkcyan;
}
tr:hover{
    color: orangered;
}

