:root{
    --search-background:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, #e1e1e1, rgba(0, 0, 0, 0.05) 100%);
    --table-head-background:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, aliceblue, rgba(0, 0, 0, 0.05) 100%);
}
.paginate-skeleton,.select-skeleton{
    position: relative;
}
.paginate-skeleton::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 14px;
    width: 105%;
    height: 50%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.select-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    height: 97%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.min-skeleton{
    position: relative;
}
.min-skeleton::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 105%;
    height: 108%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 1;
}
tr>th.tableHead {
    font-weight: 800;
}
input#search_area_ {
    outline: none;
    box-shadow: none;
    border: none;
    background-color:lightgray;
}
input#orgin_search {
    background-image: var(--search-background);
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid #f1eeee;
    border-radius: 5px;
    animation: text_color 3s infinite;
    font-family: sans-serif;
}
span.total_result {
    color: white;
    font-weight: 600;
    font-size: 12px;
    font-family: sans-serif;
}
label.catg_ser_label {
    color: black;
    font-weight: 600;
    font-size: 13px;
    font-family: sans-serif;
}
select#perItemControls {
    outline: none;
    box-shadow: none;
    color: white;
    font-weight: 600;
    border: 1px solid #08a05c;
    background-color: #08a05c;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
}
.orgn-search-hidden{
    display: none;
}
#tb_origins{
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    border: none;
}
td.origin_name{
    border-left: 1px solid silver;
}
.brand-hidden{
    display: none;
}
label.tot-search {
    font-size: 11px;
}
span#total_brand_records{
    font-weight: 700;
    color: white;
    font-family: sans-serif;
}
a.page-link.btn_page {
    height: 22px;
}
th.back_color{
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-background);
    border: 1px solid lightblue;
}
.origin-hidden{
    display: none;
}
input#brand_name{
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 700;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
    font-family: sans-serif;
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input#origin_id{
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 700;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
    font-family: sans-serif;
}
button#brnad_delt4 {
    background: orangered;
    color: white;
    font-family: sans-serif;
}
button#brnad_delt4:hover {
    background: #e9e9e9;
    color: orangered;
    font-family: sans-serif;
}
.brand{
    float: left;
}
a#showOrigin {
    font-weight: 600;
    color: darkcyan;
    margin-top: 5px;
}
div#tb_subcatg {
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
}
th.align {
    text-align: center;
    background-image: var(--table-head-background);
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    border: 1px solid lightblue;
    font-size: 12px;
    letter-spacing: 0.5px;
}
td.align {
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 12px;
    letter-spacing: 0.5px;
}
div#brand_data_table_paginate {
    float: right;
}
input#delete_brand_id {
    border: none;
    outline: none;
    font-weight: 600;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showOrigin{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}