:root{
    --search-background:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --table-head-background:linear-gradient(to bottom, silver, transparent,silver,lightgray);
}
table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 1;
}
input#search_area_ {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #08a05c;
}
input#orgin_search {
    background-image: var(--search-background);
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid #f1eeee;
    border-radius: 5px;
    animation: text_color 3s infinite;
}
span.total_result {
    color: darkcyan;
    font-weight: 600;
    font-size: 11px;
}
label.catg_ser_label {
    color: darkcyan;
    font-weight: 600;
    font-size: 13px;
}
select#perItemControls {
    outline: none;
    box-shadow: none;
    color: white;
    font-weight: 600;
    border: 1px solid #08a05c;
    background-color: #08a05c;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
}
.orgn-search-hidden{
    display: none;
}
#tb_origins{
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    border: none;
}
td.origin_name{
    border-left: 1px solid silver;
}
.brand-hidden{
    display: none;
}
label.tot-search {
    font-size: 11px;
}
span#total_brand_records{
    font-weight: 700;
    color: darkcyan;
}
th.back_color{
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-background);
    border: 1px solid silver;
}
.origin-hidden{
    display: none;
}
input#brand_name{
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input#origin_id{
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
.brand{
    float: left;
}
a#showOrigin {
    font-weight: 600;
    color: darkcyan;
    margin-top: 5px;
}
div#tb_subcatg {
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
}
th.align {
    text-align: center;
    background-image: var(--table-head-background);
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    border: 1px solid silver;
    font-size: 12px;
    letter-spacing: 0.5px;
}
td.align {
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 12px;
    letter-spacing: 0.5px;
}
div#brand_data_table_paginate {
    float: right;
}
input#delete_brand_id {
    border: none;
    outline: none;
    font-weight: 600;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showOrigin{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}