:root{
    --search-background:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, #e1e1e1, rgba(0, 0, 0, 0.05) 100%);
    --table-head-background:linear-gradient(1deg, #dbd8d8db, transparent 3%, #d3d3d3c4, #d7d7d7db);
    --brand-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
span#num_plate {
    margin-top: 7px;
}
label.item_class {
    color: black;
    font-weight: 600;
    font-family: var(--brand-font-family);
    margin-top: 2px;
}
.table-responsive {
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;
}
.brand_nme {
    text-align: right;
}
span#updateForm_errorList{
    text-align: right;
}
label#med_label2 {
    margin-top: 5px;
}
label.tot-search {
    color: black;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-family: var(--brand-font-family);
}
.skeleton-card-head-capsule-two,.skeleton-card-head-labl-two,.skeleton-card-head-two,.skeleton-card-head-labl,.result-skeleton,
.peritm-skeleton,.total-record-skeletone,.pill-label-skeletone{
    position: relative;
}
.total-record-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 23px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.pill-label-skeletone::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 112%;
    height: 23px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-labl::before{
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px; 
}
.skeleton-card-head-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-labl-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-capsule-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
@keyframes focus_skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
.result-skeleton::before {
    content: "";
    position: absolute;
    left: 32px;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
}
.peritm-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
}
.paginate-skeleton,.select-skeleton{
    position: relative;
}
.paginate-skeleton::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 14px;
    width: 105%;
    height: 50%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.select-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    height: 97%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
.min-skeleton{
    position: relative;
}
.min-skeleton::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 105%;
    height: 108%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 1;
}
tr>th.tableHead {
    font-weight: 800;
}
input#search_area_ {
    outline: none;
    box-shadow: none;
    border: none;
    background-color:lightgray;
}
input#orgin_search {
    background-image: var(--search-background);
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid #f1eeee;
    border-radius: 5px;
    animation: text_color 3s infinite;
    font-family: var(--brand-font-family);
    width: 100%;
}
span.total_result {
    color: white;
    font-weight: 600;
    font-size: 11px;
    font-family: var(--brand-font-family);
}
label.catg_ser_label {
    color: black;
    font-weight: 600;
    font-size: 13px;
    font-family: var(--brand-font-family);
}
select#perItemControls {
    outline: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    border-radius: 3px;
    width: 50px;
    font-family: var(--brand-font-family);
    border: 1px solid lightgray;
}
.orgn-search-hidden{
    display: none;
}
#tb_origins{
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    border: none;
}
td.origin_name{
    border-left: 1px solid silver;
}
.brand-hidden{
    display: none;
}
label.tot-search {
    font-size: 11px;
}
span#total_brand_records{
    font-weight: 700;
    color: white;
    font-family: var(--brand-font-family);
}
a.page-link.btn_page {
    height: 22px;
}
th.back_color{
    font-family: var(--brand-font-family);
    background-image: var(--table-head-background);
    border: 1px solid lightblue;
    font-size: 15px;
}
.origin-hidden{
    display: none;
}
input#brand_name{
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 700;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
    font-family: var(--brand-font-family);
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input#origin_id{
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 700;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
    font-family: var(--brand-font-family);
}
button#brnad_delt4 {
    background: orangered;
    color: white;
    font-family: var(--brand-font-family);
}
button#brnad_delt4:hover {
    background: #e9e9e9;
    color: orangered;
    font-family: var(--brand-font-family);
}
.brand{
    float: left;
}
a#showOrigin {
    font-weight: 600;
    color: darkcyan;
    margin-top: 5px;
}
div#tb_subcatg {
    border: none;
    box-shadow: 0px 2px 20px #0001, 0px 2px 6px #0001;
}
th.align {
    font-family: var(--brand-font-family);
    background-image: var(--table-head-background);
    border: 1px solid lightblue;
    font-size: 15px;
    text-align: center;
}
div#brand_data_table_paginate {
    float: right;
}
input#delete_brand_id {
    border: none;
    outline: none;
    font-weight: 600;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showOrigin{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}