:root{
    --theme-menu-list-background-image:radial-gradient(farthest-corner at 100px 100px, orange,orange);
    --theme-menu-list-opacity:1;
    --theme-font-color:darkred;
    --theme-menu-list-font-animation-color1:lightgoldenrodyellow;
    --theme-menu-list-font-animation-color2:lightcyan;
    --theme-menu-list-font-animation-color3:lightyellow;
}