:root{
    --theme-menu-list-background-image:radial-gradient(farthest-corner at 100px 100px,#fff,#fff);
    --theme-menu-list-opacity:1;
    --theme-font-color:black;
    --theme-menu-list-font-animation-color1:orange;
    --theme-menu-list-font-animation-color2:darkblue;
    --theme-menu-list-font-animation-color3:darkorange;
}