:root{
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#007bff;
    --panel-font-family:Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    --nav-button-color:white;
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --row-hover-border:dodgerblue;
    --dot-skeletone-bg:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    --animation: css-skeleton-loading;
    --animation-duration:1.4s;
    --animation-background-size:400% 100%;
    --animation-background-position-0:100% 50%;
    --animation-background-position-100:0 50%;
}
#userBranchInfosTable {
    border: none;
}
.panel-head{
    color: #222;
    font-size: 13px;
    font-family: var(--panel-font-family);
    font-weight: 800;
    letter-spacing: 0.2px;
}
.card-body.module_installions_card{
    padding: 0;
}
.menu-responsive {
    overflow-y: auto !important;
    overflow-x: auto !important;
    max-height: 288px;
}
.button-box {
    display: flex;
    justify-content: space-between;
}
.right-align{
    text-align: right;
}
.alignment{
    text-align: center;
}
th.th-background {
    background-color: azure !important;
}
table.info_table {
    background: white;
    transition: 0.5ms;
    border: 1px ridge rgba(0, 123, 255, 0.2);
    border-radius: 5px;
}
.table-border{
    border-radius: 5px;
}
.responsive {
    overflow-y: auto !important;
    overflow-x: auto !important;
    max-height: 400px;
    border-radius: 5px;
}
.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    white-space: nowrap !important;
}
th.lab_padding {
    padding-left: 5px;
}
th.head-border {
    border: 1px solid rgba(0, 123, 255, 0.2);
    color: #333 !important;
    text-shadow: none;
}
td.first-init-column-border-cell {
    border-left: 1px solid rgba(0, 123, 255, 0.2);
    border-right: 1px solid rgba(0, 123, 255, 0.2);
    border-top: 1px solid rgba(0, 123, 255, 0.1);
    border-bottom: 1px solid rgba(0, 123, 255, 0.2);
    vertical-align: baseline;
}
td.second-init-column-border-cell {
    border-top: 1px solid rgba(0, 123, 255, 0.1);
    border-right: 1px solid rgba(0, 123, 255, 0.2);
    border-left: 1px solid rgba(0, 123, 255, 0.2);
    border-bottom: 1px solid rgba(0, 123, 255, 0.2);
    vertical-align: baseline;
}
.display_none {
    display: none !important;
}
.table-loader-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.table-loader-overlay {
    background: rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: all;
}
.data-menu-loader {
    animation: spin 1s linear infinite;
    transform-origin: center center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.component-focus {
    animation: pulse 1s;
}
@keyframes pulse {
    0% {
        transform: scale(0.1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
ul.Grouping{
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
}
ul.Grouping li{
    list-style: none;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--panel-font-family);
    color: #333;
}
input.module-checkbox[type=checkbox] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #00868b;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    position: relative;
    top: 1px;
    right: 3px;
    background-color: #fff;
}
input.module-checkbox[type=checkbox]:checked {
    background-color: #00868b;
    border-color: #00868b;
}
input.module-checkbox[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.highlight {
    color: #222;
}
.disableColor{
    color: darkgray;
}
.module-url-label-text:hover {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    color: dodgerblue;
    transition: 1ms color;
}

/* Tree container */
.tree-build {
  /* font-family: Arial, sans-serif; */
  position: relative;
  padding-left: 0px;
}
/* Tree ul reset */
.tree-build ul {
  margin: 0;
  padding-left: 30px;
  position: relative;
  list-style: none;
}
/* Line before each ul (vertical connector) */
.tree-build ul::before {
  content: "";
  border-left: 2px dashed #4cafef;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  animation: dashMove 4s linear infinite;
}
/* Tree li */
.tree-build li {
  margin: 0px 0;
  padding-left: 20px;
  position: relative;
}
/* Horizontal connector */
.tree-build li::before {
  content: "";
  border-top: 2px dashed #4cafef;
  position: absolute;
  top: 12px;
  left: 0;
  width: 15px;
  animation: dashMove 2s linear infinite;
}
/* Keyframes for moving dash effect */
@keyframes dashMove {
  to {
    stroke-dashoffset: -1000;
  }
}