// Variable Root----------
$nav-font-wieght:700;
$nav-font-color:royalblue;
$font-hover-color:orangered;
$nav-font-size: ("desktop":11px, "laptop":10px, "tablet": 9px, "mobile":8px);
$supplier-summary-head-font-family: "Faster One";
$supplier-summary-table-color:royalblue;
$supplier-date-month-bg-image-color-1:lightgray;
$supplier-date-month-bg-image-color-2:ghostwhite;
$supplier-date-month-animation-color-1:blue;
$supplier-date-month-animation-color-2:royalblue;
$supplier-date-month-animation-color-3:darkcyan;
$supplier-summary-table-bg-imge: radial-gradient(farthest-corner at 100px 100px, #fff,#fff);
