@import "_mobile-responsive.css";

img.img-profile {
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    border-radius: 50px;
}
.profile-body{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 80%;
    font-family: 'Times New Roman', Times, serif;
}
.profilesetting_modal_header{
    color: aliceblue;
    height: 2.2em;
}
.profile_modal_header{
    background-color: honeydew;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}
.profile-heading{
    border-bottom: 1px solid silver;
    
}
p.company-information {
    letter-spacing: 0.5px;
    font-weight: 600;
}
.row.text-paragraph{
    letter-spacing: 0.5px;
    border-bottom: 1px solid silver;
    background-color: honeydew;
}
label.company-object{
    font-weight: 600;
    background-color: honeydew;
}
label.company-activities{
    font-weight: 600;
    background-color: honeydew;
}
label.company-contribution{
    font-weight: 600;
    background-color: honeydew;
}
label.company-bussiness-deals-with{
    font-weight: 600;
    background-color: honeydew;
}
label.company-perfomance{
    font-weight: 600;
    background-color: honeydew;
}
label.company-potential-member{
    font-weight: 600;
    background-color: honeydew;
}
label.company-testimonial{
    font-weight: 600;
    background-color: honeydew;
}

p.company-object{
    background-color: honeydew;
}
p.company-activities{
    background-color: honeydew;
}
p.company-contribution{
    background-color: honeydew;
}
p.company-bussiness-deals-with{
    background-color: honeydew;
}
p.company-perfomance{
    background-color: honeydew;
}
p.company-potential-member{
    background-color: honeydew;
}
p.company-testimonial{
    background-color: honeydew;
}
