:root{
    --search-background:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, #e1e1e1, rgba(0, 0, 0, 0.05) 100%);
    --table-head-background:linear-gradient(1deg, #dbd8d8db, transparent 3%, #d3d3d3c4, #d7d7d7db);
    --origin-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
label.item_class {
    color: black;
    font-weight: 600;
    font-family: var(--origin-font-family);
    margin-top: 2px;
}
span#updateForm_errorList{
    text-align: right;
}
label.tot-search {
    color: black;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-family: var(--origin-font-family);
}
.skeleton-card-head-capsule-two,.skeleton-card-head-labl-two,.skeleton-card-head-two,.skeleton-card-head-labl{
    position: relative;
}
.skeleton-card-head-labl::before{
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px; 
}
.skeleton-card-head-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-labl-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-capsule-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
@keyframes focus_skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 1;
}
span#search_off {
    font-size: 11px;
    font-weight: 600;
}
.pagination a.page-item.active{
background-color: white;
}
tr>th.tableHead {
    font-weight: 800;
}
input#origin_name {
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 700;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
    font-family: var(--origin-font-family);
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
button#origin_delt4 {
    background: orangered;
    color: white;
    font-family: var(--origin-font-family);
}
button#origin_delt4:hover {
    background: #e9e9e9;
    color: orangered;
    font-family: var(--origin-font-family);
}
span#total_origin_records{
    font-weight: 700;
    color: white;
}
.origin-hidden{
    display: none;
}
input#delete_origin_id {
    outline: none;
    border: none;
    font-weight: 600;
}
div#origin_data_table_paginate {
    float: right;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showOrigin{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}