div#access_modal_box{
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    margin-top: 40px;
    background: none;
    border: none;
}
.body_area {
    width: 400px;
}
.progress-bar-processing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: darkgoldenrod;
    transition: width 0.6s ease;
}
.animation_progress{
    width:30%;
    color:black;
    font-weight:700;
    font-size: 15px;
    animation-name: progressfocus;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes progressfocus {
    0%{
        color: #fff;
        background-color: #b8860b;
    }
    50%{
        color: #a9a9a9;
        background-color: #b8860b;
    }
    100%{
        color: #fff;
        background-color: #b8860b;
    }
}
.progress-bar-creating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: darkgreen;
    transition: width 0.6s ease;
}
.animation_creating_progress{
    width:30%;
    color:black;
    font-weight:700;
    font-size: 15px;
    animation-name: progresscreating;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes progresscreating {
    0%{
        color: #fff;
        background-color: #efefef;
    }
    50% {
        color: darkgrey;
        background-color: darkgreen;
    }
    100% {
        color: white;
        background-color: darkgreen;
    }
}
.progress-bar-updating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: darkorchid;
    transition: width 0.6s ease;
}
.animation_updating_progress{
    width:30%;
    color:black;
    font-weight:700;
    font-size: 15px;
    animation-name: progressupdating;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes progressupdating {
    0%{
        color: #fff;
        background-color: #efefef;
    }
    50% {
        color: darkgrey;
        background-color: darkorchid;
    }
    100% {
        color: white;
        background-color: darkorchid;
    }
}
.progress-bar-deleting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #892805;
    transition: width 0.6s ease;
}
.animation_deleting_progress{
    width:30%;
    color:black;
    font-weight:700;
    font-size: 15px;
    animation-name: progressdeleting;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes progressdeleting {
    0% {
        color: #fff;
        background-color: #efefef;
    }
    
    50% {
        color: darkgrey;
        background-color: orangered;
    }
    100% {
        color: white;
        background-color: orangered;
    }
}
.progress-bar-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #837d03;
    transition: width 0.6s ease;
}
.animation_view_progress{
    width:30%;
    color:black;
    font-weight:700;
    font-size: 15px;
    animation-name: progressview;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes progressview {
    0% {
        color: #fff;
        background-color: #efefef;
    }
    
    50% {
        color: darkgrey;
        background-color: #837d03;
    }
    100% {
        color: white;
        background-color: #837d03;
    }
}