:root{
    --menu-card-bg: radial-gradient(farthest-corner at 100px 100px, #fff, #fff);
    --menu-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --component-menu-background-image: rgba(0, 0, 0, 0.067) 0px 1px 20px, rgba(0, 123, 255, 0.2) 0px 2px 6px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ================ Dropdown Menu Card Component Css ======================== */
.menubar-component {
    background-image: var(--component-menu-background-image);
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-top: 0.4em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content.dropdown-menu-component {
    display: none;
    position: absolute;
    background-image: var(--menu-card-bg);
    opacity: 1;
    min-width: 160px;
    box-shadow: var(--menu-shadow);
    z-index: 10;
    border-radius: 5px;
    padding: 0.6rem;
}
.dropdown:hover .dropdown-content.dropdown-menu-component {
    display: block;
}
.dropdown-content.dropdown-menu-component:hover {
    text-decoration: none;
}
#dropbtn{
    cursor: pointer;
}
#dropbtn:hover{
    background-color: rgba(0,123,255,0.2);
}
ul.menu-btn-group {
    list-style: none;
    padding-left: 0px;
}
ul>li .line-row{
    margin-top: 5px;
    margin-bottom: 5px;
}
.menu-btn{
   background-color: white;
    color: #413571;
    text-decoration: none;
    line-height: 1.2;
    padding-top: 1px;
    border: 1px dashed white; 
}
.menu-btn:hover{
    background-color: white;
    text-decoration: none !important;
    border: 1px dashed dodgerblue;
    color: dodgerblue;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}