:root{
    --dashboard-product-box-shadow:rgba(0, 0, 0, 0.067) 0px 1px 20px, rgba(0, 123, 255, 0.2) 0px 2px 6px;
    --dashboard-product-box-background-image:radial-gradient(farthest-corner at 100px 100px, white, white);
    --dashboard-product-box-hover-background-image:radial-gradient(farthest-corner at 100px 100px, white, white);
    --dashboard-product-box-transition: 0.5s;
    --dashboard-product-box-color:white;
    --dashboard-product-box-transform:scale(0.9);
    --dashboard-product-box-animation-border-top-color-0:lightblue;
    --dashboard-product-box-animation-border-color-50:#a1d5b5;
    --dashboard-product-box-animation-border-bottom-color-100:lightskyblue;
    --dashboard-product-box-animation-background-color-100:rgb(242, 241, 241);
    --dashboard-product-box-animation-background-color-2:#fff;
    --dashboard-product-box-box-border-top:none;
    --dashboard-product-box-box-border-bottom:none;
    --dashboard-product-box-box-border-left:2px solid #0dcaf0;
    --dashboard-product-box-box-border-right:none;
    --dashboard-product-box-box-border:0.5px solid lightgray;
    /* =============== Loader-part ====================== */
}