:root{
    --app-setting-tab-background-color: linear-gradient(5deg, lightgray, transparent,lightgray,lightgray 160%);
    --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
    --bs-nav-tabs-form-link-active-color: darkcyan;
    --bs-nav-tabs-link-active-bg: #fff;
    --nav-tab-link-active-font-weight: 700;
    --add-button-permission:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    --export-data-dropdown-menu-bg:radial-gradient(farthest-corner at 100px 100px, #fff, #fff); 
    --export-data-dropdown-menu-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --export-data-dropdown-menu-opacity:1;
    --export-data-dropdown-menu-z-index:1;
    --dot-skeletone-bg:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    --font-family-features:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    --animation-transform-1245:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    --animation-transform-1246:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    --animation-transform-1256:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    --animation-transform-1257:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
}
.inventory-details-record-card{
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
    border: none;
}
ul.nav.tab_bg {
    --bs-nav-tabs-border-radius: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: var(--bs-nav-tabs-form-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    font-weight: var(--nav-tab-link-active-font-weight);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    isolation: isolate;
}
.nav-tabs .nav-link:hover{
    color: darkcyan;
}
.nav-link.setting {
    display: block;
    color: black;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-weight: 700;
    font-family: 'futura';
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
input#input_inventory_search {
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: none;
    border: 1px solid lightblue;
    border-radius: 4px;
}
.mid-topbar-auth {
    margin-left: 0px;
    background-color: whitesmoke;
    width: 100%;
    background-image: repeating-linear-gradient(90deg, #e3e3e3, transparent 430px);
    border-radius: 5px;
}
.capsule-sm-skeleton-focus {
    border: 1px solid #ddd;
}
.capsule-sm-skeleton {
    background: linear-gradient(120deg, lightgray, transparent, #fff, lightgray);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: 2s infinite load;
    background-color: transparent;
}
@keyframes load {
    100% {
        background-position: -100% 0;
    }
}
select#perItemControlGet {
    border: none;
    background-image: linear-gradient(to top, silver, transparent, silver, lightgray);
    outline: none;
    color: black;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    width: 57px;
}
.refrsh-hidden{
    display: none;
}

/* Select-Dropdown */
select#select_supplier_id, #select_user_id, #select_status, #select_medicine_group, #select_medicine_dosage, #select_medicine_origin, #select_medicine_name {
    width: 100%;
    outline: none;
    border: 1px solid lightblue;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background-image: var(--add-button-permission);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    font-family: math;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
}
div#inventory_get_data_table_paginate {
    float: right;
}
.error-hidden{
    display: none;
}
img#loaderShow {
    height: 40px;
    width: 40px;
}
.loader-position {
    text-align: center;
}
label#userPicture {
    margin-left: 8px;
}
.card.detail-content {
    margin-left: 0px;
    box-shadow: 0px 1px 10px #0001;
    border-radius: 4px;
    border: none;
}
.card-row-label {
    display: block;
    width: 100%;
    padding: 0.3rem 0.65rem;
    font-size: 0.74rem;
    font-family: math;
    font-weight: 600;
    text-shadow: 0px 1px 1px #fff, 0px 0px 0px #000;
    line-height: 1;
    color: #212529;
    background-color: white;
    /* background-color: #f8f8f8; */
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
label#Supplier{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    transition: all;
    /* text-orientation: upright;  transform:translate(10px, 10px)*/
}
.refrsh-show{
    display: block;
}

ul.export-dropdown-menu{
    position: absolute;
    background-image: var(--export-data-dropdown-menu-bg);
    opacity: var(--export-data-dropdown-menu-opacity);
    border: none;
    box-shadow: var(--export-data-dropdown-menu-shadow);
    z-index: var(--export-data-dropdown-menu-z-index);
}
a#export:hover,a#exportExcel:hover,a#exportCsv:hover,a#printBtn:hover {
    color: white;
    background-color: rgb(1, 145, 1);
}
.pdf-skeletone,.excel-skeletone,.cvs-skeletone,.print-skeletone{
    position: relative;
    background-color: rgb(0,0,0,0.06);  
}
.pdf-skeletone::before,.cvs-skeletone::before,.print-skeletone::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 2;
    margin-left: -2px;
    margin-top: 5px;
    min-height: 10px;
    width: 130px;
    border-radius: 5px;
    background: var(--dot-skeletone-bg);
    background-size: 400% 100%;
    animation-name: css-skeleton-loading;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pdf-title::after{
    content: 'PDF Download';
    display: inline;
    font-weight:700;
}
.excel-title::after{
    content: 'Excel';
    display: inline;
    font-weight:700;
}
.cvs-title::after{
    content: 'CVS';
    display: inline;
    font-weight:700;
}
.print-title::after{
    content: 'Screen Print';
    display: inline;
    font-weight:700;
}
.export-button-classic-hidden{
    display: none;
}
a.btn.btn-sm.btn-success.ord_btn {
    height: 25px;
}
table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 0.5px;
    opacity: 7;
    font-family: math;
}

