:root{
    --inventory-background-image:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --inventory-opacity:1;
    --inventory-navbar-btn-background-image-hover:radial-gradient(farthest-corner at 100px 100px, #08a05c, #08a05c);
    --inventory-navbar-btn-color:white;
    --inventory-navbar-btn-background-image:radial-gradient(farthest-corner at 100px 100px, #08a05c, #08a05c);
    --inventory-navbar:linear-gradient(to 90deg, silver, transparent,silver,lightgray);
    --table-row-hover:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --bg-color:purple;
    --color:royalblue;
    --size:1px;
    --font-weight:500;
    --apperence-app-setting-bg:linear-gradient(to bottom, #08a05c,#08a05c);
    --drop-border-bg-color:white;
    --add-button-permission:linear-gradient(to bottom, silver, transparent,silver,lightgray);
}
.custom-select{
    position: relative;
}

.custom-drop-item-arrow{
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    width: 1rem;
    height: 100%;
    background-image: var(--apperence-app-setting-bg);
    pointer-events: none;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}
.custom-drop-item-arrow::before,.custom-drop-item-arrow::after{
    --size:0.5em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
.custom-drop-item-arrow::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--drop-border-bg-color);
    top: 30%;
}
.custom-drop-item-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid var(--drop-border-bg-color);
    top: 75%;
}
.card.form-control.inventory_form {
    box-shadow: 0px 2px 20px #0001;
    border: none;
}
.current_data.inventory_form{
    border-radius: 3px;
}
.alert_show_errors {
    line-height: 3;
    font-size: 13px;
    font-weight: 600;
    color: orangered;
    letter-spacing: 1px;
}
.parent-row td:first-child {
    cursor: pointer;
}
td.icon{
    font-size: 12px;
}
button.accordion-button.header_button.post_cat_table {
    background-color: #f1f1f1;
    font-family: math;
    font-weight: 600;
    color: black;
    font-size: 1vw;
    text-transform: uppercase;
    line-height: .5;
    letter-spacing: 0.3px;
}
button.accordion-button.collapsed.supplier_data_box {
    background-color: #f1f1f1;
    background-image: var(--inventory-navbar);
    color: darkcyan;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
th#th_sort {
    background-image: var(--inventory-navbar);
    color: black;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 2;
}
table, th, td {
    border-collapse: collapse;
    font-size: 13px;
    letter-spacing: 1px;
    opacity: 1;
}
td.edit_inventory_table{
    font-weight: 600;
}
/* input_Loader */
.svc-hidden{
    display: none;
}
.category-hidden{
    display: none;
}
.group-hidden{
    display: none;
}
.medicine-name-hidden{
    display: none;
}
.dogs-hidden{
    display: none;
}
.origin-hidden{
    display: none;
}
.size-hidden{
    display: none;
}
.price-hidden{
    display: none;
}
.qty-hidden {
    display: none;
}

::placeholder{
    color: gray;
}
#supplier_id::placeholder{
    color: gray;
}
label.ser_label {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
button.btn.btn-sm.cgt_btn:hover{
    color: darkcyan;
}
select#supplier_id{
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid lightblue;
    opacity: 1;
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    width: 386px;
    border-radius: 3px;
}
select#category_id{
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid lightblue;
    opacity: 1;
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    width: 386px;
    border-radius: 3px;
}
select#group{
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid lightblue;
    opacity: 1;
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    width: 386px;
    border-radius: 3px;
}
select#medicine_name{
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid lightblue;
    opacity: 1;
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    width: 386px;
    border-radius: 3px;
}
select#medicine_dogs{
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid lightblue;
    opacity: 1;
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    width: 386px;
    border-radius: 3px;
}
select#origin_name{
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid lightblue;
    opacity: 1;
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    width: 386px;
    border-radius: 3px;
}
select#product_size{
    outline: none;
    box-shadow: 0px 2px 20px #0001;
    border: 1px solid lightblue;
    opacity: 1;
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    width: 386px;
    border-radius: 3px;
}
label.inv_name_label {
    font-size: 12px;
    font-weight: 600;
    color: black;
    float: right;
    text-transform: uppercase;
    
}
label.date_name_label {
    font-size: 12px;
    font-weight: 600;
    color: black;
    float: right;
    text-transform: uppercase;
}
input.date_field {
    outline: none;
    border: 1px solid lightblue;
    font-size: 13px;
    font-weight: 600;
    color: black;
}
input#inv_id {
    border: 1px solid lightblue;
    font-size: 13px;
    font-weight: 700;
    color: black;
    outline: none;
    height: 21px;
    animation: light_focus_color 6s infinite;
    width: 386px;
}
input#amount {
    border: 1px solid lightblue;
    font-size: 13px;
    font-weight: 600;
    width: 159px;
    color: black;
    outline: none;
    height: 21px;
    animation: light_focus_color 6s infinite;
}
input#sub_total {
    border: 1px solid lightblue;
    font-size: 13px;
    font-weight: 600;
    width: 159px;
    color: black;
    outline: none;
    height: 21px;
    animation: light_focus_color 6s infinite;
}
@keyframes light_focus_color{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input.inv_number {
    border: 1px solid lightblue;
    font-size: 13px;
    font-weight: 600;
    width: 159px;
    color: black;
    outline: none;
    height: 21px;
}
.manufacture-hidden{
    display: none;
    cursor: pointer;
}
.expiry-hidden{
    display: none;
    cursor: pointer;
}
input#date_id{
    cursor: pointer;
}
.prc-hidden{
    display: none;
}
.qty-hidden{
    display: none;
}
#date_exid{
    cursor: pointer;
}
button.common_btn {
    background-image: linear-gradient(to bottom, #d3d4d5, #d3d4d5 100%);
    height: 16px;
    font-size: 11px;
    line-height: 0.5;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #c6c7c8;
}
select#select_user{
    width: 86%;
    outline: none;
    border: 1px solid lightblue;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background-image: var(--add-button-permission);
}
td.button_box {
    width: 105px;
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, lightgray 100%); */
    opacity: 1;
    border-right: 1px solid lightblue;
}
td.common_td {
    border-right: 1px solid lightblue;
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, lightgray 100%); */
    opacity: 1;
}
th.border_right {
    border-right: 1px solid silver;
}
.card.form-control.inv_form{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.submit-hidden{
    display: none;
}
.add-inv-hidden{
    display: none;
}
div#invedit_data_table_paginate,#inventory_unauthorized_data_table_paginate {
    float: right;
}
select#perItemControl,#perItemControlOne,#perItemControlTwo {
    border: none;
    background-color: #08a05c;
    outline: none;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
}
label.peritem {
    color: darkcyan;
    letter-spacing: 0.5px;
    font-weight: 600;
}
span.status_bg_inv {
    background-color: cadetblue;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    animation: fontColor 1s infinite;
}
@keyframes fontColor{
    50%{
        color: aqua;
    }
    100%{
        background-color: darkblue;
        color: honeydew;
    }
}
span.status_bg_unauthorized {
    background-color: orangered;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    animation: fontColorUnauthorized 1s infinite;
}
@keyframes fontColorUnauthorized{
    50%{
        color: aqua;
    }
    100%{
        background-color: orangered;
        color: white;
    }
}
.table-heading{
    /* background: linear-gradient(120deg,#e5e5e5 30%,#f0f0f0 38%,#f0f0f0 40%,#e5e5e5 48%); */
    background: linear-gradient(120deg,rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
@keyframes load{
    100%{
        background-position: -100% 0;
    }
}

.skeleton{
    position: relative;
}
.skeleton::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg,#eee,#f9f9f9,#eee);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
@keyframes skeleton{
    0%{
        background-position: -100% 0;
    }
    100%{
        background-position: 100% 0;
    }
}

.inventory-bg-color {
    /* background-image: var(--inventory-background-image); */
    background-color: aliceblue;
    opacity: var(--inventory-opacity);
    border: 1px solid lightblue;
}

.tablinkinventory {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.tablinkinventory:hover {
    background-image: var(--inventory-navbar-btn-background-image-hover);
    opacity: var(--inventory-opacity);
    color: var(--inventory-navbar-btn-color);
}
.inventory-seeblue {
    background-image: var(--inventory-navbar-btn-background-image);
    opacity: var(--inventory-opacity);
    color: var(--inventory-navbar-btn-color);
    font-family: futura;
    letter-spacing: 0.5px;
}
#inventory_page {
    border: none;
    background-color: white;
    border-radius: 5px;
    opacity: 1;
    box-shadow: 0px 2px 20px #0001, 0px 1px 6px #0001;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    .table_scroll{
        overflow-x:auto;
    }
    table th#th_sort{
        font-size: 10px;
    }
    button.accordion-button.collapsed.supplier_data_box{
        font-size: 10px;
    }
    .accordion-button:not(.collapsed){
        font-size: 10px;
    }
    td.error_data{
        font-size: 7px;
    }
    .catg{
        font-size: 7px;
    }
    input#inv_id{
        width: 159px;
        font-size:10px;
    }
    select#supplier_id{
        width: 159px;
        font-size:10px;
    }
    select#category_id{
        width: 159px;
        font-size:10px;
    }
    select#group{
        width: 159px;
        font-size:10px;
    }
    select#medicine_name{
        width: 159px;
        font-size:10px;
    }
    select#medicine_dogs{
        width: 159px;
        font-size:10px;
    }
    select#origin_name{
        width: 159px;
        font-size:10px;
    }
    select#product_size{
        width: 159px;
        font-size:10px;
    }
    input.inv_number,input#amount,input#sub_total{
        font-size: 10px;
        margin-left: 5px;
        width: 160px;
    }

    label.date_name_label,label.inv_name_label,label.date_name_label,label.inv_name_label.brand,input.date_field {
        font-size: 10px;
        float: left;
    }
    div.symbole_tk{
        display: none;
    }
    button.btn.btn-sm.cgt_btn,button.btn.btn-sm.cgt_cancel_btn,button.btn.btn-sm.cgt_btn.btn_focus.update_button{
        font-size: 10px;
    }
    p.btn_group{
        margin-right: 19px;
    }
    .custom-drop-item-arrow{
        right: -55px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}