:root{
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#007bff;
    --nav-font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --nav-button-color:white;
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --row-hover-border:dodgerblue;
    --dot-skeletone-bg:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    --animation: css-skeleton-loading;
    --animation-duration:1.4s;
    --animation-background-size:400% 100%;
    --animation-background-position-0:100% 50%;
    --animation-background-position-100:0 50%;
}
.card-body.branch_form {
    box-shadow: 0px 2px 20px #0001;
    padding-bottom: 1px;
}
label.label_position {
    padding: 0px 8px;
}
.form-group.role_nme {
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    padding: 10px 10px;
}
.branch_input {
    color: black;
    font-weight: 600;
    font-size: 13px;
    font-family: var(--nav-font-family);
    border: 1px solid #efeeee;
}
input#branchName,input#branchCode,input#divisionName,input#districtName,input#thanaName,input#townName,
input#location{
    box-shadow: none;
}
input#branchName:focus,input#branchCode:focus,input#divisionName:focus,input#districtName:focus,input#thanaName:focus
,input#townName:focus,input#location:focus{
    border: 1px solid dodgerblue;
}
input#edit_branch_id {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    font-weight: 700;
    font-size: 11px;
    color: dodgerblue;
    font-family: var(--nav-font-family);
}
label.id_label{
    font-size: 12px;
    font-weight: 600;
    color: dodgerblue;
    font-family: var(--nav-font-family);
}
table,thead, tr, td, th {
    border: none;
    box-shadow: none;
}
table.branch_table{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
tbody.branch_table_body{
    border: 1px solid #dfdedeba;
}
tr.fist_row{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
th.branch_font{
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: center;
}
th.branch_search_font{
    font-size: 13px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: left; 
}
th.branch_info_head{
    font-size: 13px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: center; 
    border: 1px solid #dfdede8f;
}
th.lab_padding{
    padding-left: 5px;
}
td.label_position{
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: center;
}
td.first_column{
    padding-left: 5px;
}
td.second_column{
    padding-right: 5px;
}
.user_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform .5s;
}
.user_img:hover{
    transform: scale(5);
}
#updateconfirmbranch,#deletebranch,#deleteconfirmbranch,#accessconfirmbranch{
    transition: transform .5s;
}
td.branch_font {
    text-align: center;
}
td#creatorContent,td#updatorContent,td#approverContent{
    text-align: left;
    padding-left: 5px;
}
input#firstUserEmail,input#firstCreatedBy,input#firstCreatedAt,input#firstApprover,input#secondUserEmail,input#secondCreatedBy,
input#secondUpdateBy,input#secondUpdateAt,input#secondApprover,input#thirdUserEmail,input#thirdUpdateAt,input#thirdUpdateBy,input#thirdApprover{
    outline: none;
    box-shadow: none;
    background: white;
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .5px;
    font-family: var(--nav-font-family);
    text-align: center;
}
input#creatorUserImage,input#creatorUserEmail,input#creatorCreatedBy,input#creatorCreatedAt,input#approverUserImage,input#approverUserEmail,
input#approverApprover,input#approverUpdateAt,input#updatorUserImage,input#updatorUserEmail,input#updatorUpdateBy,input#updatorUpdateAt,
input#brnch_id,input#branch_name,input#branch_type,input#division_id,input#district_id,input#upazila_id,input#town_name,input#location{
    outline: none;
    box-shadow: none;
    background: white;
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    font-family: var(--nav-font-family);
    text-align: left;
}
.branch-skeleton,.branch-delete-skeleton{
    position: relative;
}
.branch-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
.branch-delete-skeleton::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -1px;
    width: 109%;
    height: 109%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
button#update_btn_confirm, button#cate_delete5{
    font-size: 13px;
}
button#access_btn_confirm {
    background: #08a05c;
    color: white;
    font-family: var(--nav-font-family);
    font-size: 13px;
}
button#access_btn_confirm:hover {
    background: #e9e9e9;
    color: #08a05c;
    font-family: var(--nav-font-family);
}
button#acces_delete {
    background: orangered;
    color: white;
    font-family: var(--nav-font-family);
    font-size: 13px;
}
button#acces_delete:hover {
    background: #e9e9e9;
    color: orangered;
    font-family: var(--nav-font-family);
}
button#delete_branch {
    background: orange;
    font-family: var(--nav-font-family);
}
button#delete_branch:hover {
    background: #e9e9e9;
    color: orange;
    font-family: var(--nav-font-family);
}
input#delete_branch_id {
    outline: none;
    border: none;
    font-weight: 600;
    font-family: var(--nav-font-family);
    color: darkcyan;
}
table.info_table {
    background: white;
}
.branch_info_card{
    background-image: linear-gradient(90deg, white, white, white 100%);
    background-color: white;
    box-shadow: 0px 2px 20px #0001;
    border: none;
    border-radius: 5px;

    transform: translate(-50%, -50%);
    position: absolute;
    top: 42%;
    left: 57%;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    animation: slideIn 0.3s ease-out;
}

/* Center Slide-in Effect */
@keyframes slideIn {
    from {transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
input#admin_approval_status,input#sub_admin_approval_status {
    cursor: pointer;
}
