:root{
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#007bff;
    --nav-font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --nav-button-color:white;
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --row-hover-border:dodgerblue;
    --dot-skeletone-bg:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    --animation: css-skeleton-loading;
    --animation-duration:1.4s;
    --animation-background-size:400% 100%;
    --animation-background-position-0:100% 50%;
    --animation-background-position-100:0 50%;
}
button.button_margin{
    margin-top: 5px;
}
button#pagePermision,button#add {
    height: 2.03em;
}
span.permission-page-btn-text,span.permission-page-btn-text {
    line-height: 1;
}
.highlight {
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    background-color: white;
    /* background-image: linear-gradient(5deg, #dbd8d8db, transparent 3%, #d3d3d3c4, white); */
    outline: none;
    border: none;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 700;
    border-top: 0.5px solid lightblue;
    border-bottom: 0.5px solid lightblue;
}
.bg-dark-cornflowerblue {
    opacity: 1;
    background-color: cornflowerblue !important;
}
.bage_display {
    display: inline-block;
}
.bage_display_none{
    display: none;
}
#userNum,#roleNum {
    letter-spacing: 1px;
}
#userImage {
    background: cornflowerblue;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    padding-left: 2px;
    line-height: 1.4;
}
.menu li:focus, 
.menu li:focus-visible {
    background-color: lightcyan;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
.list_head {
    background: linear-gradient(35deg, lightcyan, lightcyan, lightcyan 100%);
    color: black;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 800;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    padding: 1px;
    padding-left: 18px;
    text-align: center;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    text-transform: uppercase;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.second_list_head{
    background: linear-gradient(35deg, lightcyan, lightcyan, lightcyan 100%);
    color: black;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 800;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    padding: 1px;
    padding-left: 18px;
    text-align: center;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    text-transform: uppercase;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
button.cls_btn{
    color: black;
    background: linear-gradient(35deg, lightcyan, lightcyan, lightcyan 100%);
    line-height: .5;
    border-radius: 2px;
    height: 23px;
    outline: none;
    border: none;
}
button.cls_btn:hover{
    background: orangered;
    color: white;
}
div.responsive {
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 400px;
}
.enter-focus,.role_enter_press,.email_enter_press{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    animation-name: link_focus;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-play-state: running;
    -o-animation-direction: alternate-reverse; 
    font-family: var(--nav-font-family);
}
@keyframes link_focus {
    0%{
        color: #007bff;
    }
    50%{
        color: darkgray;
    }
    100%{
        color: black;
    }
}
.branch_access{
    background: radial-gradient(farthest-corner at 100px 100px, #fff,#fff);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 5;
}
.text_label{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: black;
    font-family: var(--nav-font-family);
}
ul#user_branch_menu {
    background-color: white;
}
.branch_head_label{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: black;
    font-family: var(--nav-font-family);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}
#branch_info{
    padding: 0px 15px !important;
    background-color: #bdbdbd30;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border-bottom: 1px solid #d3d3d3ad;
    border-left: 3px solid darkcyan;
}
#Creator,#updator{
    padding: 0px 15px !important;
    background-color: #bdbdbd30;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border-bottom: 1px solid #d3d3d3ad;
    border-top: 1px solid #d3d3d3ad;
    border-left: 3px solid darkcyan;
}
span.word_space {
    padding-left: 12px;
}
ul.table-responsive{
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 300px;
}
ul#branch_menu{
    /* background: linear-gradient(5deg, #dbd8d8db, transparent 3%, #d3d3d3c4, white); */
    /* background: linear-gradient(5deg, white, #e5e5e5c9, white 100%, #d3d3d391); */
    background: linear-gradient(5deg, white, #e5e5e552, white 100%, #d3d3d378);
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    opacity: 5;
}
ul#role_menu{
    /* background: linear-gradient(5deg, #dbd8d8db, transparent 3%, #d3d3d3c4, white); */
    /* background: linear-gradient(5deg, white, #e5e5e5c9, white 100%, #d3d3d391); */
    background: linear-gradient(5deg, white, #e5e5e552, white 100%, #d3d3d378);
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    opacity: 5;
}
ul#email_menu{
    /* background: linear-gradient(5deg, #dbd8d8db, transparent 3%, #d3d3d3c4, white); */
    /* background: linear-gradient(5deg, white, #e5e5e5c9, white 100%, #d3d3d391); */
    background: linear-gradient(5deg, white, #e5e5e552, white 100%, #d3d3d378);
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    opacity: 5;
}
ul#branch_menu>li {
    margin: 0;
    list-style-type: none;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    /* background-color: var(--bs-list-group-bg); */
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
ul#role_menu>li {
    margin: 0;
    list-style-type: none;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    /* background-color: var(--bs-list-group-bg); */
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
ul#email_menu>li {
    margin: 0;
    list-style-type: none;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    /* background-color: var(--bs-list-group-bg); */
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
ul#user_branch_menu>li, ul#usrMenu>li{
    margin: 0;
    list-style-type: none;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    /* background-color: var(--bs-list-group-bg); */
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: black;
    text-decoration: none;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 700;

}
.group {
    background-color: lightcyan;
    border-bottom: 1px double darkgray;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    color: black;
    font-weight: 700;
    font-family: var(--nav-font-family);
}
.list_group {
    --bs-list-group-color: #212529;
    --bs-list-group-bg: #fff;
    --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-radius: 0.375rem;
    /* --bs-list-group-border-radius: 0rem; */
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.1rem;
    --bs-list-group-item-info-padding-x: 0.1rem;
    --bs-list-group-item-info-padding-y: 0rem;
    --bs-list-group-action-color: #495057;
    --bs-list-group-action-hover-color: #495057;
    --bs-list-group-action-hover-bg: #f8f9fa;
    --bs-list-group-action-active-color: #212529;
    --bs-list-group-action-active-bg: #e9ecef;
    --bs-list-group-disabled-color: #6c757d;
    --bs-list-group-disabled-bg: #fff;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    /* border-radius: var(--bs-list-group-border-radius); */
    border-top-left-radius: 0rem;
    border-top-right-radius: orem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
ul#branch_info>li{
    margin: 0;
    list-style-type: none;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    /* background-color: var(--bs-list-group-bg); */
    padding: var(--bs-list-group-item-info-padding-y) var(--bs-list-group-item-info-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    font-family: var(--nav-font-family);
    font-size: 12px;
    font-weight: 700;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
ul#branch_menu>li:hover,ul#role_menu>li:hover,ul#email_menu>li:hover{
    background: linear-gradient(35deg, lightcyan, lightcyan, lightcyan 100%);
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
ul>li#firstRow{
    border-top: 1px solid lightgray;
}
ul>li#lastRow{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.branch-info {
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, #fff 100%);
    padding: 10px 10px;
}
th.table_head_position{
    margin: 0;
    position: relative;
    text-align: center;
    background: linear-gradient(35deg, #cce7ff, #cce7ff, #cce7ff 100%);
    border-top: 2px solid #cce7ff;
    border-left: 2px solid #cce7ff;
    border-right: 2px solid #cce7ff;
}
th.head_position_left{
    margin: 0;
    position: relative;
    text-align: left;
    background: linear-gradient(35deg, #cce7ff, #cce7ff, #cce7ff 100%);
    border-top: 2px solid white;
    border-left: 2px solid #cce7ff;
    border-right: 2px solid white;
    border-bottom: 2px solid #cce7ff;
    padding-left: 5px;
}
th.head_position_right{
    margin: 0;
    position: relative;
    text-align: left;
    background: linear-gradient(35deg, #cce7ff, #cce7ff, #cce7ff 100%);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #cce7ff;
    border-bottom: 2px solid #cce7ff;
    padding-left: 5px;
}
tr.info-table-row{
    border: 2px solid #cce7ff;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    background: linear-gradient(35deg, #cce7ff, #cce7ff, #cce7ff 100%);
    opacity: 5;
    font-family: var(--nav-font-family);
    color: black;
}
td.info-element{
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    background: linear-gradient(35deg, #fff, #fff, #fff 100%);
    opacity: 5;
    font-family: var(--nav-font-family);
    color: black;
    border-collapse: collapse;
}
td.td_with{
    width: 20%;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    border-collapse: collapse;
    background: linear-gradient(35deg, #fff, #fff, #fff 100%);
}
.table-animation{
    transform: translate(-50%, -50%);
    position: relative;
    top: 49%;
    left: 50%;
    width: 100%;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    animation: slideIn 0.3s ease-out;
}
@keyframes slideIn {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
    
    100% {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 1;
    }
}
.button_group{
    display: flex;
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
}
.button_bx{
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
}
.card-body.branch_form {
    box-shadow: 0px 2px 20px #0001;
    padding-bottom: 1px;
}
label.label_position {
    padding: 0px 8px;
}
.form-group.role_nme {
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    padding: 10px 10px;
}
.branch_input {
    color: black;
    font-weight: 600;
    font-size: 13px;
    font-family: var(--nav-font-family);
    border: 1px solid #efeeee;
}
input#branchName,input#branchCode,input#divisionName,input#districtName,input#thanaName,input#townName,
input#location{
    box-shadow: none;
}
input#branchName:focus,input#branchCode:focus,input#divisionName:focus,input#districtName:focus,input#thanaName:focus
,input#townName:focus,input#location:focus{
    border: 1px solid dodgerblue;
}
input#edit_branch_id {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    font-weight: 700;
    font-size: 11px;
    color: dodgerblue;
    font-family: var(--nav-font-family);
}
label.id_label{
    font-size: 12px;
    font-weight: 600;
    color: dodgerblue;
    font-family: var(--nav-font-family);
}
table,thead, tr, td, th {
    border: none;
    box-shadow: none;
}
table.branch_table{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
tbody.branch_table_body{
    border: 1px solid #dfdedeba;
}
tr.fist_row{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
th.branch_font{
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: center;
}
th.branch_search_font{
    font-size: 13px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: left; 
    background: linear-gradient(35deg, #cce7ff, #cce7ff, #cce7ff 100%);
}
th.branch_info_head{
    font-size: 13px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: center; 
    border-bottom: 2px solid lightblue;
    background: linear-gradient(35deg, #cce7ff, #cce7ff, #cce7ff 100%);
}
th.lab_padding{
    padding-left: 5px;
}
td.label_position{
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-family: var(--nav-font-family); 
    text-align: center;
}
td.first_column{
    padding-left: 5px;
}
td.second_column{
    padding-right: 5px;
}
button.btn-close.cols_btn {
    box-shadow: none;
    outline: none;
}
.user_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform .5s;
}
.user_img:hover{
    transform: scale(5);
}
#updateconfirmbranch,#deletebranch,#deleteconfirmbranch,#accessconfirmbranch{
    transition: transform .5s;
}
td.branch_font {
    text-align: center;
}
td#creatorContent,td#updatorContent,td#approverContent{
    text-align: left;
    padding-left: 5px;
}
input#firstUserEmail,input#firstCreatedBy,input#firstCreatedAt,input#firstApprover,input#secondUserEmail,input#secondCreatedBy,
input#secondUpdateBy,input#secondUpdateAt,input#secondApprover,input#thirdUserEmail,input#thirdUpdateAt,input#thirdUpdateBy,input#thirdApprover{
    outline: none;
    box-shadow: none;
    background: white;
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .5px;
    font-family: var(--nav-font-family);
    text-align: center;
}
input#creatorUserImage,input#creatorUserEmail,input#creatorCreatedBy,input#creatorCreatedAt,input#approverUserImage,input#approverUserEmail,
input#approverApprover,input#approverUpdateAt,input#updatorUserImage,input#updatorUserEmail,input#updatorUpdateBy,input#updatorUpdateAt,
input#brnch_id,input#branch_name,input#branch_type,input#division_id,input#district_id,input#upazila_id,input#town_name,input#location{
    outline: none;
    box-shadow: none;
    background: white;
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    font-family: var(--nav-font-family);
    text-align: left;
}
.branch-skeleton,.branch-delete-skeleton{
    position: relative;
}
.branch-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
.branch-delete-skeleton::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -1px;
    width: 109%;
    height: 109%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
button#update_btn_confirm, button#cate_delete5{
    font-size: 13px;
}
button#access_btn_confirm {
    background: #08a05c;
    color: white;
    font-family: var(--nav-font-family);
    font-size: 13px;
}
button#access_btn_confirm:hover {
    background: #e9e9e9;
    color: #08a05c;
    font-family: var(--nav-font-family);
}
button#acces_delete {
    background: orangered;
    color: white;
    font-family: var(--nav-font-family);
    font-size: 13px;
}
button#acces_delete:hover {
    background: #e9e9e9;
    color: orangered;
    font-family: var(--nav-font-family);
}
button#delete_branch {
    background: orange;
    font-family: var(--nav-font-family);
}
button#delete_branch:hover {
    background: #e9e9e9;
    color: orange;
    font-family: var(--nav-font-family);
}
input#delete_branch_id {
    outline: none;
    border: none;
    font-weight: 600;
    font-family: var(--nav-font-family);
    color: darkcyan;
}
.brn_info_tb {
    border: 2px solid lightblue;
}
.action_group{
    position: relative;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
}
button.btn-close.btn-btn-sm.bg-danger.cols_btn {
    width: 30px;
}
button#permission_btn,button#branch_change_btn,button#access_update_btn,button#access_branch_delete,button#cancle_access{
    font-family: var(--nav-font-family);
}
button#permission_btn:hover,button#branch_change_btn:hover{
    background-image: linear-gradient(to bottom, rgb(14 14 14 / 5%) 0%, rgb(171 165 165 / 5%) 100%);
    color: #0056b3;
    transition: all 1s;
}
button#access_update_btn:hover{
    background-image: linear-gradient(to bottom, rgb(14 14 14 / 5%) 0%, rgb(171 165 165 / 5%) 100%);
    color: darkcyan;
    transition: all 1s;
}
button#access_branch_delete:hover, button#cancle_access:hover{
    background-image: linear-gradient(to bottom, rgb(14 14 14 / 5%) 0%, rgb(171 165 165 / 5%) 100%);
    color: orangered;
    transition: all 1s;
}
button.btn.btn-sm.delete_bg_btn{
    background-color:#c73500;
}
.group-branch-skeleton,.mn-branch-skeleton{
    position: relative;
}
.mn-branch-skeleton::before{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 108%;
    height: 108%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton; 
}
.group-branch-skeleton::before{
    content: "";
    position: absolute;
    left: -2px;
    top: -1px;
    width: 106%;
    height: 111%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
table.info_table {
    background: white;
}
span.tb_lb {
    margin-left: 2px;
}
.branch_info_card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
    border: none;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 48%;
    left: 50%;
    width: 100%;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    animation: slideIn 0.3s ease-out;
}

/* Center Slide-in Effect */
@keyframes slideIn {
    from {transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 1;
    }
}
input#admin_approval_status,input#sub_admin_approval_status {
    cursor: pointer;
}
span#adminSt {
    color: green;
    font-weight: 600;
}
span#adminStTwo {
    color: orangered;
    font-weight: 600;
}
label#subAdminSt {
    color: green;
    font-weight: 600;
}
label#subAdminStTwo {
    color: orangered;
    font-weight: 600;
}
/* user-access-permission */
.card-body.user_access_branch_form {
    background-image: radial-gradient(farthest-corner at 100px 100px, #fff,#fff);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
}
a#tabHome {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-transform: capitalize;
    font-variant: all-petite-caps;
    padding: 5px 10px;
    margin-top: 6px;
}
a#tabAccess{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-transform: capitalize;
    font-variant: all-petite-caps;
    padding: 5px 10px;
    margin-top: 6px;
}
a#refresh{
    background-color: lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    text-transform: capitalize;
    font-variant: all-petite-caps;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 6px;
}
a#refresh:hover{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: rebeccapurple;
}
.nav-link.branch.active{
    background-color: lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 500;
    color: rebeccapurple;
    text-transform: capitalize;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    text-transform: capitalize;
    font-variant: all-petite-caps;
    border: 1px solid white;
    border-radius: 3px;
}
.nav-link.branch:hover{
    background-color: lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 500;
    color: rebeccapurple;
    text-transform: capitalize;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    text-transform: capitalize;
    font-variant: all-petite-caps;
    border: 1px solid white;
    border-radius: 3px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}


