:root{
    --nav-button-background:linear-gradient(to top, #3b71ca, #3b71ca, #3b71ca);
    --mdb-btn-border-color:#007bff;
    --nav-font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --nav-button-color:white;
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
    --row-hover-border:dodgerblue;
    --dot-skeletone-bg:linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
    --animation: css-skeleton-loading;
    --animation-duration:1.4s;
    --animation-background-size:400% 100%;
    --animation-background-position-0:100% 50%;
    --animation-background-position-100:0 50%;
}
.card-body.branch_form {
    box-shadow: 0px 2px 20px #0001;
    padding-bottom: 1px;
}
label.label_position {
    padding: 0px 8px;
}
.form-group.role_nme {
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    padding: 10px 10px;
}
.branch_input {
    color: black;
    font-weight: 600;
    font-size: 13px;
    font-family: var(--nav-font-family);
    border: 1px solid #efeeee;
}
input#branchName,input#branchCode,input#divisionName,input#districtName,input#thanaName,input#townName,
input#location{
    box-shadow: none;
}
input#branchName:focus,input#branchCode:focus,input#divisionName:focus,input#districtName:focus,input#thanaName:focus
,input#townName:focus,input#location:focus{
    border: 1px solid dodgerblue;
}
