:root{
    --table-row-hover:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --bg-color:purple;
    --color:royalblue;
    --size:1px;
    --font-weight:500;
    --apperence-app-setting-bg:linear-gradient(to bottom, silver, transparent,silver,lightgray);
    --drop-border-bg-color:royalblue;
}
.custom-select{
    position: relative;
}

.custom-drop-item-arrow{
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    width: 1rem;
    height: 100%;
    background-image: var(--apperence-app-setting-bg);
    pointer-events: none;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}
.custom-drop-item-arrow::before,.custom-drop-item-arrow::after{
    --size:0.5em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
.custom-drop-item-arrow::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--drop-border-bg-color);
    top: 20%;
}
.custom-drop-item-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid var(--drop-border-bg-color);
    top: 35%;
}
label.tot-search {
    font-size: 11px;
    letter-spacing: 0.9px;
}
div.item {
    line-height: 3.5;
}
.supp_name_label{
    font-family: math;
    font-size: 0.9vw;
    letter-spacing: 0.9px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}
input#type {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
    /* animation: textColor 1s infinite; */
}
input#bussiness_type {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#name {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#office_address {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#current_address {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#contact_number_one {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#contact_number_two {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#whatsapp_number {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
input#email {
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
.delete_content{
    animation: fncolor 6s infinite;
}
@keyframes fncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        color: black;
    }
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        color: black;
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
button.supplier_data_box {
    color: black;
    font-weight: 600;
    background-color: #f1f1f1;
    font-family: math;
    font-size: 0.9vw;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 0.5px;
}
div#supplier_data_table_paginate {
    float: right;
}
span#total_supplier_records {
    font-weight: 600;
    color: darkcyan;
}
input#delete_supplier_id {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 12px;
}
label.search.ser_labe {
    color: darkcyan;
    font-weight: 600;
}
.supplier_check_permission{
    cursor: pointer;
}
.light-focus{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
    animation: color_focus 3s infinite;
}
@keyframes color_focus{
    0%{
        background-color: #f1f1f1;
    }
    50%{
        background-color: orangered;
    }
    100%{
        background-color: orangered;
    }
}
.light2-focus{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
    animation: color2_focus 1s infinite;
}
@keyframes color2_focus{
    0%{
        background-color: #f1f1f1;
    }
    50%{
        background-color: azure;
    }
    100%{
        background-color: lightblue;
    }
}
.type-hidden{
    display: none;
}
.bussiness-hidden{
    display: none;
}
.name-hidden{
    display: none;
}
.office-hidden{
    display: none;
}
.curradress-hidden{
    display: none;
}
.contact1-hidden{
    display: none;
}
.contact2-hidden{
    display: none;
}
.whatsapp-hidden{
    display: none;
}
.email-hidden{
    display: none;
}

.loader_chart{
    background-color: orange;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    border-bottom: 6px solid darkgreen;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
    margin-top: -1.5em;
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
button.btn.btn-sm.btn_focus {
    animation: btnFocus 1s infinite;
}
@keyframes btnFocus{
    0%{
      color: darkcyan;  
    }
    100%{
        background-image: linear-gradient(to bottom, rgb(14 14 14 / 5%) 0%, rgb(171 165 165 / 5%) 100%);
    }
}