:root{
    --search-box-background-color:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, #e1e1e1, rgba(0, 0, 0, 0.05) 100%);
    --table-head-color:linear-gradient(0deg, #dbd8d8db, transparent 3%, #d3d3d3c4, white);
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, transparent 80%, rgba(0, 0, 0, 0.05) 100%);
    --bg-color:darkgoldenrod;
    --color:royalblue;
    --size:1px;
    --font-weight:500;
    --sub-category-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family: var(--sub-category-font-family);
}
.display-none{
    display:none;
}
.input-group {
    position: relative;
    width: 100%;
}
.input-group input#sub_category_name{
    font-family: var(--sub-category-font-family) !important;
    outline: none !important;
    width: 100% !important;
    /* padding: 2px 9px !important; */
    border-radius: 3px !important;
    /* font-size: 11px !important; */
    font-weight: 700 !important;
    color: #333 !important;
    background-color: white !important;
    letter-spacing: 0.5px !important;
    word-spacing: 0.5px !important;
    animation: inputColor 2s infinite !important;
    margin-left:0 !important;
}
@keyframes inputColor {
    0% {
        color: gray;
    }

    100% {
        color: #333;
    }
}
.input-group label {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 0;
    pointer-events: none;
    transition: 0.3s ease-out;
    color: rgb(131 131 131);
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--sub-category-font-family);
}
.input-group input#sub_category_name:focus ~ label,.input-group input#sub_category_name:not(:placeholder-shown) ~ label
{
    top: 0;
    left: 8px;
    font-size: 9px;
    font-weight: 800;
    color: #333;
    background-color: rgb(255 255 255 / 85%);
    padding: 0 3px;
    word-spacing: 2px;
}
.input-group input#sub_category_name{
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 25px !important;
    user-select: none;
    -webkit-user-select: none;
    font-family: var(--sub-category-font-family);
    font-weight: 700;
    font-size: 13px !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 4px;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    box-shadow: 0px 2px 20px #0001;
    background-image: linear-gradient(to bottom, white 0%, white, white 100%);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
    line-height: 20px !important;
    border-collapse: collapse !important;
    width: 100% !important;
    font-weight: 700;
    font-family: var(--sub-category-font-family);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-image: linear-gradient(-120deg, rgba(230, 230, 230, 0.05) 0%,rgb(241, 241, 241), rgba(0, 0, 0, 0.05) 0%);
    color: #0056b3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    transition: 1s;
    --mdb-box-shadow-color-rgb: 0, 0, 0;
    box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}
span.tot_summ {
    margin-top: 7px;
}
table, th, td {
    border-collapse: collapse;
    font-size: 14px;
    opacity: 1;
    font-family: var(--sub-category-font-family);
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
    font-variant: all-petite-caps;
}
th#th_sort {
    background-image: var(--table-head-color);
    color: #333;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: aliceblue;
    white-space: nowrap;
}
tr > th.tableHead {
    font-weight: 800;
}
.item_amount{
    font-size: 11px;
    font-weight: 600;
    font-family: var(--sub-category-font-family);
}
.cat_nme{
    text-align: left;
}
.skeleton-card-head-capsule-two,.skeleton-card-head-labl-two,.skeleton-card-head-two,.total-record-skeletone,.peritem-skeletone,
.pill-skeletone,.pill-label-skeletone{
    position: relative;
}
.total-record-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 23px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.peritem-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 53px;
    height: 22px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.pill-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 53px;
    height: 15px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.pill-label-skeletone::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 23px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 25px;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-labl-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
.skeleton-card-head-capsule-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse focus_skeleton;
    border-radius: 3px;
}
@keyframes focus_skeleton {
    0% {
        background-position: -100% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
tr.table-row.user-table-row{
    background-color: white;
}
tr.table-row.user-table-row:hover{
    background-image: var(--table-row-hover);
    color: var(--color);
    font-weight: var(--font-weight);
}
tr.table-row:hover td#sub_td4,tr.table-row.user-table-row.td#sub_td4 {
    position: relative;
}
tr.table-row:hover td#sub_td4::after,tr.table-row.user-table-row.td#sub_td4::after {
    content: "\f304";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    /* right: 30px; */
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    text-align: center;
    opacity: 5;
}
tbody#subcategory_data_table {
    color: black;
    font-weight: 500;
}
.td-capsule-skeleton{
    background:linear-gradient(90deg,#f3f3f3,rgba(250, 250, 250, 0.05) 100%);
    background-size:200% 100%;
    background-position:100% 0;
    animation:2s infinite load
}
@keyframes load{
    100%{
        background-position:-100% 0
    }
}
input#sub_category_name {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(1em + 2px + 0.5rem);
    line-height: 1;
    font-size: 13px;
    box-shadow: none;
    font-weight: 700;
    color: #333;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    font-family: var(--sub-category-font-family);
}
input#sub_category_name:focus{
    border-color: #0056b3;
    outline: 1px solid #0056b3 !important;
    color: #0056b3 !important;
    transition: border 0.3s ease-in-out;
}
#savForm_error, #updateForm_errorList,.cat_nme {
    position: absolute;
    font-size: 12px;
    color: rgb(51, 51, 51);
    text-align: left;
    font-weight: 600;
    font-family: var(--sub-category-font-family);
}
.group_btn_box {
    min-height: 30px;
}
.is-valid{
    border-color: #198754;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border: 1px solid rgb(25, 135, 84) !important;
    transition: border 0.3s ease-in-out !important;
}
.is-invalid{
    border-color: rgb(220, 53, 69) !important;
    border: 1px solid rgb(220, 53, 69) !important;
    transition: border 0.3s ease-in-out !important;
}
.is-select-valid{
    border-color: #198754;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border: 1px solid rgb(25, 135, 84) !important;
    transition: border 0.3s ease-in-out !important;
    border-radius: 5px !important;
}
.is-select-invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border-color: rgb(220, 53, 69) !important;
    border: 1px solid rgb(220, 53, 69) !important;
    transition: border 0.3s ease-in-out !important;
    border-radius: 5px !important;
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input#category_id {
    width: 100%;
    min-height: calc(1em + 2px + 0.5rem);
    line-height: 1;
    font-size: 13px;
    box-shadow: none;
    font-weight: 600;
    color: black;
    outline: none;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    font-family: var(--sub-category-font-family);
}
.paginate-skeleton{
    position: relative;
}
.paginate-skeleton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 100%;
    height: 50%;
    z-index: 10;
    background: linear-gradient(90deg, #b3b3b3, #f9f9f9, #b3b3b3);
    background-size: 200%;
    animation: 1s infinite reverse skeleton;
}
span#total_subcategory_records {
    color: white;
    font-weight: 700;
}
label.tot-search {
    color: black;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-family: var(--sub-category-font-family);
}
label.badg{
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--sub-category-font-family);
}
input#search_area_ {
    outline: none;
    box-shadow: none;
    background-color: lightgray;
    border: none;
}
label.catg_ser_label {
    color: black;
    font-weight: 600;
    font-size: 13px;
    font-family: var(--sub-category-font-family);
}
.cat-search-hidden{
    display: none;
}
input#cat_search{
    background-image: var(--search-box-background-color);
    border: 1px solid #f1eeee;
    box-shadow: 0px 2px 20px #0001;
    outline: none;
    border-radius: 5px;
    animation: focus_color 3s linear infinite;
    font-family: var(--sub-category-font-family);
    width: 100%;
}
select#perItemControls {
    outline: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    border-radius: 3px;
    width: 50px;
    font-family: var(--sub-category-font-family);
    border: 1px solid lightgray;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: orangered;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
input.form-switch.form-check-input {
    margin-top: 1px;
    outline: none;
    box-shadow: none;
}
span#total_cat_records {
    color: darkcyan;
}
td.cat_td {
    border-left: 1px solid silver;
}
span.tot_summ {
    margin-top: 3px;
}
th#group_nam5,th#group_nam4 {
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-color);
    border: 1px solid silver;
    font-size: 14px;
}
label#iteam_label4 {
    font-size: 11px;
}
th.catn{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
div#tb_subcatg {
    box-shadow: 0px 2px 20px #0001;
    border: none;
}
th.align {
    text-align: center;
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-color);
    border: 1px solid silver;
}
td.align {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
label.sub_catg{
    float: left;
}
div#subcategory_data_table_paginate {
    float: right;
}
.subcategory-hidden{
    display: none;
}
.subcategoryid-hidden{
    display: none;
}
input#delete_sub_category_id {
    outline: none;
    border: none;
    font-weight: 700;
    font-family: sans-serif;
    color: #000000;
    font-size: 13px;
}
.delete-hidden{
    display: none;
}
tr>th.tableHead {
    font-weight: 800;
}
a#showCategory {
    font-size: 12px;
    font-weight: 600;
    color: darkcyan;
}
div.link{
    text-align: right;
    margin-top: 5px;
}
.display_hidden{
    display: none;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showCategory{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}