:root{
    --search-box-background-color:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, #e1e1e1, rgba(0, 0, 0, 0.05) 100%);
    --table-head-color:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, aliceblue, rgba(0, 0, 0, 0.05) 100%);
    --table-row-hover:linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, aliceblue, rgba(0, 0, 0, 0.05) 100%);
    --bg-color:purple;
    --color:royalblue;
    --size:1px;
    --font-weight:500;
}
table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 1;
}

tr.table-row.user-table-row{
    background-color: white;
}
tr.table-row.user-table-row:hover{
    background-image: var(--table-row-hover);
    color: var(--color);
    border-left: var(--size) solid var(--bg-color);
    font-weight: var(--font-weight);
}
tbody#subcategory_data_table {
    color: black;
    font-weight: 500;
}
.td-capsule-skeleton{
    background:linear-gradient(90deg,#f3f3f3,rgba(250, 250, 250, 0.05) 100%);
    background-size:200% 100%;
    background-position:100% 0;
    animation:2s infinite load
}
@keyframes load{
    100%{
        background-position:-100% 0
    }
}
input#sub_category_name {
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
@keyframes supfncolor{
    0%{
        color: gray;
    }
    50%{
        color: darkcyan;
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
input#category_id {
    outline: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
    animation: supfncolor 6s infinite;
    font-size: 12px;
    box-shadow: none;
    font-weight: 500;
    border-top: 1px solid #f1eeee;
    border-bottom: 1px solid #f1eeee;
    border-left: 1px solid #f1eeee;
    border-right: 1px solid #f1eeee;
    color: black;
}
span#total_subcategory_records {
    color: white;
    font-weight: 700;
}
label.tot-search {
    color: black;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
input#search_area_ {
    outline: none;
    box-shadow: none;
    background-color: #08a05c;
    border: none;
}
label.catg_ser_label {
    color: black;
    font-weight: 600;
    font-size: 13px;
}
.cat-search-hidden{
    display: none;
}
input#cat_search{
    background-image: var(--search-box-background-color);
    border: 1px solid #f1eeee;
    box-shadow: 0px 2px 20px #0001;
    outline: none;
    border-radius: 5px;
    animation: focus_color 3s linear infinite;
}
@keyframes focus_color{
    50%{
        color: darkcyan;
        background-color: #fff;
    }
    100%{
        color: orangered;
        background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
}
select#perItemControls {
    outline: none;
    box-shadow: none;
    border: 1px solid #08a05c;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: #08a05c;
    border-radius: 2px;
    width: 63px;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: orangered;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
input.form-switch.form-check-input {
    margin-top: 1px;
    outline: none;
    box-shadow: none;
}
span#total_cat_records {
    color: darkcyan;
}
td.cat_td {
    border-left: 1px solid silver;
}
th#group_nam5 {
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-color);
    border: 1px solid silver;
}
.pagination, .datatable-pagination ul {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 0.5rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: lightseagreen;
    --bs-pagination-active-border-color: lightseagreen;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
    font-weight: 600;
}
label#iteam_label4 {
    font-size: 11px;
}
th.catn{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
div#tb_subcatg {
    box-shadow: 0px 2px 20px #0001;
    border: none;
}
th.align {
    text-align: center;
    /* background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); */
    background-image: var(--table-head-color);
    border: 1px solid silver;
}
td.align {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
label.sub_catg{
    float: left;
}
div#subcategory_data_table_paginate {
    float: right;
}
.subcategory-hidden{
    display: none;
}
.subcategoryid-hidden{
    display: none;
}
input#delete_sub_category_id {
    outline: none;
    border: none;
    font-weight: 600;
}
.delete-hidden{
    display: none;
}
a#showCategory {
    font-size: 12px;
    font-weight: 600;
    color: darkcyan;
}
div.link{
    text-align: right;
    margin-top: 3px;
}
@media (min-width:300px) and (max-width:480px){
    label.ser_label{
        font-size: 10px;
    }
    a#showCategory{
        font-size: 10px;
    }
    span#search_off{
        font-size: 10px;
    }
    span#search_on{
        font-size: 10px;
    }
    label.tot-search{
        font-size: 10px;
    }
    input#search{
        font-size: 10px;
    }
    tr.user-table-row{
        font-size: 10px;
    }
    div#brand_data_table_paginate {
        font-size: 10px;
    }
    span#success_message{
        font-size: 10px;
    }
}